/* Small size notificators (not image) (settings, quests, etc.) */

.ItemNotificationMarkerStyle-base {
	background-color: var(--severitium-main-color);
}

/* Small notificators (containers) */

[class*="container"i][class*="navigation"i] .MenuComponentStyle-commonBlock + span {
	background-color: var(--severitium-main-color);
}

/* Small notificators (top panel with 'links' in quests, pro-battles, etc.) */

.MenuComponentStyle-mainMenuItem + span {
	background-color: var(--severitium-main-color);
}

/* Lobby main menu notificators */

.MainScreenComponentStyle-blockMainMenu > ul > li > svg.severitium-notificator-icon {
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	right: 0;
	height: 2em;
	width: 2em;
	margin: 0;
	padding: 0;
}

/* Main menu original icon */

.MainScreenComponentStyle-blockMainMenu > ul > li > .PrimaryMenuItemComponentStyle-notificationIconNewNews {
	display: none;
}

/* Main menu custom icon inner circle */

.MainScreenComponentStyle-blockMainMenu > ul > li:has(> .PrimaryMenuItemComponentStyle-notificationIconNewNews) span[class*="name"i]::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	opacity: 1;
	right: 0;
	height: .6em;
	width: .6em;
	margin: 0;
	padding: 0;
	margin-right: .2em;
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>');
	background-color: var(--severitium-main-color);
	transition: opacity .2s ease;
}

/* Main menu custom icon outer circle */

.MainScreenComponentStyle-blockMainMenu > ul > li:has(> .PrimaryMenuItemComponentStyle-notificationIconNewNews) span[class*="name"i]::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	opacity: .25;
	right: 0;
	height: 1em;
	width: 1em;
	margin: 0;
	padding: 0;
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>');
	background-color: var(--severitium-main-color);
	transition: opacity .2s ease;
}

/* Main menu custom icon inner circle when discoun icon appears */

.MainScreenComponentStyle-blockMainMenu > ul > li:has(> .PrimaryMenuItemComponentStyle-notificationIconNewNews):has(span[class*="discount"i]) span[class*="name"i]::before,
.MainScreenComponentStyle-blockMainMenu > ul > li:has(> .PrimaryMenuItemComponentStyle-notificationIconNewNews):has(span[class*="discount"i]) span[class*="name"i]::after {
	right: -1.5em;
}

/* Notificator icon on item hover */

.MainScreenComponentStyle-blockMainMenu > ul > li:hover > span[class*="name"i]::before,
.MainScreenComponentStyle-blockMainMenu > ul > li:hover > span[class*="name"i]::after {
	opacity: 0;
}

/* Footer menu original icon */

.FooterComponentStyle-footer li > .MainScreenComponentStyle-new {
	display: none;
}

/* Footer menu custom notification border */

.FooterComponentStyle-footer li:has(> .MainScreenComponentStyle-new) > div {
	-webkit-animation: blink-notificator 1s cubic-bezier(.1,.7,.3,.9) infinite;
			animation: blink-notificator 1s cubic-bezier(.1,.7,.3,.9) infinite;
}

/* Blinking animation for border "notificator" */

@-webkit-keyframes blink-notificator {
	0%, 100% {
		opacity: 1;
	} 50% {
		opacity: .25;
	}
}

@keyframes blink-notificator {
	0%, 100% {
		opacity: 1;
	} 50% {
		opacity: .25;
	}
}

/* News original notificator icon */

.NewsComponentStyle-newsItemHeader .NewsComponentStyle-newsItemDate > img[src*="circle"i] {
	display: none;
}

/* News custom icon inner circle */

.NewsComponentStyle-newsItemHeader .NewsComponentStyle-newsItemDate:has(> img[src*="circle"i])::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	right: .5em;
	opacity: 1;
	height: 1em;
	width: 1em;
	margin: 0;
	padding: 0;
	margin-right: .5em;
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>');
	background-color: var(--severitium-main-color);
	transition: opacity .2s ease;
}

/* News custom icon outer circle */

.NewsComponentStyle-newsItemHeader .NewsComponentStyle-newsItemDate:has(> img[src*="circle"i])::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	right: .5em;
	opacity: .25;
	height: 2em;
	width: 2em;
	margin: 0;
	padding: 0;
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>');
	background-color: var(--severitium-main-color);
	transition: opacity .2s ease;
}