/* Collab logo on the lobby header */

.UserInfoContainerStyle-blockForIconTankiOnline::before {
	display: block;
	content: '';
	height: 4em;
	width: 100%;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-position: center;
			mask-position: center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	background-color: var(--severitium-white-color);
	-webkit-mask-image: var(--severitium-general-social-tankionline-logo-collab-icon);
			mask-image: var(--severitium-general-social-tankionline-logo-collab-icon);
}