/* Buttons container */

.FooterComponentStyle-footer ul {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin-left: 5em;
	padding: 0;
	gap: 1em;
}

/* Single button */

.FooterComponentStyle-footer ul > li {
	position: relative;
	width: auto;
	height: auto;
	padding: 1.5em;
}

/* Button on hover */

.FooterComponentStyle-footer ul > li:hover {
	width: auto;
	height: auto;
	padding: 1.5em;
	box-shadow: none;
}

/* Pseudo elements for beauty animation */

.FooterComponentStyle-footer ul > li::before,
.FooterComponentStyle-footer ul > li::after {
	content: '';
	position: absolute;
	width: 1em;
	height: 1em;
	opacity: 0;
	z-index: -1;
	border-radius: var(--severitium-border-radius);
	pointer-events: none;
	transition: all .2s ease;
}

/* Before (top-right) */

.FooterComponentStyle-footer ul > li::before {
	right: 0;
	top: 0;
	border-top: var(--severitium-main-color) solid .3em;
	border-right: var(--severitium-main-color) solid .3em;
	-webkit-transform: translate(-100%, 100%);
			transform: translate(-100%, 100%);
}

/* After (bottom-left) */

.FooterComponentStyle-footer ul > li::after {
	left: 0;
	bottom: 0;
	border-bottom: var(--severitium-main-color) solid .3em;
	border-left: var(--severitium-main-color) solid .3em;
	-webkit-transform: translate(100%, -100%);
			transform: translate(100%, -100%);
}

/* Pseudo elements on button hover */

.FooterComponentStyle-footer ul > li:hover::before,
.FooterComponentStyle-footer ul > li:hover::after {
	-webkit-transform: translate(0,0) rotate(180deg);
			transform: translate(0,0) rotate(180deg);
	opacity: 1;
}

/* Icon */

.FooterComponentStyle-footer ul > li > div {
	background-image: none;
	background-color: var(--severitium-main-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	/* width: 2em;
	height: 2em; */
}

/* Icon on button hover */

.FooterComponentStyle-footer ul > li:hover > div {
	background-image: none;
	background-color: var(--severitium-main-color);
}

/* Notification icon */

.FooterComponentStyle-footer ul > li > svg circle {
	transition: fill .2s ease, stroke .2s ease;
}

/* Notification icon on main icon hover */

.FooterComponentStyle-footer ul > li:hover > svg circle {
	fill: transparent;
	stroke: transparent;
}

/* Custom backgrounds for each icon */

/* News */

.FooterComponentStyle-footer ul > li[class*='news'i] > div {
	-webkit-mask-image: var(--severitium-game-menu-news-icon);
			mask-image: var(--severitium-game-menu-news-icon);
}

/* Chat */

.FooterComponentStyle-footer ul > li[class*='chat'i] > div {
	-webkit-mask-image: var(--severitium-game-menu-chat-icon);
			mask-image: var(--severitium-game-menu-chat-icon);
}

/* Friends */

.FooterComponentStyle-footer ul > li[class*='friend'i] > div {
	-webkit-mask-image: var(--severitium-game-menu-friends-icon);
			mask-image: var(--severitium-game-menu-friends-icon);
}

/* Clan */

.FooterComponentStyle-footer ul > li[class*='clan'i] > div {
	-webkit-mask-image: var(--severitium-game-menu-clan-icon);
			mask-image: var(--severitium-game-menu-clan-icon);
}