/* Dropdown outer container */

.UidInputComponentStyle-dropDownRoot .DropDownStyle-outerContainerStyle,
.DropDownStyle-dropdownRoot .VerticalScrollStyle-outerContainerStyle {
	box-sizing: border-box;
	margin-top: .5em;
	border-radius: var(--severitium-border-radius);
	border: .1em solid var(--severitium-gray-color);
	box-shadow: none;
}

/* Dropdown outer container in entrance header */

.DropDownStyle-dropdownRoot .DropDownStyle-dropdownControl {
	width: auto;
	height: 2.5em;
	min-width: auto;
	min-height: auto;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0;
	padding: .5em .75em;
	background-color: transparent;
	border-radius: var(--severitium-border-radius);
	border: .1em solid var(--severitium-gray-color);
	transition: background-color .2s ease;
}

/* Dropdown outer container in entrance header on hover */

.DropDownStyle-dropdownRoot .DropDownStyle-dropdownControl:hover {
	background-color: var(--severitium-light-transparent-background3);
}

/* Arrow of a dropdown outer container in entrance header */

.DropDownStyle-dropdownRoot .DropDownStyle-dropdownControl .DropDownStyle-arrowDropDown {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 2.79289C0.683417 2.40237 1.31658 2.40237 1.70711 2.79289L6 7.08579L10.2929 2.79289C10.6834 2.40237 11.3166 2.40237 11.7071 2.79289C12.0976 3.18342 12.0976 3.81658 11.7071 4.20711L6.70711 9.20711C6.31658 9.59763 5.68342 9.59763 5.29289 9.20711L0.292893 4.20711C-0.0976311 3.81658 -0.0976311 3.18342 0.292893 2.79289Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 2.79289C0.683417 2.40237 1.31658 2.40237 1.70711 2.79289L6 7.08579L10.2929 2.79289C10.6834 2.40237 11.3166 2.40237 11.7071 2.79289C12.0976 3.18342 12.0976 3.81658 11.7071 4.20711L6.70711 9.20711C6.31658 9.59763 5.68342 9.59763 5.29289 9.20711L0.292893 4.20711C-0.0976311 3.81658 -0.0976311 3.18342 0.292893 2.79289Z" fill="white"/></svg>');
	background-color: var(--severitium-light-gray-color);
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-position: center;
			mask-position: center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	background-image: none;
	transition: background-color .2s ease;
}

.DropDownStyle-dropdownRoot .DropDownStyle-dropdownControl:hover .DropDownStyle-arrowDropDown {
	background-color: var(--severitium-white-color);
}

/* Dropdown inner container */

.DropDownStyle-innerContainerStyle {
	-webkit-backdrop-filter: blur(.2em);
			backdrop-filter: blur(.2em);
	background-color: var(--severitium-dark-transparent-background1);
}

/* Dropdown list item's outer container */

.DropDownStyle-innerContainerStyle > div {
	-webkit-backdrop-filter: blur(.2em);
			backdrop-filter: blur(.2em);
}

/* Dropdown list item */

.DropDownStyle-innerContainerStyle > div > div {
	background: none;
	background-color: transparent;
	transition: background-color .2s ease;
}

/* Dropdown list item on hover */

.DropDownStyle-innerContainerStyle > div > div:hover {
	background: none;
	background-color: var(--severitium-light-transparent-background2);
}

/* Dropdown list first item (text 'incorrect') */

.DropDownStyle-innerContainerStyle > div > div > span:not(.UidInputComponentStyle-firstItem) {
	color: var(--severitium-white-text-color);
}

/* Dropdown list first item inside the login/register form */

.EntranceComponentStyle-ContainerForm form .DropDownStyle-innerContainerStyle > div:first-child > div {
	pointer-events: none;
}