/* Single contract card */

.ContractCardComponentStyle-card {
	position: relative;
	outline: none;
	box-shadow: none;
	background: none;
	margin: 0;
	border: .1em solid var(--severitium-gray-color);
	border-radius: var(--severitium-border-radius);
	-webkit-backdrop-filter: blur(.5em);
			backdrop-filter: blur(.5em);
	transition: none;
	transition: background-color .2s ease;
}

/* Contract card on hover */

.ContractCardComponentStyle-card:hover {
	outline: none;
	box-shadow: none;
	background: none;
}

/* Inactive contract card */

.ContractCardComponentStyle-card:not(:has([class*='hotkey'i])) {
	background-color: var(--severitium-gray-button-background);
}

/* Active contract card */

.ContractCardComponentStyle-card:has([class*='hotkey'i]) {
	background-color: var(--severitium-gold-button-background);
}

/* Completed contract card */

.ContractCardComponentStyle-card:has([class*='hotkey'i].-disabled) {
	background-color: var(--severitium-green-button-background);
}

/* Card gradient background mask */

.ContractCardComponentStyle-card > div.-backgroundImageContain {
	display: none;
}

/* Card rarity block (on edge) */

.ContractCardComponentStyle-card > div.-backgroundImageContain + div {
	position: absolute;
	top: 0;
	left: 0;
	right: unset;
	bottom: unset;
	width: 2.5em;
	height: auto;
	aspect-ratio: 1 / 1;
	border-radius: 0;
	border-top-left-radius: var(--severitium-border-radius);
	box-shadow: none;
}

/* CUSTOM RARITY COLORS */

/* Common */

.ContractCardComponentStyle-card[data-rarity='common'] > div.-backgroundImageContain + div {
	background: linear-gradient(135deg, var(--severitium-common-color) 0%, var(--severitium-common-color) 50%, transparent 50%);
}

/* Uncommon */

.ContractCardComponentStyle-card[data-rarity='uncommon'] > div.-backgroundImageContain + div {
	background: linear-gradient(135deg, var(--severitium-uncommon-color) 0%, var(--severitium-uncommon-color) 50%, transparent 50%);
}

/* Rare */

.ContractCardComponentStyle-card[data-rarity='rare'] > div.-backgroundImageContain + div {
	background: linear-gradient(135deg, var(--severitium-rare-color) 0%, var(--severitium-rare-color) 50%, transparent 50%);
}

/* Epic */

.ContractCardComponentStyle-card[data-rarity='epic'] > div.-backgroundImageContain + div {
	background: linear-gradient(135deg, var(--severitium-epic-color) 0%, var(--severitium-epic-color) 50%, transparent 50%);
}

/* Legendary */

.ContractCardComponentStyle-card[data-rarity='legendary'] > div.-backgroundImageContain + div {
	background: linear-gradient(135deg, var(--severitium-legendary-color) 0%, var(--severitium-legendary-color) 50%, transparent 50%);
}

/* Mythical */

.ContractCardComponentStyle-card[data-rarity='mythical'] > div.-backgroundImageContain + div {
	background: linear-gradient(135deg, var(--severitium-mythical-color) 0%, var(--severitium-mythical-color) 50%, transparent 50%);
}

/* Card timer container */

.ContractCardComponentStyle-card div:has(> span[id*='timer'i]),
.ContractCardComponentStyle-card div.ContractCardComponentStyle-timer {
	position: relative;
	top: unset;
	left: unset;
	right: unset;
	bottom: unset;
	width: auto;
	height: auto;
	margin: 0;
	margin-top: 1em;
	background: none;
	background-color: var(--severitium-timer-color);
	border-radius: var(--severitium-border-radius);
}

/* Card timer text */

.ContractCardComponentStyle-card span[id*='timer'i],
.ContractCardComponentStyle-card div.ContractCardComponentStyle-timer > span {
	margin: 0;
	padding: .25em;
	font-size: 1em;
	color: var(--severitium-black-text-color);
}

/* Card header */

.ContractCardComponentStyle-card > div:has(> span[id*='timer'i]) + div {
	margin: 0;
	margin-top: .75em;
	font-size: 1.25em;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--severitium-white-text-color);
}

/* Card center block: image, score, progress bar */

.ContractCardComponentStyle-card > div:has(> span[id*='timer'i]) + div + div.-flexCenterAlignCenterColumn {
	position: relative;
	width: 100%;
	height: 100%;
}

/* Card image */

.ContractCardComponentStyle-card > div > img {
	width: 10em;
	height: auto;
	aspect-ratio: 1 / 1;
	cursor: pointer;
	pointer-events: auto;
	padding: 1em;
	-webkit-transform: scale(1);
			transform: scale(1);
	-webkit-filter: saturate(0);
			filter: saturate(0);
	transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease;
}

/* Card image on hover */

.ContractCardComponentStyle-card > div > img:hover {
	-webkit-transform: scale(1.1);
			transform: scale(1.1);
}

/* Card score text */

.ContractCardComponentStyle-card > div > img + div {
	margin: 0;
	font-size: 1em;
	color: var(--severitium-yellow-text-color);
}

/* Card score icon */

.ContractCardComponentStyle-card > div > img + div > [class*='icon'i] {
	width: 1.5em;
	height: 1em;
	background-image: none;
	background-color: var(--severitium-yellow-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: var(--severitium-game-icons-score-icon);
			mask-image: var(--severitium-game-icons-score-icon);
}

/* Card progress bar */

.ContractCardComponentStyle-card .ContractCardComponentStyle-progressBar {
	position: absolute;
	display: flex;
	width: 75%;
	height: .2em;
	margin-top: 22.5em;
}

/* Card progress bar "empty" space */

.ContractCardComponentStyle-card .ContractCardComponentStyle-progressBar > div:first-child {
	position: absolute;
	border: none;
	width: 100%;
	height: .2em;
	background-color: var(--severitium-gray-color);
	border-radius: 0;
}

/* Card progress bar "filled" space */

.ContractCardComponentStyle-card .ContractCardComponentStyle-progressBar > div:last-child > div {
	border: none;
	background-color: var(--severitium-main-color);
	border-radius: 0;
	height: .2em;
	-webkit-transform: none;
			transform: none;
}

/* Early competition button */

.ContractCardComponentStyle-card div:has(> span):has([class*='hotkey'i]) {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-gold-button-background);
	border: var(--severitium-gold-button-border-color) solid .1em;
	cursor: pointer;
	transition: border .2s ease;
}

/* Early competition button on hover */

.ContractCardComponentStyle-card div:has(> span):has([class*='hotkey'i]):hover {
	outline: none;
	box-shadow: none;
	background: var(--severitium-gold-button-background);
	border: var(--severitium-gold-button-border-color-hover) solid .1em;
}

/* Early competition button text */

.ContractCardComponentStyle-card div:has(> span):has([class*='hotkey'i]) > span {
	color: var(--severitium-gold-button-color);
}

/* Hotkey */

.ContractCardComponentStyle-card [class*='hotkey'i] {
	background: transparent;
	color: var(--severitium-dark-white-text-color);
	border: var(--severitium-gray-color) dashed .1em;
	border-radius: var(--severitium-border-radius);
	margin: 0;
}

/* Bottom text of an active card */

.ContractCardComponentStyle-card:has([class*='hotkey'i]) > div:last-child > span {
	font-size: 1em;
	padding: 1.5em 0;
	color: var(--severitium-yellow-text-color);
}

/* Bottom button of an inactive card top line */

.ContractCardComponentStyle-card:not(:has([class*='hotkey'i])) > div:nth-last-child(2) {
	display: none;
	width: 100%;
	height: .1em;
	background-color: var(--severitium-dark-gray-color);
}

/* Bottom button container of an inactive card */

.ContractCardComponentStyle-card:not(:has([class*='hotkey'i])) > div:last-child:has(> span) {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: none;
	background-color: transparent;
	padding: 1.5em 0;
	border-top: .1em solid var(--severitium-gray-color);
	transition: background-color .2s ease;
}

/* Button on hover */

.ContractCardComponentStyle-card:not(:has([class*='hotkey'i])) > div:last-child:has(> span):hover {
	background-color: var(--severitium-light-transparent-background3);
}

/* Bottom button text of an inactive card */

.ContractCardComponentStyle-card:not(:has([class*='hotkey'i])) > div:last-child > span {
	font-size: 1em;
	color: var(--severitium-light-gray-color);
	transition: color .2s ease;
}

/* Bottom button of an inactive card on button hover */

.ContractCardComponentStyle-card:not(:has([class*='hotkey'i])) > div:last-child:hover > span {
	color: var(--severitium-white-text-color);
}

/* Empty quest container header */

.QuestsComponentStyle-content > [class*='QuestsComponentStyle-emptyList'i] h2 {
	width: auto;
	height: auto;
	background-color: var(--severitium-main-color);
	color: var(--severitium-black-text-color);
	font-size: 1.25em;
	margin: 0;
	padding: .1em .25em;
	border-radius: var(--severitium-border-radius);
}

/* Empty quest container text */

.QuestsComponentStyle-content > [class*="QuestsComponentStyle-emptyList" i] p {
	color: var(--severitium-white-text-color);
	font-size: 1em;
}