:not([class*="qr"i][class*="code"i]) > img[src*='XP'],
img[src*='experience'i] {
	display: none
}

:not([class*="qr"i][class*="code"i]):has(> img[src*='XP'])::before,
:not([class*="qr"i][class*="code"i]):has(> img[src*='experience'i])::before {
	content: '';
	width: 1em;
	height: 1em;
	margin-right: .25em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512"><path d="M 255.5,0.5 C 255.5,115.5 255.5,230.5 255.5,345.5C 199.267,325.55 142.934,305.884 86.5,286.5C 86.5,285.833 86.1667,285.5 85.5,285.5C 57.1715,275.502 28.8382,265.502 0.5,255.5C 85.1667,170.167 170.167,85.1667 255.5,0.5 Z" fill="%23abe232"/><path d="M 255.5,0.5 C 340.833,85.1667 425.833,170.167 510.5,255.5C 425.607,285.779 340.607,315.779 255.5,345.5C 255.5,230.5 255.5,115.5 255.5,0.5 Z" fill="%2300da7f"/><path d="M 0.5,255.5 C 28.8382,265.502 57.1715,275.502 85.5,285.5C 86.1667,285.5 86.5,285.833 86.5,286.5C 142.934,305.884 199.267,325.55 255.5,345.5C 255.5,400.5 255.5,455.5 255.5,510.5C 170.167,425.833 85.1667,340.833 0.5,255.5 Z" fill="%2300da7f"/><path d="M 510.5,255.5 C 425.833,340.833 340.833,425.833 255.5,510.5C 255.5,455.5 255.5,400.5 255.5,345.5C 340.607,315.779 425.607,285.779 510.5,255.5 Z" fill="%2300b99f"/></svg>');
}