/* Original exp icon (as image) */

:not([class*='qr'i][class*='code'i]) > img[src*='XP']:not([src^='data:'i]),
img[src*='experience'i]:not([src^='data:'i]) {
	display: none
}

/* Custom exp icon */

:not([class*='qr'i][class*='code'i]):has(> img[src*='XP']:not([src^='data:'i]))::before,
:not([class*='qr'i][class*='code'i]):has(> img[src*='experience'i]:not([src^='data:'i]))::before {
	content: '';
	width: 1em;
	height: 1em;
	margin-right: .25em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: var(--severitium-game-icons-xp-icon);
}

/* Custom exp icon for ranks screen */

.UserProgressComponentStyle-xpIcon {
	background: none;
	width: 1em;
	height: 1em;
	margin-right: .25em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: var(--severitium-game-icons-xp-icon);
}