/* Elite challenges container and all elements inside it */

.EventBattlePassLobbyComponentStyle-buttonEventBattlePass,
.EventBattlePassLobbyComponentStyle-buttonEventBattlePass * {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

/* Elite challenges container */

.EventBattlePassLobbyComponentStyle-buttonEventBattlePass {
	top: 0;
	right: 28.5em;
	margin-top: 11em;
	padding: 0;
	height: 10em;
	-webkit-filter: none;
			filter: none;
	-webkit-backdrop-filter: blur(.2em);
			backdrop-filter: blur(.2em);
	background: none;
	background-color: var(--severitium-dark-transparent-background1);
	box-shadow: 0 0 0 .075em var(--severitium-main-color);
	border-radius: var(--severitium-border-radius);
	transition: none;
	transition: box-shadow .2s ease, background-color .2s ease, -webkit-backdrop-filter .2s ease;
	transition: box-shadow .2s ease, background-color .2s ease, backdrop-filter .2s ease;
	transition: box-shadow .2s ease, background-color .2s ease, backdrop-filter .2s ease, -webkit-backdrop-filter .2s ease;
}

/* Elite challenges container on hover */

.EventBattlePassLobbyComponentStyle-buttonEventBattlePass:hover {
	-webkit-backdrop-filter: blur(.5em);
			backdrop-filter: blur(.5em);
	background-color: var(--severitium-dark-transparent-background2);
	box-shadow: 0 0 0 .1em var(--severitium-main-color);
}

/* Elite challenges container pseudo elements for corner border hover animation */

.EventBattlePassLobbyComponentStyle-buttonEventBattlePass::before,
.EventBattlePassLobbyComponentStyle-buttonEventBattlePass::after {
	content: '';
	position: absolute;
	width: 2em;
	height: 2em;
	opacity: 0;
	z-index: -1;
	border-radius: var(--severitium-border-radius);
	pointer-events: none;
	transition: all .2s ease;
}

/* Elite challenges container before pseudo element (top-right corner) */

.EventBattlePassLobbyComponentStyle-buttonEventBattlePass::before {
	content: '';
	right: -.75em;
	top: -.75em;
	border-top: var(--severitium-main-color) solid .25em;
	border-right: var(--severitium-main-color) solid .25em;
	-webkit-transform: translate(100%, -50%);
			transform: translate(100%, -50%);
}

/* Elite challenges container after pseudo element (bottom-left corner) */

.EventBattlePassLobbyComponentStyle-buttonEventBattlePass::after {
	content: '';
	left: -.75em;
	bottom: -.75em;
	border-bottom: var(--severitium-main-color) solid .25em;
	border-left: var(--severitium-main-color) solid .25em;
	-webkit-transform: translate(-100%, 50%);
			transform: translate(-100%, 50%);
}

/* Elite challenges container pseudo elements on hover */

.EventBattlePassLobbyComponentStyle-buttonEventBattlePass:hover::before,
.EventBattlePassLobbyComponentStyle-buttonEventBattlePass:hover::after {
	-webkit-transform: translate(0,0);
			transform: translate(0,0);
	opacity: 1;
}

/* Timer on the top left cornet */

.EventBattlePassLobbyComponentStyle-buttonEventBattlePass .ChallengeTimerComponentStyle-textTime {
	background-color: var(--severitium-timer-color);
	color: var(--severitium-black-text-color);
	border-radius: var(--severitium-border-radius);
}

/* Progressbar circle */

.EventBattlePassLobbyComponentStyle-commonBlockProgressBar {
	background-color: transparent;
}

/* Progressbar inner container */

.EventBattlePassLobbyComponentStyle-commonBlockProgressBar > div {
	background-color: transparent;
	border-radius: 0;
}

/* Progressbar circle containers */

.EventBattlePassLobbyComponentStyle-commonBlockProgressBar > div > div,
.EventBattlePassLobbyComponentStyle-commonBlockProgressBar > div > div > div {
	width: 100%;
	height: 100%;
}

/* Progressbar circle's unfilled part color */

.EventBattlePassLobbyComponentStyle-commonBlockProgressBar > div > div:first-of-type {
	border-color: var(--severitium-gray-color);
}

/* Progressbar circle's filled part color */

.EventBattlePassLobbyComponentStyle-commonBlockProgressBar > div > div:last-of-type > div {
	border-color: var(--severitium-main-color);
}

/* Reached levels count text inside the circle */

.EventBattlePassLobbyComponentStyle-commonBlockProgressBar > h2 {
	color: var(--severitium-main-color);
}

/* Description 'level' text */

.EventBattlePassLobbyComponentStyle-descriptionEventPass > h3 {
	color: var(--severitium-main-color);
}

/* Description 'revards' text */

.EventBattlePassLobbyComponentStyle-descriptionEventPass > h2 {
	color: var(--severitium-white-text-color);
}