/* Online friends text on top */

.FriendRequestComponentStyle-blockInformationCommunity .FriendListComponentStyle-friendsOnline > span {
	color: var(--severitium-white-text-color);
}

/* Online friends count on top */

.FriendRequestComponentStyle-blockInformationCommunity .FriendListComponentStyle-friendsOnline > span.FriendListComponentStyle-numberFriends {
	color: var(--severitium-main-color);
}

/* Scroll container with friend strings (each string contains 2 friends) */

.FriendListComponentStyle-containerFriends .FriendListComponentStyle-scrollCommunity {
	width: auto;
	display: flex;
	flex-direction: column;
	gap: .5em;
	padding: 1em;
	margin-top: 1.5em;
}

/* Single friend string */

.FriendListComponentStyle-stringCommunity {
	display: flex;
	gap: .5em;
	width: auto;
}

/* Single friend's container */

.FriendListComponentStyle-blockList {
	box-sizing: border-box;
	padding: .2em .5em;
	border: none;
	border-radius: var(--severitium-border-radius);
	box-shadow: 0 0 .1em .05em var(--severitium-gray-color);
	background-color: var(--severitium-dark-transparent-background1);
	-webkit-backdrop-filter: blur(.25em);
	        backdrop-filter: blur(.25em);
	transition: background-color .2s ease;
}

/* Single friend's container on hover */

.FriendListComponentStyle-blockList:hover {
	background-color: var(--severitium-light-transparent-background2);
}

/* Figure under the rank image */

.FriendListComponentStyle-substrateRhombus {
	display: none;
}

/* New friend text */

.FriendListComponentStyle-newUser {
	color: var(--severitium-main-color);
	text-shadow: var(--severitium-main-color) 0 0 .5em;
}

/* Friend's nickname text */

/* Offline */

.FriendListComponentStyle-blockList div[class*='nickname'i] span {
	color: var(--severitium-extra-light-gray-text-color);
	transition: color .2s ease;
}

/* Online */

.FriendListComponentStyle-blockList:has(.FriendListComponentStyle-blockOnline > span:first-child:not([class*='offline'i])) div[class*='nickname'i] span {
	color: var(--severitium-green-text-color);
}

/* Friend's nickname text on container hover */

.FriendListComponentStyle-blockList:hover div[class*='nickname'i] span,
.FriendListComponentStyle-blockList:has(.FriendListComponentStyle-blockOnline > span:first-child:not([class*='offline'i])):hover div[class*='nickname'i] span {
	color: var(--severitium-main-color);
}

/* Single friends online container */

.FriendListComponentStyle-blockList .FriendListComponentStyle-blockOnline {
	width: auto;
	display: flex;
	flex-direction: column;
	gap: .25em;
}

/* Single friends online state */

/* Online */

.FriendListComponentStyle-blockList .FriendListComponentStyle-blockOnline > span:first-child:not([class*='offline'i]) {
	color: var(--severitium-green-text-color);
}

/* Offline */

.FriendListComponentStyle-blockList .FriendListComponentStyle-blockOnline > span:first-child[class*='offline'i] {
	color: var(--severitium-light-gray-text-color);
}

/* Single friends online date/map */

.FriendListComponentStyle-blockList .FriendListComponentStyle-blockOnline > span:last-child {
	color: var(--severitium-light-gray-text-color);
}

/* Search friend */

/* Search friend container input */

.FriendListComponentStyle-containerFriends .SearchInputComponentStyle-searchInput input {
	box-shadow: none;
	border-radius: 0;
	border-bottom: .1em solid var(--severitium-light-gray-color);
	color: var(--severitium-white-text-color);
}

/* Search friend container input on hover */

.FriendListComponentStyle-containerFriends .SearchInputComponentStyle-searchInput input:hover {
	box-shadow: none;
}

/* Search friend container input on focus */

.FriendListComponentStyle-containerFriends .SearchInputComponentStyle-searchInput input:focus {
	border-color: var(--severitium-white-color);
}

/* Placeholder of the input */

.FriendListComponentStyle-containerFriends .SearchInputComponentStyle-searchInput input::-webkit-input-placeholder {
	color: var(--severitium-light-gray-text-color);
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
}

.FriendListComponentStyle-containerFriends .SearchInputComponentStyle-searchInput input:-ms-input-placeholder {
	color: var(--severitium-light-gray-text-color);
	-ms-transition: color .2s ease;
	transition: color .2s ease;
}

.FriendListComponentStyle-containerFriends .SearchInputComponentStyle-searchInput input::placeholder {
	color: var(--severitium-light-gray-text-color);
	transition: color .2s ease;
}

/* Placeholder of the input on input container hover & input on focus */

.FriendListComponentStyle-containerFriends .SearchInputComponentStyle-searchInput:hover input::-webkit-input-placeholder, .FriendListComponentStyle-containerFriends .SearchInputComponentStyle-searchInput input:focus::-webkit-input-placeholder {
	color: var(--severitium-white-text-color);
}

.FriendListComponentStyle-containerFriends .SearchInputComponentStyle-searchInput:hover input:-ms-input-placeholder, .FriendListComponentStyle-containerFriends .SearchInputComponentStyle-searchInput input:focus:-ms-input-placeholder {
	color: var(--severitium-white-text-color);
}

.FriendListComponentStyle-containerFriends .SearchInputComponentStyle-searchInput:hover input::placeholder,
.FriendListComponentStyle-containerFriends .SearchInputComponentStyle-searchInput input:focus::placeholder {
	color: var(--severitium-white-text-color);
}

/* Search friend search icon (loupe) */

.FriendListComponentStyle-containerFriends .SearchInputComponentStyle-searchInput > div[class*='image'i] {
	height: 1.5em;
	width: 1.5em;
	background-image: none;
	background-color: var(--severitium-light-gray-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.0937 17.1543C14.3885 18.6166 12.1724 19.5 9.75 19.5C4.36522 19.5 0 15.1348 0 9.75C0 4.36522 4.36522 0 9.75 0C15.1348 0 19.5 4.36522 19.5 9.75C19.5 12.1724 18.6166 14.3885 17.1543 16.0937L23.7803 22.7197C24.0732 23.0126 24.0732 23.4874 23.7803 23.7803C23.4874 24.0732 23.0126 24.0732 22.7197 23.7803L16.0937 17.1543ZM18 9.75C18 14.3063 14.3063 18 9.75 18C5.19365 18 1.5 14.3063 1.5 9.75C1.5 5.19365 5.19365 1.5 9.75 1.5C14.3063 1.5 18 5.19365 18 9.75Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.0937 17.1543C14.3885 18.6166 12.1724 19.5 9.75 19.5C4.36522 19.5 0 15.1348 0 9.75C0 4.36522 4.36522 0 9.75 0C15.1348 0 19.5 4.36522 19.5 9.75C19.5 12.1724 18.6166 14.3885 17.1543 16.0937L23.7803 22.7197C24.0732 23.0126 24.0732 23.4874 23.7803 23.7803C23.4874 24.0732 23.0126 24.0732 22.7197 23.7803L16.0937 17.1543ZM18 9.75C18 14.3063 14.3063 18 9.75 18C5.19365 18 1.5 14.3063 1.5 9.75C1.5 5.19365 5.19365 1.5 9.75 1.5C14.3063 1.5 18 5.19365 18 9.75Z" fill="white"/></svg>');
	transition: background-color .2s ease;
}

/* Search friend search icon on input container hover & input on focus */

.FriendListComponentStyle-containerFriends .SearchInputComponentStyle-searchInput:hover > div[class*='image'i],
.FriendListComponentStyle-containerFriends .SearchInputComponentStyle-searchInput > input:focus + div[class*='image'i] {
	background-image: none;
	background-color: var(--severitium-white-color);
}

/* Button 'add friends' */

/* Button */

.FriendListComponentStyle-buttonAddFriends.FriendListComponentStyle-buttonAddFriends {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color) solid .1em;
	border-radius: var(--severitium-border-radius);
	transition: border .2s ease;
}

/* Button on hover */

.FriendListComponentStyle-buttonAddFriends.FriendListComponentStyle-buttonAddFriends:hover {
	box-shadow: none;
	border: var(--severitium-green-button-border-color-hover) solid .1em;
}

/* Button's icon (add friends) */

.FriendListComponentStyle-buttonAddFriends.FriendListComponentStyle-buttonAddFriends > span {
	height: 1.5em;
	width: 3em;
	background-color: var(--severitium-green-button-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg width="50" height="25" viewBox="0 0 50 25" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M32.564 11.396C31.7849 11.9238 30.8784 12.2266 29.9111 12.2266C27.0015 12.2266 24.6428 9.48975 24.6428 6.11328C24.6428 2.73682 25.4172 0 29.9111 0C30.9998 0 31.8701 0.160645 32.564 0.452148C30.3933 1.36377 29.9485 3.55469 29.9485 6.11328C29.9485 8.36719 30.9995 10.3359 32.564 11.396ZM27.4248 14.2256C26.4563 13.7891 25.7646 13.2812 25.7646 13.2812C20.0764 14.2622 20.062 15.2573 19.9929 20.0601V20.0732C19.988 20.4053 19.9829 20.7544 19.9756 21.123C19.9697 21.415 19.9658 21.5342 19.9636 21.5693C19.9622 21.5908 19.9612 21.5815 19.9604 21.561L19.9612 22.1787C19.9612 22.1787 20.9358 24.0557 25.8994 24.7476C25.7251 24.272 25.3665 23.1992 25.2668 22.1787L25.2661 21.561C25.2664 21.5728 25.2668 21.5806 25.2676 21.5815C25.2688 21.583 25.2705 21.5576 25.2729 21.4785L25.2769 21.3379L25.2812 21.123L25.292 20.5112L25.2986 20.0732V20.0601C25.3477 16.644 25.3694 15.1538 27.4248 14.2256Z" fill="white"/><path d="M39.5954 12.2266C42.5049 12.2266 44.8636 9.48964 44.8636 6.11336C44.8636 2.737 44.0892 0 39.5954 0C35.1017 0 34.3271 2.737 34.3271 6.11336C34.3271 9.48964 36.6859 12.2266 39.5954 12.2266Z" fill="white"/><path d="M49.5344 21.3141C49.4368 15.4325 49.8946 14.3421 43.742 13.2812C43.742 13.2812 41.6141 14.8437 39.5954 14.8437C37.5768 14.8437 35.4489 13.2812 35.4489 13.2812C29.3634 14.3305 29.772 15.3961 29.6599 21.123C29.6507 21.5906 29.6464 21.6152 29.6448 21.5609C29.6451 21.6626 29.6456 21.8508 29.6456 22.1789C29.6456 22.1789 31.1104 25 39.5954 25C48.0802 25 49.5451 22.1789 49.5451 22.1789C49.5451 21.9681 49.5453 21.8215 49.5455 21.7218C49.5439 21.7554 49.5406 21.6903 49.5344 21.3141Z" fill="white"/><path d="M7.54364 5.55566H10.8797V20.8334H7.54364V5.55566Z" fill="white"/><path d="M17.9687 11.7395V14.6496H0.45459V11.7395H17.9687Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="50" height="25" viewBox="0 0 50 25" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M32.564 11.396C31.7849 11.9238 30.8784 12.2266 29.9111 12.2266C27.0015 12.2266 24.6428 9.48975 24.6428 6.11328C24.6428 2.73682 25.4172 0 29.9111 0C30.9998 0 31.8701 0.160645 32.564 0.452148C30.3933 1.36377 29.9485 3.55469 29.9485 6.11328C29.9485 8.36719 30.9995 10.3359 32.564 11.396ZM27.4248 14.2256C26.4563 13.7891 25.7646 13.2812 25.7646 13.2812C20.0764 14.2622 20.062 15.2573 19.9929 20.0601V20.0732C19.988 20.4053 19.9829 20.7544 19.9756 21.123C19.9697 21.415 19.9658 21.5342 19.9636 21.5693C19.9622 21.5908 19.9612 21.5815 19.9604 21.561L19.9612 22.1787C19.9612 22.1787 20.9358 24.0557 25.8994 24.7476C25.7251 24.272 25.3665 23.1992 25.2668 22.1787L25.2661 21.561C25.2664 21.5728 25.2668 21.5806 25.2676 21.5815C25.2688 21.583 25.2705 21.5576 25.2729 21.4785L25.2769 21.3379L25.2812 21.123L25.292 20.5112L25.2986 20.0732V20.0601C25.3477 16.644 25.3694 15.1538 27.4248 14.2256Z" fill="white"/><path d="M39.5954 12.2266C42.5049 12.2266 44.8636 9.48964 44.8636 6.11336C44.8636 2.737 44.0892 0 39.5954 0C35.1017 0 34.3271 2.737 34.3271 6.11336C34.3271 9.48964 36.6859 12.2266 39.5954 12.2266Z" fill="white"/><path d="M49.5344 21.3141C49.4368 15.4325 49.8946 14.3421 43.742 13.2812C43.742 13.2812 41.6141 14.8437 39.5954 14.8437C37.5768 14.8437 35.4489 13.2812 35.4489 13.2812C29.3634 14.3305 29.772 15.3961 29.6599 21.123C29.6507 21.5906 29.6464 21.6152 29.6448 21.5609C29.6451 21.6626 29.6456 21.8508 29.6456 22.1789C29.6456 22.1789 31.1104 25 39.5954 25C48.0802 25 49.5451 22.1789 49.5451 22.1789C49.5451 21.9681 49.5453 21.8215 49.5455 21.7218C49.5439 21.7554 49.5406 21.6903 49.5344 21.3141Z" fill="white"/><path d="M7.54364 5.55566H10.8797V20.8334H7.54364V5.55566Z" fill="white"/><path d="M17.9687 11.7395V14.6496H0.45459V11.7395H17.9687Z" fill="white"/></svg>');
}

/* Button's original image */

.FriendListComponentStyle-buttonAddFriends.FriendListComponentStyle-buttonAddFriends > img {
	display: none;
}

/* Button 'cancel' on new friend adding */

/* Button */

.FriendListComponentStyle-buttonCloseAddFriends.FriendListComponentStyle-buttonCloseAddFriends {
	outline: none;
	box-shadow: none;
	background: var(--severitium-gray-button-background);
	border: var(--severitium-gray-button-border-color) solid .1em;
	border-radius: var(--severitium-border-radius);
	transition: border .2s ease;
}

/* Button on hover */

.FriendListComponentStyle-buttonCloseAddFriends.FriendListComponentStyle-buttonCloseAddFriends:hover {
	box-shadow: none;
	background: var(--severitium-gray-button-background);
	border: var(--severitium-gray-button-border-color-hover) solid .1em;
}

/* Button icon (cross) */

.FriendListComponentStyle-buttonCloseAddFriends.FriendListComponentStyle-buttonCloseAddFriends > span {
	height: 1.5em;
	width: 1.5em;
	background-color: var(--severitium-gray-button-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96"><path d="m84 0 12 12-48 48-36 36L0 84l36-36L0 12 12 0l36 36z"/><path d="M48 60h24l24 24-12 12z"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96"><path d="m84 0 12 12-48 48-36 36L0 84l36-36L0 12 12 0l36 36z"/><path d="M48 60h24l24 24-12 12z"/></svg>');
}

/* Button's original image */

.FriendListComponentStyle-buttonCloseAddFriends.FriendListComponentStyle-buttonCloseAddFriends > img {
	display: none;
}

/* Search button for add new friend form */

/* Disabled button */

.FriendListComponentStyle-containerButtonFriends.FriendListComponentStyle-containerButtonFriends[class*='disabled'i] {
	background-color: var(--severitium-dark-transparent-background1);
	color: var(--severitium-white-text-color);
	border: none;
	outline: none;
	box-shadow: none;
}

/* No user button */

/* Button */

.FriendListComponentStyle-containerButtonFriends.FriendListComponentStyle-containerButtonFriends[class*='nofound'i] {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-red-button-background);
	border: var(--severitium-red-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.FriendListComponentStyle-containerButtonFriends.FriendListComponentStyle-containerButtonFriends[class*='nofound'i]:hover {
	background: var(--severitium-red-button-background);
	border: var(--severitium-red-button-border-color-hover) solid .1em;
}

/* Can add button */

/* Button */

.FriendListComponentStyle-containerButtonFriends.FriendListComponentStyle-containerButtonFriends[class*='foundadd'i] {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.FriendListComponentStyle-containerButtonFriends.FriendListComponentStyle-containerButtonFriends[class*='foundadd'i]:hover {
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color-hover) solid .1em;
}

/* Button's icon */

.FriendListComponentStyle-containerButtonFriends.FriendListComponentStyle-containerButtonFriends > span {
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
}

/* Disabled button icon (add friends) */

.FriendListComponentStyle-containerButtonFriends.FriendListComponentStyle-containerButtonFriends[class*='disabled'i] > span {
	height: 1.5em;
	width: 3em;
	background-color: var(--severitium-gray-button-color);
	-webkit-mask-image: url('data:image/svg+xml,<svg width="50" height="25" viewBox="0 0 50 25" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M32.564 11.396C31.7849 11.9238 30.8784 12.2266 29.9111 12.2266C27.0015 12.2266 24.6428 9.48975 24.6428 6.11328C24.6428 2.73682 25.4172 0 29.9111 0C30.9998 0 31.8701 0.160645 32.564 0.452148C30.3933 1.36377 29.9485 3.55469 29.9485 6.11328C29.9485 8.36719 30.9995 10.3359 32.564 11.396ZM27.4248 14.2256C26.4563 13.7891 25.7646 13.2812 25.7646 13.2812C20.0764 14.2622 20.062 15.2573 19.9929 20.0601V20.0732C19.988 20.4053 19.9829 20.7544 19.9756 21.123C19.9697 21.415 19.9658 21.5342 19.9636 21.5693C19.9622 21.5908 19.9612 21.5815 19.9604 21.561L19.9612 22.1787C19.9612 22.1787 20.9358 24.0557 25.8994 24.7476C25.7251 24.272 25.3665 23.1992 25.2668 22.1787L25.2661 21.561C25.2664 21.5728 25.2668 21.5806 25.2676 21.5815C25.2688 21.583 25.2705 21.5576 25.2729 21.4785L25.2769 21.3379L25.2812 21.123L25.292 20.5112L25.2986 20.0732V20.0601C25.3477 16.644 25.3694 15.1538 27.4248 14.2256Z" fill="white"/><path d="M39.5954 12.2266C42.5049 12.2266 44.8636 9.48964 44.8636 6.11336C44.8636 2.737 44.0892 0 39.5954 0C35.1017 0 34.3271 2.737 34.3271 6.11336C34.3271 9.48964 36.6859 12.2266 39.5954 12.2266Z" fill="white"/><path d="M49.5344 21.3141C49.4368 15.4325 49.8946 14.3421 43.742 13.2812C43.742 13.2812 41.6141 14.8437 39.5954 14.8437C37.5768 14.8437 35.4489 13.2812 35.4489 13.2812C29.3634 14.3305 29.772 15.3961 29.6599 21.123C29.6507 21.5906 29.6464 21.6152 29.6448 21.5609C29.6451 21.6626 29.6456 21.8508 29.6456 22.1789C29.6456 22.1789 31.1104 25 39.5954 25C48.0802 25 49.5451 22.1789 49.5451 22.1789C49.5451 21.9681 49.5453 21.8215 49.5455 21.7218C49.5439 21.7554 49.5406 21.6903 49.5344 21.3141Z" fill="white"/><path d="M7.54364 5.55566H10.8797V20.8334H7.54364V5.55566Z" fill="white"/><path d="M17.9687 11.7395V14.6496H0.45459V11.7395H17.9687Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="50" height="25" viewBox="0 0 50 25" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M32.564 11.396C31.7849 11.9238 30.8784 12.2266 29.9111 12.2266C27.0015 12.2266 24.6428 9.48975 24.6428 6.11328C24.6428 2.73682 25.4172 0 29.9111 0C30.9998 0 31.8701 0.160645 32.564 0.452148C30.3933 1.36377 29.9485 3.55469 29.9485 6.11328C29.9485 8.36719 30.9995 10.3359 32.564 11.396ZM27.4248 14.2256C26.4563 13.7891 25.7646 13.2812 25.7646 13.2812C20.0764 14.2622 20.062 15.2573 19.9929 20.0601V20.0732C19.988 20.4053 19.9829 20.7544 19.9756 21.123C19.9697 21.415 19.9658 21.5342 19.9636 21.5693C19.9622 21.5908 19.9612 21.5815 19.9604 21.561L19.9612 22.1787C19.9612 22.1787 20.9358 24.0557 25.8994 24.7476C25.7251 24.272 25.3665 23.1992 25.2668 22.1787L25.2661 21.561C25.2664 21.5728 25.2668 21.5806 25.2676 21.5815C25.2688 21.583 25.2705 21.5576 25.2729 21.4785L25.2769 21.3379L25.2812 21.123L25.292 20.5112L25.2986 20.0732V20.0601C25.3477 16.644 25.3694 15.1538 27.4248 14.2256Z" fill="white"/><path d="M39.5954 12.2266C42.5049 12.2266 44.8636 9.48964 44.8636 6.11336C44.8636 2.737 44.0892 0 39.5954 0C35.1017 0 34.3271 2.737 34.3271 6.11336C34.3271 9.48964 36.6859 12.2266 39.5954 12.2266Z" fill="white"/><path d="M49.5344 21.3141C49.4368 15.4325 49.8946 14.3421 43.742 13.2812C43.742 13.2812 41.6141 14.8437 39.5954 14.8437C37.5768 14.8437 35.4489 13.2812 35.4489 13.2812C29.3634 14.3305 29.772 15.3961 29.6599 21.123C29.6507 21.5906 29.6464 21.6152 29.6448 21.5609C29.6451 21.6626 29.6456 21.8508 29.6456 22.1789C29.6456 22.1789 31.1104 25 39.5954 25C48.0802 25 49.5451 22.1789 49.5451 22.1789C49.5451 21.9681 49.5453 21.8215 49.5455 21.7218C49.5439 21.7554 49.5406 21.6903 49.5344 21.3141Z" fill="white"/><path d="M7.54364 5.55566H10.8797V20.8334H7.54364V5.55566Z" fill="white"/><path d="M17.9687 11.7395V14.6496H0.45459V11.7395H17.9687Z" fill="white"/></svg>');
}

/* No user button's icon (cross) */

.FriendListComponentStyle-containerButtonFriends.FriendListComponentStyle-containerButtonFriends[class*='nofound'i] > span {
	height: 2em;
	width: 2em;
	background-color: var(--severitium-red-button-color);
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96"><path d="m84 0 12 12-48 48-36 36L0 84l36-36L0 12 12 0l36 36z"/><path d="M48 60h24l24 24-12 12z"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96"><path d="m84 0 12 12-48 48-36 36L0 84l36-36L0 12 12 0l36 36z"/><path d="M48 60h24l24 24-12 12z"/></svg>');
}

/* Can add button's icon (checkmark) */

.FriendListComponentStyle-containerButtonFriends.FriendListComponentStyle-containerButtonFriends[class*='foundadd'i] > span {
	height: 2em;
	width: 2em;
	background-color: var(--severitium-green-button-color);
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path d="M16.29 2.59a.7.7 0 0 0-1 0L6.98 10.9 2.7 6.59a.7.7 0 0 0-1 0L.2 8.09c-.27.27-.27.72 0 1l6.27 6.32c.27.27.72.27 1 0L17.78 5.1a.7.7 0 0 0 0-1l-1.5-1.5Z"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path d="M16.29 2.59a.7.7 0 0 0-1 0L6.98 10.9 2.7 6.59a.7.7 0 0 0-1 0L.2 8.09c-.27.27-.27.72 0 1l6.27 6.32c.27.27.72.27 1 0L17.78 5.1a.7.7 0 0 0 0-1l-1.5-1.5Z"/></svg>');
}

/* Button's original image */

.FriendListComponentStyle-containerButtonFriends.FriendListComponentStyle-containerButtonFriends > img {
	display: none;
}

/* Text under the button when user not found */

.FriendListComponentStyle-friendSearchInput > span {
	color: var(--severitium-red-text-color);
}

/* Decline all incoming friend requests button */

/* Button */

.FriendRequestComponentStyle-buttonDeclineAll {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-red-button-background);
	border: var(--severitium-red-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.FriendRequestComponentStyle-buttonDeclineAll:hover {
	background: var(--severitium-red-button-background);
	border: var(--severitium-red-button-border-color-hover) solid .1em;
}

/* Button's text */

.FriendRequestComponentStyle-buttonDeclineAll > span {
	color: var(--severitium-red-button-color);
}

/* Disabled button */

.FriendRequestComponentStyle-buttonDeclineAllInvisible {
	background-color: var(--severitium-dark-transparent-background1);
	border-radius: var(--severitium-border-radius);
	border: none;
	outline: none;
	box-shadow: none;
}

/* Disabled button text */

.FriendRequestComponentStyle-buttonDeclineAllInvisible > span {
	color: var(--severitium-white-text-color);
	text-shadow: none;
	opacity: .25;
}

/* Table inside incoming requests */

/* Table header cell */

.FriendListComponentStyle-containerFriends .TableComponentStyle-table thead > tr > th {
	background-color: var(--severitium-dark-transparent-background1);
}

/* Table header cell text */

.FriendListComponentStyle-containerFriends .TableComponentStyle-table thead > tr > th h2 {
	color: var(--severitium-white-text-color);
}

/* Table body line */

.FriendListComponentStyle-containerFriends .TableComponentStyle-table tbody > tr {
	background-color: var(--severitium-dark-transparent-background1);
}

/* Table body line nickname text */

.FriendListComponentStyle-containerFriends .TableComponentStyle-table tbody > tr .FriendRequestComponentStyle-cellName span[class*='nickname'i] span {
	color: var(--severitium-extra-light-gray-text-color);
}

/* Table body line nickname text on hover */

.FriendListComponentStyle-containerFriends .TableComponentStyle-table tbody > tr .FriendRequestComponentStyle-cellName span[class*='nickname'i]:hover span {
	color: var(--severitium-main-color);
}

/* New incomming friend's text alert */

.FriendListComponentStyle-containerFriends .TableComponentStyle-table tbody > tr .FriendRequestComponentStyle-cellName span.InviteUsersComponentStyle-newUser {
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: none;
	font-size: .8em;
	color: var(--severitium-main-color);
}

/* Decline request button */

/* Button */

.FriendListComponentStyle-containerFriends .TableComponentStyle-table tbody > tr .FriendRequestComponentStyle-buttonDecline {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-red-button-background);
	border: var(--severitium-red-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.FriendListComponentStyle-containerFriends .TableComponentStyle-table tbody > tr .FriendRequestComponentStyle-buttonDecline:hover {
	background: var(--severitium-red-button-background);
	border: var(--severitium-red-button-border-color-hover) solid .1em;
}

/* Button's text */

.FriendListComponentStyle-containerFriends .TableComponentStyle-table tbody > tr .FriendRequestComponentStyle-buttonDecline > span {
	color: var(--severitium-red-button-color);
}

/* Accept request button */

/* Button */

.FriendListComponentStyle-containerFriends .TableComponentStyle-table tbody > tr .FriendRequestComponentStyle-buttonAccept {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.FriendListComponentStyle-containerFriends .TableComponentStyle-table tbody > tr .FriendRequestComponentStyle-buttonAccept:hover {
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color-hover) solid .1em;
}

/* Button's text */

.FriendListComponentStyle-containerFriends .TableComponentStyle-table tbody > tr .FriendRequestComponentStyle-buttonAccept > span {
	color: var(--severitium-green-button-color);
}