/* Tab container */

.BattleTabStatisticComponentStyle-container > div {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 0;
	background: var(--severitium-tab-background);
	-webkit-backdrop-filter: blur(.2em);
			backdrop-filter: blur(.2em);
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	box-sizing: border-box;
}

/* Pseudo-elements for tab container */

.BattleTabStatisticComponentStyle-container > div::before,
.BattleTabStatisticComponentStyle-container > div::after {
	box-sizing: inherit;
	content: '';
	position: absolute;
	border: .1em solid transparent;
	border-radius: var(--severitium-border-radius);
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	pointer-events: none;
}

/* Pseudo-element 'before' for tab container */

.BattleTabStatisticComponentStyle-container > div::before {
	border-top-color: var(--severitium-tab-main-border-color);
	border-right-color: var(--severitium-tab-main-border-color);
	-webkit-animation: tabbeforeborder 0.5s ease-out forwards;
			animation: tabbeforeborder 0.5s ease-out forwards;
}

/* Animation for 'before' tab container element */

@-webkit-keyframes tabbeforeborder {
	0% {
		width: 0;
		height: 0;
	}
	50% {
		width: 100%;
		height: 0;
	}
	100% {
		width: 100%;
		height: 100%;
	}
}

@keyframes tabbeforeborder {
	0% {
		width: 0;
		height: 0;
	}
	50% {
		width: 100%;
		height: 0;
	}
	100% {
		width: 100%;
		height: 100%;
	}
}

/* Pseudo-element 'after' for tab container */

.BattleTabStatisticComponentStyle-container > div::after {
	border-bottom-color: var(--severitium-tab-main-border-color);
	border-left-color: var(--severitium-tab-main-border-color);
	-webkit-animation: tabafterborder 0.5s ease-out forwards;
			animation: tabafterborder 0.5s ease-out forwards;
}

/* Animation for 'after' tab container element */

@-webkit-keyframes tabafterborder {
	0% {
		width: 0;
		height: 0;
	}
	50% {
		width: 0;
		height: 100%;
	}
	100% {
		width: 100%;
		height: 100%;
	}
}

@keyframes tabafterborder {
	0% {
		width: 0;
		height: 0;
	}
	50% {
		width: 0;
		height: 100%;
	}
	100% {
		width: 100%;
		height: 100%;
	}
}

/* Tab container for team battles */

.BattleTabStatisticComponentStyle-container > div:not(:has(.BattleTabStatisticComponentStyle-dmTableContainer)) {
	width: 90em;
}

/* Tab container for DM */

.BattleTabStatisticComponentStyle-container > div:has(.BattleTabStatisticComponentStyle-dmTableContainer) {
	width: 60em;
}

/* All elements inside the tab */

.BattleTabStatisticComponentStyle-container > div * {
	box-sizing: border-box;
}

/* Tab header */

.BattleTabStatisticComponentStyle-container > div .BattleTabStatisticComponentStyle-header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	border-bottom: .1em solid var(--severitium-tab-header-border-color);
}

/* Tab header before and after elements */

.BattleTabStatisticComponentStyle-container > div .BattleTabStatisticComponentStyle-header::before,
.BattleTabStatisticComponentStyle-container > div .BattleTabStatisticComponentStyle-header::after {
	display: none;
}

/* Map custom and common name containers */

.BattleTabStatisticComponentStyle-container > div .BattleTabStatisticComponentStyle-header .BattleTabStatisticComponentStyle-commonBlockCustomName,
.BattleTabStatisticComponentStyle-container > div .BattleTabStatisticComponentStyle-header .BattleTabStatisticComponentStyle-commonBlockMapName {
	width: auto;
	display: flex;
	gap: 1em;
	margin: 0;
	padding: 0;
	opacity: 1;
}

/* Map custom and common name texts */

.BattleTabStatisticComponentStyle-container > div .BattleTabStatisticComponentStyle-header .BattleTabStatisticComponentStyle-commonBlockCustomName span,
.BattleTabStatisticComponentStyle-container > div .BattleTabStatisticComponentStyle-header .BattleTabStatisticComponentStyle-commonBlockMapName span {
	width: auto;
	margin: 0;
	padding: 0;
	color: var(--severitium-white-text-color);
	opacity: 1;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
}

/* Pseudo element after custom name to separate names */

.BattleTabStatisticComponentStyle-container > div .BattleTabStatisticComponentStyle-header .BattleTabStatisticComponentStyle-commonBlockCustomName::after {
	content: '-';
	font-size: 1em;
	color: var(--severitium-white-text-color);
}

/* Option icons of a battle, single icon (e.g. included gold boxes, included drones, etc) */

.BattleTabStatisticComponentStyle-colorIconBattleOptions {
	background-color: var(--severitium-light-gray-color);
	transition: background-color .2s ease;
}

/* Option icons of a battle, single icon on hover */

.BattleTabStatisticComponentStyle-colorIconBattleOptions:hover {
	background-color: var(--severitium-white-color);
}

/* Tab table */

.BattleTabStatisticComponentStyle-container > div table tbody {
	--row-background-color: var(--severitium-tab-other-string-background);
	--selected-row-background-color: var(--severitium-tab-self-string-background);
}

/* A string inside the tab */

.BattleTabStatisticComponentStyle-container > div table tbody tr {
	border: .1em solid var(--severitium-tab-borders-color);
	border-radius: var(--severitium-border-radius);
	transition: border .2s ease;
}

/* String inside tab on hover */

.BattleTabStatisticComponentStyle-container > div table tbody tr:hover {
	border: .1em solid var(--severitium-tab-borders-hover-color);
	border-radius: var(--severitium-border-radius);
	box-shadow: none;
}

/* Nickname inside the tab */

.BattleTabStatisticComponentStyle-container > div table tbody tr td:first-child span {
	color: var(--severitium-tab-nickname-color);
	cursor: pointer;
}

/* Nickname inside the tab on hover */

.BattleTabStatisticComponentStyle-container > div table tbody tr td:first-child span:hover {
	color: var(--severitium-tab-nickname-hover-color);
}

/* Selected string in the tab */

.BattleTabStatisticComponentStyle-selectedRowBackGround {
	pointer-events: none;
}

/* Outer tab tables container for team battles */

.BattleTabStatisticComponentStyle-tablesContainer:not(:has(.BattleTabStatisticComponentStyle-dmTableContainer)) {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

/* Red and blue team containers with tables */

.BattleTabStatisticComponentStyle-blueTeamTableContainer,
.BattleTabStatisticComponentStyle-redTeamTableContainer {
	width: 100%;
}

/* Table strings with players for blue and red teams */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table tbody tr,
.BattleTabStatisticComponentStyle-redTeamTableContainer table tbody tr {
	width: 42.5em;
	position: relative;
}

/* Container for tab table in DM */

.BattleTabStatisticComponentStyle-tablesContainer:has(.BattleTabStatisticComponentStyle-dmTableContainer) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

/* Inner container for table in DM */

.BattleTabStatisticComponentStyle-dmTableContainer {
	width: 100%;
}

/* Table strings with players for DM */

.BattleTabStatisticComponentStyle-dmTableContainer table tbody tr {
	width: 56em;
	position: relative;
}

/* Team battles tab */

/* Tab header outer container */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table thead,
.BattleTabStatisticComponentStyle-redTeamTableContainer table thead {
	width: auto;
}

/* Tab header inner container */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table thead tr,
.BattleTabStatisticComponentStyle-redTeamTableContainer table thead tr {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	width: 42.5em;
}

/* Name */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table thead tr th:first-child,
.BattleTabStatisticComponentStyle-redTeamTableContainer table thead tr th:first-child {
	position: absolute;
	top: 0;
	left: 0;
	width: 10em;
	margin: 0 .5em;
}

/* GS */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table thead tr th:nth-child(2),
.BattleTabStatisticComponentStyle-redTeamTableContainer table thead tr th:nth-child(2) {
	position: absolute;
	top: 0;
	left: 11em;
	width: 3em;
	margin: 0 .5em;
}

/* Turret */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table thead tr th:nth-child(3),
.BattleTabStatisticComponentStyle-redTeamTableContainer table thead tr th:nth-child(3) {
	position: absolute;
	top: 0;
	left: 14em;
	width: 3em;
	margin: 0 .5em;
}

/* Hull */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table thead tr th:nth-child(4),
.BattleTabStatisticComponentStyle-redTeamTableContainer table thead tr th:nth-child(4) {
	position: absolute;
	top: 0;
	left: 18em;
	width: 3em;
	margin: 0 .5em;
}

/* Modules */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table thead tr th:nth-child(4)::after,
.BattleTabStatisticComponentStyle-redTeamTableContainer table thead tr th:nth-child(4)::after {
	content: '';
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	left: 2.75em;
	width: 11.5em;
	height: 1em;
	margin: 0 .5em;
	background-image: none;
	background-color: var(--severitium-white-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M425.53,49.12l-81-34.31a272.57,272.57,0,0,0-177,0l-81,34.31c-26.19,8.94-43.86,27.64-43.86,56.15V248.71c0,165.77,196.26,257.32,204.67,261.13h0a20.78,20.78,0,0,0,15.39.77c8.43-2.89,206.59-72.93,206.59-261.9V105.27C469.34,76.79,451.66,58.09,425.53,49.12ZM123,211.74a60.47,60.47,0,0,1,0-78.34c8.58-9.79,23.56-20.16,47.75-20.16s39.17,10.37,47.81,20.16a60.47,60.47,0,0,1,0,78.34c-8.64,9.79-23.62,20.16-47.81,20.16S131.58,221.53,123,211.74ZM230.36,314.26c-3.46,7.2-7.2,8.07-11.52,8.07h-23c-4,0-5.44-4.61-4-8.07l89-189.21c3.45-7.2,7.2-8.06,11.52-8.06h23c4,0,5.44,4.6,4,8.06Zm158.69-12.09c-8.64,9.79-23.6,20.16-47.8,20.16S302.08,312,293.44,302.17a60.47,60.47,0,0,1,0-78.34c8.64-9.83,23.62-20.11,47.81-20.11s39.16,10.37,47.8,20.16a60.41,60.41,0,0,1,0,78.29ZM192.64,172.57c0,13.82-7.78,25.63-21.89,25.63s-21.89-11.81-21.89-25.63,7.78-25.63,21.89-25.63S192.64,158.75,192.64,172.57Zm170.49,90.48c0,13.82-7.77,25.63-21.88,25.63S319.36,276.82,319.36,263s7.77-25.63,21.89-25.63,21.88,11.81,21.88,25.63Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M425.53,49.12l-81-34.31a272.57,272.57,0,0,0-177,0l-81,34.31c-26.19,8.94-43.86,27.64-43.86,56.15V248.71c0,165.77,196.26,257.32,204.67,261.13h0a20.78,20.78,0,0,0,15.39.77c8.43-2.89,206.59-72.93,206.59-261.9V105.27C469.34,76.79,451.66,58.09,425.53,49.12ZM123,211.74a60.47,60.47,0,0,1,0-78.34c8.58-9.79,23.56-20.16,47.75-20.16s39.17,10.37,47.81,20.16a60.47,60.47,0,0,1,0,78.34c-8.64,9.79-23.62,20.16-47.81,20.16S131.58,221.53,123,211.74ZM230.36,314.26c-3.46,7.2-7.2,8.07-11.52,8.07h-23c-4,0-5.44-4.61-4-8.07l89-189.21c3.45-7.2,7.2-8.06,11.52-8.06h23c4,0,5.44,4.6,4,8.06Zm158.69-12.09c-8.64,9.79-23.6,20.16-47.8,20.16S302.08,312,293.44,302.17a60.47,60.47,0,0,1,0-78.34c8.64-9.83,23.62-20.11,47.81-20.11s39.16,10.37,47.8,20.16a60.41,60.41,0,0,1,0,78.29ZM192.64,172.57c0,13.82-7.78,25.63-21.89,25.63s-21.89-11.81-21.89-25.63,7.78-25.63,21.89-25.63S192.64,158.75,192.64,172.57Zm170.49,90.48c0,13.82-7.77,25.63-21.88,25.63S319.36,276.82,319.36,263s7.77-25.63,21.89-25.63,21.88,11.81,21.88,25.63Z" fill="white"/></svg>');
}

/* Score */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table thead tr th:nth-child(5),
.BattleTabStatisticComponentStyle-redTeamTableContainer table thead tr th:nth-child(5) {
	position: absolute;
	top: 0;
	left: 34em;
	width: 3em;
	margin: 0 .5em;
}

/* K/D */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table thead tr th:nth-child(6),
.BattleTabStatisticComponentStyle-redTeamTableContainer table thead tr th:nth-child(6) {
	position: absolute;
	top: 0;
	left: 38em;
	width: 3em;
	margin: 0 .5em;
}

/* Player string */

/* Name */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table tbody tr td:first-child,
.BattleTabStatisticComponentStyle-redTeamTableContainer table tbody tr td:first-child {
	position: absolute;
	top: 0;
	left: 0;
	margin-right: 1em;
	width: 10em;
	margin: 0 .5em;
	overflow: hidden;
}

/* GS */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table tbody tr td:nth-child(3),
.BattleTabStatisticComponentStyle-redTeamTableContainer table tbody tr td:nth-child(3) {
	position: absolute;
	top: 0;
	left: 11em;
	visibility: visible;
	width: 3em;
	margin: 0 .5em;
}

/* Turret + device */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table tbody tr td:nth-child(4),
.BattleTabStatisticComponentStyle-redTeamTableContainer table tbody tr td:nth-child(4) {
	position: absolute;
	top: 0;
	left: 14em;
	visibility: visible;
	width: 3em;
	margin: 0 .5em;
}

/* Turret + device inner container */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table tbody tr td:nth-child(4) > div,
.BattleTabStatisticComponentStyle-redTeamTableContainer table tbody tr td:nth-child(4) > div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .25em;
}

/* Turret + device icons */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table tbody tr td:nth-child(4) > div > div,
.BattleTabStatisticComponentStyle-redTeamTableContainer table tbody tr td:nth-child(4) > div > div {
	width: 1em;
	height: 1em;
	margin: 0;
}

/* Hull + immunity */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table tbody tr td:nth-child(5),
.BattleTabStatisticComponentStyle-redTeamTableContainer table tbody tr td:nth-child(5) {
	position: absolute;
	top: 0;
	left: 18em;
	visibility: visible;
	width: 3em;
	margin: 0 .5em;
}

/* Hull + immunity inner container */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table tbody tr td:nth-child(5) > div,
.BattleTabStatisticComponentStyle-redTeamTableContainer table tbody tr td:nth-child(5) > div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .25em;
}

/* Hull + immunity icons */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table tbody tr td:nth-child(5) > div > div,
.BattleTabStatisticComponentStyle-redTeamTableContainer table tbody tr td:nth-child(5) > div > div {
	width: 1em;
	height: 1em;
	margin: 0;
}

/* Modules container */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table tbody tr td:nth-child(2),
.BattleTabStatisticComponentStyle-redTeamTableContainer table tbody tr td:nth-child(2) {
	position: absolute;
	top: 0;
	left: 22em;
	width: auto;
	margin: 0 .5em;
}

/* One module icon container of player in the tab */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table tbody .BattleTabStatisticComponentStyle-defenceLabel,
.BattleTabStatisticComponentStyle-redTeamTableContainer table tbody .BattleTabStatisticComponentStyle-defenceLabel {
	visibility: visible;
	width: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* One module icon */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table tbody .BattleTabStatisticComponentStyle-defenceLabel > div,
.BattleTabStatisticComponentStyle-redTeamTableContainer table tbody .BattleTabStatisticComponentStyle-defenceLabel > div {
	width: 1em;
	height: 1em;
}

/* Score */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table tbody tr td:nth-child(6),
.BattleTabStatisticComponentStyle-redTeamTableContainer table tbody tr td:nth-child(6) {
	position: absolute;
	top: 0;
	left: 34em;
	visibility: visible;
	width: 3em;
	margin: 0 .5em;
	text-align: center;
	border: none;
}

/* KD */

.BattleTabStatisticComponentStyle-blueTeamTableContainer table tbody tr td:nth-child(7),
.BattleTabStatisticComponentStyle-redTeamTableContainer table tbody tr td:nth-child(7) {
	position: absolute;
	top: 0;
	left: 38em;
	visibility: visible;
	width: 3em;
	margin: 0 .5em;
	text-align: center;
	border: none;
}

/* Tab in solo battles (DM) */

/* Tab header outer container */

.BattleTabStatisticComponentStyle-dmTableContainer table thead {
	width: auto;
}

/* Tab header inner container */

.BattleTabStatisticComponentStyle-dmTableContainer table thead tr {
	width: 56em;
}

/* Name */

.BattleTabStatisticComponentStyle-dmTableContainer table thead tr th:first-child {
	position: absolute;
	top: 0;
	left: 0;
	margin-right: 1em;
	width: 12em;
	margin: 0 .5em;
	overflow: hidden;
}

/* GS */

.BattleTabStatisticComponentStyle-dmTableContainer table thead tr th:nth-child(2) {
	position: absolute;
	top: 0;
	left: 13em;
	width: 4em;
	margin: 0 .5em;
}

/* Turret */

.BattleTabStatisticComponentStyle-dmTableContainer table thead tr th:nth-child(3) {
	position: absolute;
	top: 0;
	left: 18em;
	width: 4em;
	margin: 0 .5em;
}

/* Hull */

.BattleTabStatisticComponentStyle-dmTableContainer table thead tr th:nth-child(4) {
	position: absolute;
	top: 0;
	left: 23em;
	width: 4em;
	margin: 0 .5em;
}

/* Modules */

.BattleTabStatisticComponentStyle-dmTableContainer table thead tr th:nth-child(4)::after {
	content: '';
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	left: 5.5em;
	width: 14em;
	height: 1em;
	margin: 0 .5em;
	background-image: none;
	background-color: var(--severitium-white-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M425.53,49.12l-81-34.31a272.57,272.57,0,0,0-177,0l-81,34.31c-26.19,8.94-43.86,27.64-43.86,56.15V248.71c0,165.77,196.26,257.32,204.67,261.13h0a20.78,20.78,0,0,0,15.39.77c8.43-2.89,206.59-72.93,206.59-261.9V105.27C469.34,76.79,451.66,58.09,425.53,49.12ZM123,211.74a60.47,60.47,0,0,1,0-78.34c8.58-9.79,23.56-20.16,47.75-20.16s39.17,10.37,47.81,20.16a60.47,60.47,0,0,1,0,78.34c-8.64,9.79-23.62,20.16-47.81,20.16S131.58,221.53,123,211.74ZM230.36,314.26c-3.46,7.2-7.2,8.07-11.52,8.07h-23c-4,0-5.44-4.61-4-8.07l89-189.21c3.45-7.2,7.2-8.06,11.52-8.06h23c4,0,5.44,4.6,4,8.06Zm158.69-12.09c-8.64,9.79-23.6,20.16-47.8,20.16S302.08,312,293.44,302.17a60.47,60.47,0,0,1,0-78.34c8.64-9.83,23.62-20.11,47.81-20.11s39.16,10.37,47.8,20.16a60.41,60.41,0,0,1,0,78.29ZM192.64,172.57c0,13.82-7.78,25.63-21.89,25.63s-21.89-11.81-21.89-25.63,7.78-25.63,21.89-25.63S192.64,158.75,192.64,172.57Zm170.49,90.48c0,13.82-7.77,25.63-21.88,25.63S319.36,276.82,319.36,263s7.77-25.63,21.89-25.63,21.88,11.81,21.88,25.63Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M425.53,49.12l-81-34.31a272.57,272.57,0,0,0-177,0l-81,34.31c-26.19,8.94-43.86,27.64-43.86,56.15V248.71c0,165.77,196.26,257.32,204.67,261.13h0a20.78,20.78,0,0,0,15.39.77c8.43-2.89,206.59-72.93,206.59-261.9V105.27C469.34,76.79,451.66,58.09,425.53,49.12ZM123,211.74a60.47,60.47,0,0,1,0-78.34c8.58-9.79,23.56-20.16,47.75-20.16s39.17,10.37,47.81,20.16a60.47,60.47,0,0,1,0,78.34c-8.64,9.79-23.62,20.16-47.81,20.16S131.58,221.53,123,211.74ZM230.36,314.26c-3.46,7.2-7.2,8.07-11.52,8.07h-23c-4,0-5.44-4.61-4-8.07l89-189.21c3.45-7.2,7.2-8.06,11.52-8.06h23c4,0,5.44,4.6,4,8.06Zm158.69-12.09c-8.64,9.79-23.6,20.16-47.8,20.16S302.08,312,293.44,302.17a60.47,60.47,0,0,1,0-78.34c8.64-9.83,23.62-20.11,47.81-20.11s39.16,10.37,47.8,20.16a60.41,60.41,0,0,1,0,78.29ZM192.64,172.57c0,13.82-7.78,25.63-21.89,25.63s-21.89-11.81-21.89-25.63,7.78-25.63,21.89-25.63S192.64,158.75,192.64,172.57Zm170.49,90.48c0,13.82-7.77,25.63-21.88,25.63S319.36,276.82,319.36,263s7.77-25.63,21.89-25.63,21.88,11.81,21.88,25.63Z" fill="white"/></svg>');
}

/* Score */

.BattleTabStatisticComponentStyle-dmTableContainer table thead tr th:nth-child(5) {
	position: absolute;
	top: 0;
	left: 44em;
	width: 4em;
	margin: 0 .5em;
}

/* K/D */

.BattleTabStatisticComponentStyle-dmTableContainer table thead tr th:nth-child(6) {
	position: absolute;
	top: 0;
	left: 50em;
	width: 4em;
	margin: 0 .5em;
}

/* Player string */

/* Nickname */

.BattleTabStatisticComponentStyle-dmTableContainer table tbody tr td:first-child {
	position: absolute;
	top: 0;
	left: 0;
	margin-right: 1em;
	width: 12em;
	margin: 0 .5em;
	overflow: hidden;
}

/* GS */

.BattleTabStatisticComponentStyle-dmTableContainer table tbody tr td:nth-child(3) {
	position: absolute;
	top: 0;
	left: 13em;
	visibility: visible;
	width: 4em;
	margin: 0 .5em;
}

/* Turret + device */

.BattleTabStatisticComponentStyle-dmTableContainer table tbody tr td:nth-child(4) {
	position: absolute;
	top: 0;
	left: 18em;
	visibility: visible;
	width: 4em;
	margin: 0 .5em;
}

/* Hull + immunity */

.BattleTabStatisticComponentStyle-dmTableContainer table tbody tr td:nth-child(5) {
	position: absolute;
	top: 0;
	left: 23em;
	visibility: visible;
	width: 4em;
	margin: 0 .5em;
}

/* Modules container */

.BattleTabStatisticComponentStyle-dmTableContainer table tbody tr td:nth-child(2) {
	position: absolute;
	top: 0;
	left: 31em;
	width: auto;
	margin: 0 .5em;
}

/* One module icon container of player in the tab */

.BattleTabStatisticComponentStyle-dmTableContainer table tbody .BattleTabStatisticComponentStyle-defenceLabel {
	visibility: visible;
	width: 2.5em;
}

/* One module icon */

.BattleTabStatisticComponentStyle-dmTableContainer table tbody .BattleTabStatisticComponentStyle-defenceLabel > div {
	width: 1em;
	height: 1em;
}

/* Score */

.BattleTabStatisticComponentStyle-dmTableContainer table tbody tr td:nth-child(6) {
	position: absolute;
	top: 0;
	left: 44em;
	visibility: visible;
	width: 4em;
	margin: 0 .5em;
	text-align: center;
	border: none;
}

/* KD */

.BattleTabStatisticComponentStyle-dmTableContainer table tbody tr td:nth-child(7) {
	position: absolute;
	top: 0;
	left: 50em;
	visibility: visible;
	width: 4em;
	margin: 0 .5em;
	text-align: center;
	border: none;
}

/* Tab header lines */

/* Tab nickname header text */

.BattleTabStatisticComponentStyle-tablesContainer table thead tr th:first-child > h2 {
	margin: 0;
	margin-left: 1em;
	color: var(--severitium-white-text-color);
}

/* All icons in tab header lines */

.BattleTabStatisticComponentStyle-tablesContainer table thead tr th > div {
	width: 1.5em;
	height: 1em;
	background-image: none;
	background-color: var(--severitium-white-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
}

/* GS */

.BattleTabStatisticComponentStyle-tablesContainer table thead tr th:nth-child(2) > div {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="24" height="12" viewBox="0 0 24 12" xmlns="http://www.w3.org/2000/svg"><path d="M0 2.4L2.4 0H12L9.6 2.4H2.4V9.6H9.6V7.2H4.8V4.8H9.6L12 7.2V9.6L9.6 12H2.4L0 9.6V2.4Z" fill="white"/><path d="M24 0H14.4L12 2.4V4.8L14.4 7.2H21.6V9.6H14.4L12 12H21.6L24 9.6V7.2L21.6 4.8H14.4V2.4H21.6L24 0Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="24" height="12" viewBox="0 0 24 12" xmlns="http://www.w3.org/2000/svg"><path d="M0 2.4L2.4 0H12L9.6 2.4H2.4V9.6H9.6V7.2H4.8V4.8H9.6L12 7.2V9.6L9.6 12H2.4L0 9.6V2.4Z" fill="white"/><path d="M24 0H14.4L12 2.4V4.8L14.4 7.2H21.6V9.6H14.4L12 12H21.6L24 9.6V7.2L21.6 4.8H14.4V2.4H21.6L24 0Z" fill="white"/></svg>');
}

/* Turret */

.BattleTabStatisticComponentStyle-tablesContainer table thead tr th:nth-child(3) > div {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5 0H7V12H9V0H11V6L14 9V13L11 16V16H9H7H5V16L2 13V9L5 6V0Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5 0H7V12H9V0H11V6L14 9V13L11 16V16H9H7H5V16L2 13V9L5 6V0Z" fill="white"/></svg>');
}

/* Hull */

.BattleTabStatisticComponentStyle-tablesContainer table thead tr th:nth-child(4) > div {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M2 3L3 2H7L8 3H16V5H6V6H10L12 8H15L16 9V11L14 13H2L0 11V8L2 6V3Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M2 3L3 2H7L8 3H16V5H6V6H10L12 8H15L16 9V11L14 13H2L0 11V8L2 6V3Z" fill="white"/></svg>');
}

/* Score */

.BattleTabStatisticComponentStyle-tablesContainer table thead tr th:nth-child(5) > div {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.29502 0.214948C8.11945 0.0868794 7.88126 0.0868791 7.70569 0.214948L6.03114 1.43646C5.94531 1.49907 5.84177 1.53271 5.73553 1.53251L3.6628 1.52856C3.44549 1.52815 3.25279 1.66815 3.18603 1.87496L2.54927 3.84746C2.51663 3.94856 2.45264 4.03664 2.36657 4.09892L0.687382 5.31405C0.511327 5.44145 0.437723 5.66798 0.50527 5.87453L1.14953 7.84459C1.18255 7.94557 1.18255 8.05444 1.14953 8.15542L0.50527 10.1255C0.437723 10.332 0.511327 10.5586 0.687381 10.686L2.36657 11.9011C2.45264 11.9634 2.51663 12.0514 2.54927 12.1526L3.18603 14.1251C3.25279 14.3319 3.44549 14.4719 3.6628 14.4714L5.73553 14.4675C5.84177 14.4673 5.94531 14.5009 6.03114 14.5636L7.70569 15.7851C7.88126 15.9131 8.11945 15.9131 8.29502 15.7851L9.96957 14.5636C10.0554 14.5009 10.1589 14.4673 10.2652 14.4675L12.3379 14.4714C12.5552 14.4719 12.7479 14.3319 12.8147 14.125L13.4514 12.1526C13.4841 12.0514 13.5481 11.9634 13.6341 11.9011L15.3133 10.686C15.4894 10.5586 15.563 10.332 15.4954 10.1255L14.8512 8.15542C14.8182 8.05444 14.8182 7.94557 14.8512 7.84459L15.4954 5.87453C15.563 5.66798 15.4894 5.44145 15.3133 5.31405L13.6341 4.09892C13.5481 4.03664 13.4841 3.94856 13.4514 3.84746L12.8147 1.87496C12.7479 1.66815 12.5552 1.52815 12.3379 1.52856L10.2652 1.53251C10.1589 1.53271 10.0554 1.49907 9.96957 1.43646L8.29502 0.214948ZM9.57195 5.83689L8.00036 1.00001L6.42876 5.83689H1.34296L5.45746 8.82624L3.88586 13.6631L8.00036 10.6738L12.1149 13.6631L10.5433 8.82624L14.6578 5.83689H9.57195Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.29502 0.214948C8.11945 0.0868794 7.88126 0.0868791 7.70569 0.214948L6.03114 1.43646C5.94531 1.49907 5.84177 1.53271 5.73553 1.53251L3.6628 1.52856C3.44549 1.52815 3.25279 1.66815 3.18603 1.87496L2.54927 3.84746C2.51663 3.94856 2.45264 4.03664 2.36657 4.09892L0.687382 5.31405C0.511327 5.44145 0.437723 5.66798 0.50527 5.87453L1.14953 7.84459C1.18255 7.94557 1.18255 8.05444 1.14953 8.15542L0.50527 10.1255C0.437723 10.332 0.511327 10.5586 0.687381 10.686L2.36657 11.9011C2.45264 11.9634 2.51663 12.0514 2.54927 12.1526L3.18603 14.1251C3.25279 14.3319 3.44549 14.4719 3.6628 14.4714L5.73553 14.4675C5.84177 14.4673 5.94531 14.5009 6.03114 14.5636L7.70569 15.7851C7.88126 15.9131 8.11945 15.9131 8.29502 15.7851L9.96957 14.5636C10.0554 14.5009 10.1589 14.4673 10.2652 14.4675L12.3379 14.4714C12.5552 14.4719 12.7479 14.3319 12.8147 14.125L13.4514 12.1526C13.4841 12.0514 13.5481 11.9634 13.6341 11.9011L15.3133 10.686C15.4894 10.5586 15.563 10.332 15.4954 10.1255L14.8512 8.15542C14.8182 8.05444 14.8182 7.94557 14.8512 7.84459L15.4954 5.87453C15.563 5.66798 15.4894 5.44145 15.3133 5.31405L13.6341 4.09892C13.5481 4.03664 13.4841 3.94856 13.4514 3.84746L12.8147 1.87496C12.7479 1.66815 12.5552 1.52815 12.3379 1.52856L10.2652 1.53251C10.1589 1.53271 10.0554 1.49907 9.96957 1.43646L8.29502 0.214948ZM9.57195 5.83689L8.00036 1.00001L6.42876 5.83689H1.34296L5.45746 8.82624L3.88586 13.6631L8.00036 10.6738L12.1149 13.6631L10.5433 8.82624L14.6578 5.83689H9.57195Z" fill="white"/></svg>');
}

/* Kills */

.BattleTabStatisticComponentStyle-tablesContainer table thead tr th:nth-child(6) > div {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.6777 9.35533L14.6667 7.33333H14.0001V8C14.0001 9.47276 12.8062 10.6667 11.3334 10.6667H10.6667L9.3334 9.33333V8.66667L14.6667 6V4C14.6667 2 11.3334 0 8.00006 0C4.66673 0 1.3334 2 1.3334 4V6L6.66673 8.66667V9.33333L5.3334 10.6667H4.66673C3.19397 10.6667 2.00006 9.47276 2.00006 8V7.33333H1.3334L0.322397 9.35533C0.129903 9.74032 0.205357 10.2053 0.509717 10.5097L1.56072 11.5607C1.84203 11.842 2.22356 12 2.62139 12H4.66673V13.5858C4.66673 13.851 4.77209 14.1054 4.95962 14.2929L6.00006 15.3333L8.00006 16L10.0001 15.3333L11.0405 14.2929C11.228 14.1054 11.3334 13.851 11.3334 13.5858V12H13.3787C13.7766 12 14.1581 11.842 14.4394 11.5607L15.4904 10.5097C15.7948 10.2053 15.8702 9.74032 15.6777 9.35533ZM7.00006 13L6.00006 12L8.00006 10L10.0001 12L9.00006 13L8.00006 12L7.00006 13Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.6777 9.35533L14.6667 7.33333H14.0001V8C14.0001 9.47276 12.8062 10.6667 11.3334 10.6667H10.6667L9.3334 9.33333V8.66667L14.6667 6V4C14.6667 2 11.3334 0 8.00006 0C4.66673 0 1.3334 2 1.3334 4V6L6.66673 8.66667V9.33333L5.3334 10.6667H4.66673C3.19397 10.6667 2.00006 9.47276 2.00006 8V7.33333H1.3334L0.322397 9.35533C0.129903 9.74032 0.205357 10.2053 0.509717 10.5097L1.56072 11.5607C1.84203 11.842 2.22356 12 2.62139 12H4.66673V13.5858C4.66673 13.851 4.77209 14.1054 4.95962 14.2929L6.00006 15.3333L8.00006 16L10.0001 15.3333L11.0405 14.2929C11.228 14.1054 11.3334 13.851 11.3334 13.5858V12H13.3787C13.7766 12 14.1581 11.842 14.4394 11.5607L15.4904 10.5097C15.7948 10.2053 15.8702 9.74032 15.6777 9.35533ZM7.00006 13L6.00006 12L8.00006 10L10.0001 12L9.00006 13L8.00006 12L7.00006 13Z" fill="white"/></svg>');
}