.SettingsComponentStyle-scrollingMenu.content-hidden {
	display: none;
}

/* Breezium container */

.SettingsComponentStyle-blockContentOptions .breezium-select {
	--breezium-bg-color: var(--severitium-dark-transparent-background4);
	--breezium-hover-bg-color: var(--severitium-light-transparent-background3);
	--breezium-option-hover-bg-color: var(--severitium-light-transparent-background3);
	--breezium-option-bg-color: transparent;
	--breezium-border-width: .075rem;
	--breezium-border-radius: .25rem;
	--breezium-border-color: var(--severitium-gray-color);
	--breezium-backdrop-filter: blur(5rem);
	width: 100%;
}

/* Breezium selected item */

.SettingsComponentStyle-blockContentOptions .breezium-select .breezium-selected {
	width: 100%;
	font-family: BaseFontBold, FallbackFontBold;
	font-size: 1em;
	color: var(--severitium-white-text-color);
	background-color: var(--severitium-dark-transparent-background2);
}

/* Active selected item (not opened clan chat) */

.SettingsComponentStyle-blockContentOptions .breezium-select .breezium-selected[data-state='selected'] {
	color: var(--severitium-main-color);
}

/* Breezium option */

.SettingsComponentStyle-blockContentOptions .breezium-select .breezium-option {
	font-family: BaseFontBold, FallbackFontBold;
	color: var(--severitium-white-text-color);
}

/* Theme settings button component */

.SettingsComponentStyle-blockContentOptions .SettingsComponentStyle-themeActionButton {
	min-width: 15em;
	width: auto;
	height: 3.125em;
	cursor: pointer;
	outline: none;
	box-shadow: none;
	margin: 0;
	font-size: inherit;
	border-radius: var(--severitium-border-radius);
}

/* Button text */

.SettingsComponentStyle-blockContentOptions .SettingsComponentStyle-themeActionButton > span {
	font-family: BaseFontBold, FallbackFontBold;
	font-size: 1em;
}

/* Theme settings green action button */

.SettingsComponentStyle-blockContentOptions .SettingsComponentStyle-greenActionButton {
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.SettingsComponentStyle-blockContentOptions .SettingsComponentStyle-greenActionButton:hover {
	outline: none;
	box-shadow: none;
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color-hover) solid .1em;
}

/* Button text */

.SettingsComponentStyle-blockContentOptions .SettingsComponentStyle-greenActionButton > span {
	color: var(--severitium-green-button-color);
}

/* Theme settings red action button */

.SettingsComponentStyle-blockContentOptions .SettingsComponentStyle-redActionButton {
	background: var(--severitium-red-button-background);
	border: var(--severitium-red-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.SettingsComponentStyle-blockContentOptions .SettingsComponentStyle-redActionButton:hover {
	outline: none;
	box-shadow: none;
	background: var(--severitium-red-button-background);
	border: var(--severitium-red-button-border-color-hover) solid .1em;
}

/* Button text */

.SettingsComponentStyle-blockContentOptions .SettingsComponentStyle-redActionButton > span {
	color: var(--severitium-red-button-color);
}

/* Settings input */

.SettingsComponentStyle-blockContentOptions .SettingsComponentStyle-themeInput {
	min-width: 15em;
	width: 100%;
	height: 3.125em;
	cursor: pointer;
	outline: none;
	box-shadow: none;
	margin: 0;
	font-size: 1em;
	border-radius: var(--severitium-border-radius);
	box-sizing: border-box;
	background: none;
	background-color: var(--severitium-light-transparent-background3);
	border-radius: var(--severitium-border-radius);
	border: .1em solid var(--severitium-light-gray-color);
	color: var(--severitium-white-text-color);
	transition: border .2s ease, color .2s ease, background-color .2s ease;
}

/* Input on hover */

.SettingsComponentStyle-blockContentOptions .SettingsComponentStyle-themeInput:hover {
	outline: none;
	background-color: var(--severitium-light-transparent-background3);
	border: var(--severitium-light-gray-color) solid .1em;
}

/* Input on focus */

.SettingsComponentStyle-blockContentOptions .SettingsComponentStyle-themeInput:focus-within {
	background-color: var(--severitium-light-transparent-background3);
	border: var(--severitium-white-color) solid .1em;
}