.SettingsComponentStyle-scrollingMenu.content-hidden {
	display: none;
}

/* Breezium container */

.SettingsComponentStyle-blockContentOptions .breezium-select {
	--breezium-select-option-height: 3.125em;
	--breezium-bg-color: var(--severitium-dark-transparent-background4);
	--breezium-hover-bg-color: var(--severitium-light-transparent-background3);
	--breezium-option-hover-bg-color: var(--severitium-light-transparent-background3);
	--breezium-option-bg-color: transparent;
	--breezium-border-width: .1rem;
	--breezium-border-radius: var(--severitium-border-radius);
	--breezium-border-color: var(--severitium-gray-color);
	--breezium-backdrop-filter: blur(5rem);
	width: 100%;
}

/* Breezium selected item */

.SettingsComponentStyle-blockContentOptions .breezium-select .breezium-selected {
	width: 100%;
	font-family: BaseFontBold, FallbackFontBold;
	font-size: 1em;
	color: var(--severitium-white-text-color);
	background-color: var(--severitium-dark-transparent-background2);
}

/* Active selected item (not opened clan chat) */

.SettingsComponentStyle-blockContentOptions .breezium-select .breezium-selected[data-state='selected'] {
	color: var(--severitium-main-color);
}

/* Breezium option */

.SettingsComponentStyle-blockContentOptions .breezium-select .breezium-option {
	font-family: BaseFontBold, FallbackFontBold;
	color: var(--severitium-white-text-color);
}

/* Theme settings button component */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-actionButton {
	min-width: 15em;
	width: auto;
	height: 3.125em;
	cursor: pointer;
	outline: none;
	box-shadow: none;
	margin: 0;
	font-size: inherit;
	border-radius: var(--severitium-border-radius);
}

/* Theme settings square button component */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-squareActionButton {
	height: 3.125em;
	aspect-ratio: 1 / 1;
	cursor: pointer;
	outline: none;
	box-shadow: none;
	margin: 0;
	padding: .75em;
	font-size: inherit;
	border-radius: var(--severitium-border-radius);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Hidden button */

.ThemeSettingsComponentStyle-actionButton.hidden,
.ThemeSettingsComponentStyle-squareActionButton.hidden {
	display: none;
}

/* Visible button */

.ThemeSettingsComponentStyle-actionButton.visible,
.ThemeSettingsComponentStyle-squareActionButton.visible {
	display: flex;
}

/* Button text */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-actionButton > span {
	font-family: BaseFontBold, FallbackFontBold;
	font-size: 1em;
}

/* Button icon */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-squareActionButton > svg {
	width: 100%;
	aspect-ratio: 1 / 1;
	-o-object-fit: contain;
	   object-fit: contain;
	pointer-events: none;
	-webkit-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

/* New theme and delete theme buttons */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-actionButton[data-button='new-theme-button'],
.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-actionButton[data-button='delete-theme-button'] {
	width: 100%;
}

/* Theme settings disabled button */

.SettingsComponentStyle-blockContentOptions .ThemeButtonComponentStyle-disabled:not(:root) {
	pointer-events: none;
	background-color: var(--severitium-light-transparent-background3);
	border-radius: var(--severitium-border-radius);
	border: transparent solid .1em;
	outline: none;
	box-shadow: none;
}

/* Button text */

.SettingsComponentStyle-blockContentOptions .ThemeButtonComponentStyle-disabled:not(:root) > span {
	color: var(--severitium-white-text-color);
	text-shadow: none;
	opacity: .25;
}

/* Theme settings green action button */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-greenActionButton {
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-greenActionButton:hover {
	outline: none;
	box-shadow: none;
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color-hover) solid .1em;
}

/* Button text */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-greenActionButton > span {
	color: var(--severitium-green-button-color);
}

/* Button icon */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-greenActionButton > svg {
	fill: var(--severitium-green-button-color);
}

/* Theme settings red action button */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-redActionButton {
	background: var(--severitium-red-button-background);
	border: var(--severitium-red-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-redActionButton:hover {
	outline: none;
	box-shadow: none;
	background: var(--severitium-red-button-background);
	border: var(--severitium-red-button-border-color-hover) solid .1em;
}

/* Button text */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-redActionButton > span {
	color: var(--severitium-red-button-color);
}

/* Button icon */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-redActionButton > svg {
	fill: var(--severitium-red-button-color);
}

/* Theme settings gold action button */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-goldActionButton {
	background: var(--severitium-gold-button-background);
	border: var(--severitium-gold-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-goldActionButton:hover {
	outline: none;
	box-shadow: none;
	background: var(--severitium-gold-button-background);
	border: var(--severitium-gold-button-border-color-hover) solid .1em;
}

/* Button text */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-goldActionButton > span {
	color: var(--severitium-gold-button-color);
}

/* Button icon */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-goldActionButton > svg {
	fill: var(--severitium-gold-button-color);
}

/* Settings input */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-input {
	min-width: 15em;
	width: 100%;
	height: 3.125em;
	cursor: pointer;
	outline: none;
	box-shadow: none;
	margin: 0;
	padding: 0 4em 0 1em;
	font-size: 1em;
	border-radius: var(--severitium-border-radius);
	box-sizing: border-box;
	background: none;
	background-color: var(--severitium-light-transparent-background3);
	border: .1em solid var(--severitium-light-gray-color);
	color: var(--severitium-white-text-color);
	transition: border .2s ease, color .2s ease, background-color .2s ease;
}

/* Input on hover */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-input:hover {
	outline: none;
	background-color: var(--severitium-light-transparent-background3);
	border: var(--severitium-light-gray-color) solid .1em;
}

/* Input on focus */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-input:focus-within {
	background-color: var(--severitium-light-transparent-background3);
	border: var(--severitium-white-color) solid .1em;
}

/* Theme settings tab and all elements inside it */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-settingsTab,
.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-settingsTab * {
	box-sizing: border-box;
}

/* Theme settings tab */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-settingsTab {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

/* Theme settings row */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

/* Theme header */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-row.ThemeSettingsComponentStyle-header {
	width: 100%;
	height: 3.125em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 4em 0 1em 0;
}

/* Theme name input styling */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-nameInput {
	width: 100%;
	height: 100%;
    border: none;
    background: transparent;
	background-color: transparent;
    outline: none;
    color: var(--severitium-white-text-color);
    font-family: BaseFontBold, FallbackFontBold;
	padding: 0;
	padding: 0 0 0 1em;
    font-weight: bold;
    font-size: 1.25em;
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-overflow: ellipsis;
	border-radius: var(--severitium-border-radius);
    transition: background-color .2s ease, color .2s ease;
}

/* Input selection styling */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-nameInput::selection {
	background: var(--severitium-blue-color);
	border-radius: .25rem;
}

/* Input when editing enabled */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-nameInput.editing {
	width: 100%;
	height: 100%;
	text-transform: none;
    background-color: var(--severitium-dark-transparent-background1);
    cursor: text;
}

/* Input when focused */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-nameInput.editing:focus {
	width: 100%;
	height: 100%;
    background-color: var(--severitium-dark-transparent-background2);
}

/* Disabled theme name input */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-nameInput.disabled {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

/* Theme header actions */

.SettingsComponentStyle-blockContentOptions .ThemeSettingsComponentStyle-headerActions {
    display: flex;
    gap: .5em;
}

/* Theme modal overlay */

.ThemeModalComponentStyle-RootHover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: var(--severitium-dark-transparent-background4);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	transition: opacity .2s ease;
}

/* Shown modal */

.ThemeModalComponentStyle-RootHover.show {
	opacity: 1;
	pointer-events: all;
}

/* Modal container and all elements inside it */

.ThemeModalComponentStyle-container,
.ThemeModalComponentStyle-container * {
	box-sizing: border-box;
	font-family: BaseFontRegular, FallbackFontRegular;
}

/* Modal container */

.ThemeModalComponentStyle-container {
	position: relative;
	min-width: 30em;
	width: auto;
	max-width: 35em;
	min-height: 15em;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	gap: 1.5em;
	padding: 2.5em;
	background-color: var(--severitium-dark-transparent-background1);
	-webkit-backdrop-filter: blur(.5em);
			backdrop-filter: blur(.5em);
	outline: var(--severitium-gray-color) solid .1em;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
}

/* Modal title */

.ThemeModalComponentStyle-title {
	display: flex;
	justify-content: center;
	align-items: center;
	position: unset;
	color: var(--severitium-white-text-color);
	font-size: 1.5em;
	margin: 0;
}

/* Modal text */

.ThemeModalComponentStyle-text {
	color: var(--severitium-light-gray-text-color);
	font-size: 1em;
	line-height: 1.4;
}

/* Modal highlighted text */

span.ThemeModalComponentStyle-highlightedText {
	color: var(--severitium-main-color);
}

/* Modal buttons container */

.ThemeModalComponentStyle-actionsContainer {
	display: flex;
	flex-direction: row;
	gap: 1.5em;
	align-items: center;
	justify-content: center;
}

/* Modal button */

.ThemeModalComponentStyle-actionButton {
	min-width: 40%;
	min-height: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: var(--severitium-border-radius, 4px);
	font-family: BaseFontBold, FallbackFontBold;
	font-size: 1em;
	text-transform: uppercase;
	cursor: pointer;
}

/* Modal gray button */

.ThemeModalComponentStyle-grayActionButton {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-gray-button-background);
	border: var(--severitium-gray-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.ThemeModalComponentStyle-grayActionButton:hover {
	border: var(--severitium-gray-button-border-color-hover) solid .1em;
}

/* Button text */

.ThemeModalComponentStyle-grayActionButton > span {
	color: var(--severitium-gray-button-color);
}

/* Modal red button */

.ThemeModalComponentStyle-redActionButton {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-red-button-background);
	border: var(--severitium-red-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.ThemeModalComponentStyle-redActionButton:hover {
	border: var(--severitium-red-button-border-color-hover) solid .1em;
}

/* Button text */

.ThemeModalComponentStyle-redActionButton > span {
	color: var(--severitium-red-button-color);
}

/* Variables grid */

.ThemeSettingsComponentStyle-variableGrid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	margin-top: 1em;
}

/* Input wrapper */

.ThemeInputComponentStyle-wrapper {
	display: flex;
	flex-direction: column;
	gap: .5em;
}

/* Input label */

.ThemeInputComponentStyle-wrapper label {
	font-family: BaseFontRegular, FallbackFontRegular;
	font-size: 1em;
	color: var(--severitium-extra-light-gray-text-color);
}

/* Input with helper wrapper */

.ThemeInputComponentStyle-inputWithHelper {
	position: relative;
}

/* Input helper */

.ThemeInputComponentStyle-inputHelper {
	position: absolute;
	right: .75em;
	top: 50%;
	transform: translateY(-50%);
	font-family: BaseFontRegular, FallbackFontRegular;
	color: var(--severitium-light-gray-text-color);
	pointer-events: none;
}

/* Coloris button (over input field) */

.clr-field button {
	width: auto;
	height: 100%;
	aspect-ratio: 1 / 1;
	border-radius: var(--severitium-border-radius);
}