/* Block with buttons */

.MainScreenComponentStyle-blockMainMenu {
	width: auto;
	height: auto;
	padding: 1em;
	margin-left: 4em;
}

/* List of buttons */

.MainScreenComponentStyle-blockMainMenu > ul {
	width: auto;
	height: auto;
	gap: 1em;
}

/* Single button */

.MainScreenComponentStyle-blockMainMenu > ul > li {
	width: 20em;
	height: auto;
	position: relative;
	padding: .2em .5em;
	margin: 0;
	transition: background-color .2s ease;
}

/* Highlighted single button */

.MainScreenComponentStyle-blockMainMenu > ul > li[style*="animation"] {
	-webkit-animation: none !important;
	        animation: none !important;
	border-radius: var(--severitium-border-radius);
}

/* Highlighted button text */

.MainScreenComponentStyle-blockMainMenu > ul > li[style*="animation"] > span {
	-webkit-animation: 1s ease 0s infinite normal none running severitium-highlight-text;
	        animation: 1s ease 0s infinite normal none running severitium-highlight-text;
}

/* Text highlight animation */

@-webkit-keyframes severitium-highlight-text {
	0%, 100% {
		color: var(--severitium-extra-light-gray-text-color);
	}
	50% {
		color: var(--severitium-white-text-color);
	}
}

@keyframes severitium-highlight-text {
	0%, 100% {
		color: var(--severitium-extra-light-gray-text-color);
	}
	50% {
		color: var(--severitium-white-text-color);
	}
}

/* Button on hover */

.MainScreenComponentStyle-blockMainMenu > ul > li:hover {
	border: none;
	outline: none;
	box-shadow: none;
	border-radius: 0;
}

.PrimaryMenuItemComponentStyle-itemCommonLi:hover div {
	background: none;
	background-color: var(--severitium-white-text-color);
}

/* Blocks inside hovered button element */

.MainScreenComponentStyle-blockMainMenu > ul > li:hover div:not([class*='itemli'i]) {
	background: none;
}

/* Button icon */

.MainScreenComponentStyle-blockMainMenu > ul > li [class*='itemli'i] {
	width: 4em;
	height: 4em;
	margin: 0;
	padding: 0;
	background: none;
	background-image: none;
	background-color: var(--severitium-main-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
}

/* Custom button icon (containers) */

.MainScreenComponentStyle-blockMainMenu > ul > li [class*='itemli'i][class*='container'i] {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M12 14C10.8954 14 10 14.8954 10 16V21.5H19L24 27.5H32L37 21.5H46V16C46 14.8954 45.1046 14 44 14H35.5L34 15.5H22L20.5 14H12Z" fill="white"/><path d="M46 24.5H39L34 30.5H22L17 24.5H10V39C10 40.1046 10.8954 41 12 41H20.5L22 39.5H34L35.5 41H44C45.1046 41 46 40.1046 46 39V24.5Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M12 14C10.8954 14 10 14.8954 10 16V21.5H19L24 27.5H32L37 21.5H46V16C46 14.8954 45.1046 14 44 14H35.5L34 15.5H22L20.5 14H12Z" fill="white"/><path d="M46 24.5H39L34 30.5H22L17 24.5H10V39C10 40.1046 10.8954 41 12 41H20.5L22 39.5H34L35.5 41H44C45.1046 41 46 40.1046 46 39V24.5Z" fill="white"/></svg>');
}

/* Custom button icon (missions) */

.MainScreenComponentStyle-blockMainMenu > ul > li [class*='itemli'i][class*='quest'i] {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M35.125 45L46 12H28L22 30V16.5H16L10 34.5H25L26.5 30H37.0682L32.125 45H35.125Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M35.125 45L46 12H28L22 30V16.5H16L10 34.5H25L26.5 30H37.0682L32.125 45H35.125Z" fill="white"/></svg>');
}

/* Custom button icon (garage) */

.MainScreenComponentStyle-blockMainMenu > ul > li [class*='itemli'i][class*='garage'i] {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M16.3333 15H24.6667L26.3333 16.6667H43V20H23V23.3333H33L38 28.3333H46.3333L48 30V35L43 40H13L8 35V28.3333L13 23.3333V18.3333L16.3333 15Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M16.3333 15H24.6667L26.3333 16.6667H43V20H23V23.3333H33L38 28.3333H46.3333L48 30V35L43 40H13L8 35V28.3333L13 23.3333V18.3333L16.3333 15Z" fill="white"/></svg>');
}

/* Custom button icon (store) */

.MainScreenComponentStyle-blockMainMenu > ul > li [class*='itemli'i][class*='shop'i] {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M46 11L37 35H13V32H35.125L36.25 29H13L10 17H40.75L43 11H46Z" fill="white"/><path d="M19 41C19 42.6569 17.6569 44 16 44C14.3431 44 13 42.6569 13 41C13 39.3431 14.3431 38 16 38C17.6569 38 19 39.3431 19 41Z" fill="white"/><path d="M37 41C37 42.6569 35.6569 44 34 44C32.3431 44 31 42.6569 31 41C31 39.3431 32.3431 38 34 38C35.6569 38 37 39.3431 37 41Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M46 11L37 35H13V32H35.125L36.25 29H13L10 17H40.75L43 11H46Z" fill="white"/><path d="M19 41C19 42.6569 17.6569 44 16 44C14.3431 44 13 42.6569 13 41C13 39.3431 14.3431 38 16 38C17.6569 38 19 39.3431 19 41Z" fill="white"/><path d="M37 41C37 42.6569 35.6569 44 34 44C32.3431 44 31 42.6569 31 41C31 39.3431 32.3431 38 34 38C35.6569 38 37 39.3431 37 41Z" fill="white"/></svg>');
}

/* Custom button icon (settings) */

.MainScreenComponentStyle-blockMainMenu > ul > li [class*='itemli'i][class*='option'i] {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M37 43.177L46 27.5885L37 12L19 12L10 27.5885L19 43.177L37 43.177ZM28 34.7883C31.9764 34.7883 35.2 31.5647 35.2 27.5883C35.2 23.6118 31.9764 20.3883 28 20.3883C24.0236 20.3883 20.8 23.6118 20.8 27.5883C20.8 31.5647 24.0236 34.7883 28 34.7883Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M37 43.177L46 27.5885L37 12L19 12L10 27.5885L19 43.177L37 43.177ZM28 34.7883C31.9764 34.7883 35.2 31.5647 35.2 27.5883C35.2 23.6118 31.9764 20.3883 28 20.3883C24.0236 20.3883 20.8 23.6118 20.8 27.5883C20.8 31.5647 24.0236 34.7883 28 34.7883Z" fill="white"/></svg>');
}

/* Button text */

.MainScreenComponentStyle-blockMainMenu > ul > li span[class*='name'i] {
	font-size: 2em;
	text-transform: uppercase;
	color: var(--severitium-extra-light-gray-text-color);
	text-shadow: none;
	margin-left: .5em;
	transition: color .2s ease;
}

/* Button text on button hover */

.MainScreenComponentStyle-blockMainMenu > ul > li:hover span[class*='name'i] {
	color: var(--severitium-white-text-color);
}

/* Discount in the menu */

.MainScreenComponentStyle-blockMainMenu > ul > li span[class*='discount'i] {
	width: auto;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	margin: 0;
	padding: 0 .75em;
	font-size: 1.5em;
	color: var(--severitium-black-text-color);
	background-color: var(--severitium-red-color);
	opacity: 1;
	transition: opacity .2s ease, margin-right .2s ease;
}

/* Discount in the menu on button hover */

.MainScreenComponentStyle-blockMainMenu > ul > li:hover span[class*='discount'i] {
	margin-right: .5em;
	opacity: .25;
	-webkit-transform: translateY(-50%) scale(.85);
			transform: translateY(-50%) scale(.85);
}

/* Pseudo elements for beauty corner borders animation */

.MainScreenComponentStyle-blockMainMenu > ul > li::before,
.MainScreenComponentStyle-blockMainMenu > ul > li::after {
	content: '';
	height: 2em;
	width: 2em;
	position: absolute;
	opacity: 0;
	z-index: -1;
	border-radius: var(--severitium-border-radius);
	pointer-events: none;
	transition: all .2s ease;
}

/* Pseudo element before (top-right) */

.MainScreenComponentStyle-blockMainMenu > ul > li::before {
	right: 0;
	top: 0;
	border-top: var(--severitium-main-color) solid .4em;
	border-right: var(--severitium-main-color) solid .4em;
	-webkit-transform: translate(-100%, 50%);
			transform: translate(-100%, 50%);
}

/* Pseudo element after (bottom-left) */

.MainScreenComponentStyle-blockMainMenu > ul > li::after {
	left: 0;
	bottom: 0;
	border-bottom: var(--severitium-main-color) solid .4em;
	border-left: var(--severitium-main-color) solid .4em;
	-webkit-transform: translate(100%, -50%);
			transform: translate(100%, -50%);
}

/* Pseudo elements on button hover */

.MainScreenComponentStyle-blockMainMenu > ul > li:hover::before,
.MainScreenComponentStyle-blockMainMenu > ul > li:hover::after {
	-webkit-transform: translate(0,0);
			transform: translate(0,0);
	opacity: 1;
}

/* Notificator icon next to a button */

.MainScreenComponentStyle-blockMainMenu > ul > li:hover > svg.severitium-notificator-icon {
	opacity: 1;
	transition: opacity .2s ease;
}

/* Notificator icon on button's hover */

.MainScreenComponentStyle-blockMainMenu > ul > li:hover > svg.severitium-notificator-icon {
	opacity: 0;
}

/* Notificator icon for a menu item that has a discount icon */

.MainScreenComponentStyle-blockMainMenu > ul > li:has(span[class*='discount'i]) > svg.severitium-notificator-icon {
	right: -1.5em;
}