/* Modal overlay */

.ModalStyle-rootHover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: var(--severitium-dark-transparent-background1);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Inner element (modal window) */

.ModalStyle-rootHover > div:not([class*='battlepick'i]),
.DialogContainerComponentStyle-container {
	position: relative;
	background: var(--severitium-dark-transparent-background1);
	-webkit-backdrop-filter: blur(.5em);
			backdrop-filter: blur(.5em);
	outline: var(--severitium-gray-color) solid .1em;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
}

.ModalStyle-rootHover > div:has(> .ReCaptchaComponentStyle-captchaBlock) {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	border: none;
	outline: none;
	background: none;
}

/* Header container of the modal window */

.DialogContainerComponentStyle-header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: unset;
}

/* Header of the modal window */

.ModalStyle-rootHover > div:not([class*='battlepick'i]) h1,
.DialogContainerComponentStyle-header > h1,
.HeadlineComponentStyle-popupHeadlineContent span {
	color: var(--severitium-white-text-color);
}

/* Text of the modal window */

.DialogContainerComponentStyle-contentContainer span,
.ModalStyle-rootHover > div > div:has(> [class*='head'i]) + div > div > div {
	color: var(--severitium-light-gray-text-color) !important;
}

/* Modal disabled button */

.ModalStyle-rootHover:not(:root):not(:root) > div div.ButtonComponentStyle-disabled:not(:root):not(:root):not(:root) {
	pointer-events: none;
	background-color: var(--severitium-light-transparent-background3);
	border-radius: var(--severitium-border-radius);
	border: transparent solid .1em;
	outline: none;
	box-shadow: none;
}

/* Button text */

.ModalStyle-rootHover:not(:root):not(:root) > div div.ButtonComponentStyle-disabled:not(:root):not(:root):not(:root) > span {
	color: var(--severitium-white-text-color);
	text-shadow: none;
	opacity: .25;
}

/*
	Highlighted text in modal for:
	* Settings modal
	* Friends modal
	* Rename modal
*/

.ModalStyle-rootHover > div:not([class*='battlepick'i]) .DialogContainerComponentStyle-contentContainer span[class]:not([class*='common'i]),
.ModalStyle-rootHover > div:not([class*='battlepick'i]) .FriendListComponentStyle-commonBlockText span[class]:not([class*='common'i]),
.ModalStyle-rootHover > div:not([class*='battlepick'i]) .PaidRenameDialogComponentStyle-messageBlock > span[class]:not([class*='common'i]) {
	color: var(--severitium-main-color);
}

/* 
	Higlighted text in modal for:
	* Successful purcase modal
*/

.ModalStyle-rootHover > div:not([class*='battlepick'i]) .SuccessfulPurchaseComponentStyle-reward span[class]:not([class*='common'i]) {
	color: var(--severitium-white-text-color);
}

/* Buttons block */

.ModalStyle-rootHover > div:not([class*='battlepick'i]) > div:nth-child(3) {
	justify-content: center;
}

/* Cancel button of the modal window */

.ModalStyle-rootHover > div:not([class*='battlepick'i]) .DialogContainerComponentStyle-keyButton,
.ModalStyle-rootHover > div:not([class*='battlepick'i]) .PopupMessageComponentStyle-buttonsContainer > div:nth-child(1) {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-gray-button-background);
	border: var(--severitium-gray-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Cancel button on hover */

.ModalStyle-rootHover > div:not([class*='battlepick'i]) .DialogContainerComponentStyle-keyButton:hover,
.ModalStyle-rootHover > div:not([class*='battlepick'i]) .PopupMessageComponentStyle-buttonsContainer > div:nth-child(1):hover {
	border: var(--severitium-gray-button-border-color-hover) solid .1em;
}

/* Cancel button text */

.ModalStyle-rootHover > div:not([class*='battlepick'i]) .DialogContainerComponentStyle-keyButton span,
.ModalStyle-rootHover > div:not([class*='battlepick'i]) .PopupMessageComponentStyle-buttonsContainer > div:nth-child(1) span {
	color: var(--severitium-gray-button-color);
}

/* Apply button of the modal window */

.ModalStyle-rootHover > div:not([class*='battlepick'i]) .DialogContainerComponentStyle-enterButton,
.ModalStyle-rootHover > div:not([class*='battlepick'i]) .SuccessfulPurchaseComponentStyle-content > div:last-child,
.ModalStyle-rootHover > .Need2FaDialogComponentStyle-container .PopupMessageComponentStyle-buttonsContainer > div:nth-child(2),
.ModalStyle-rootHover > .ChangeOwnerDialogComponentStyle-container .PopupMessageComponentStyle-buttonsContainer > div:nth-child(2),
.ModalStyle-rootHover > .RulesUpdatedComponentStyle-container .PopupMessageComponentStyle-buttonsContainer > div:nth-child(1) {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Apply button on hover */

.ModalStyle-rootHover > div:not([class*='battlepick'i]) .DialogContainerComponentStyle-enterButton:hover,
.ModalStyle-rootHover > div:not([class*='battlepick'i]) .SuccessfulPurchaseComponentStyle-content > div:last-child:hover,
.ModalStyle-rootHover > .Need2FaDialogComponentStyle-container .PopupMessageComponentStyle-buttonsContainer > div:nth-child(2):hover,
.ModalStyle-rootHover > .ChangeOwnerDialogComponentStyle-container .PopupMessageComponentStyle-buttonsContainer > div:nth-child(2):hover {
	border: var(--severitium-green-button-border-color-hover) solid .1em;
}

/* Apply button text */

.ModalStyle-rootHover > div:not([class*='battlepick'i]) .DialogContainerComponentStyle-enterButton span,
.ModalStyle-rootHover > div:not([class*='battlepick'i]) .SuccessfulPurchaseComponentStyle-content > div:last-child span,
.ModalStyle-rootHover > .Need2FaDialogComponentStyle-container .PopupMessageComponentStyle-buttonsContainer > div:nth-child(2) span,
.ModalStyle-rootHover > .ChangeOwnerDialogComponentStyle-container .PopupMessageComponentStyle-buttonsContainer > div:nth-child(2) span {
	color: var(--severitium-green-button-color);
}


/* Apply red (warning) button of the modal window */

.ModalStyle-rootHover > div:not([class*='battlepick'i], [class*='need2fa'i], [class*='changeowner'i]) .PopupMessageComponentStyle-buttonsContainer > div:nth-child(2) {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-red-button-background);
	border: var(--severitium-red-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.ModalStyle-rootHover > div:not([class*='battlepick'i], [class*='need2fa'i], [class*='changeowner'i]) .PopupMessageComponentStyle-buttonsContainer > div:nth-child(2):hover {
	border: var(--severitium-red-button-border-color-hover) solid .1em;
}

/* Button text */

.ModalStyle-rootHover > div:not([class*='battlepick'i], [class*='need2fa'i], [class*='changeowner'i]) .PopupMessageComponentStyle-buttonsContainer > div:nth-child(2) > span {
	color: var(--severitium-red-button-color);
}

/* Green (apply) button of the modal window */

.ModalStyle-rootHover > div:has(.SelectTagDialogComponentStyle-selectTagDiv) .PopupMessageComponentStyle-buttonsContainer > div:nth-child(2):not(:root):nth-last-child(n) {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.ModalStyle-rootHover > div:has(.SelectTagDialogComponentStyle-selectTagDiv) .PopupMessageComponentStyle-buttonsContainer > div:nth-child(2):not(:root):nth-last-child(n):hover {
	border: var(--severitium-green-button-border-color-hover) solid .1em;
}

/* Button text */

.ModalStyle-rootHover > div:has(.SelectTagDialogComponentStyle-selectTagDiv) .PopupMessageComponentStyle-buttonsContainer > div:nth-child(2):not(:root):nth-last-child(n) > span {
	color: var(--severitium-green-button-color);
}

/* Gold (purchase) button of the modal window */ 

.ModalStyle-rootHover > div:not([class*='battlepick'i]) div[class*='premiumbutton'i] {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-gold-button-background);
	border: var(--severitium-gold-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.ModalStyle-rootHover > div:not([class*='battlepick'i]) div[class*='premiumbutton'i]:hover {
	border: var(--severitium-gold-button-border-color-hover) solid .1em;
}

/* Button text */

.ModalStyle-rootHover > div:not([class*='battlepick'i]) div[class*='premiumbutton'i] > span {
	color: var(--severitium-gold-button-color);
}

/* Hotkey block */

.ModalStyle-rootHover > div:not([class*='battlepick'i]) .PopupMessageComponentStyle-buttonsContainer > div h3,
.ModalStyle-rootHover > div:not([class*='battlepick'i]) h3[class*='hotkey'i] {
	background: transparent;
	color: var(--severitium-dark-white-text-color);
	border: var(--severitium-gray-color) dashed .1em;
	border-radius: var(--severitium-border-radius);
}

/* Server restart timer */

.ServerHaltAlertComponentStyle-timer span[id*='timer'i] {
	color: var(--severitium-main-color);
}

/* All timers inside modal window */

.ModalStyle-rootHover span[id*='timer'i] {
	color: var(--severitium-main-color);
}

/* Close icon container */

:has(> .DialogContainerComponentStyle-imgClose) {
	position: unset;
}

/* Close (cross) icon of the modal container */

.DialogContainerComponentStyle-imgClose,
.ConverterDialogComponentStyle-closeIcon {
	position: absolute;
	top: 0;
	right: 0;
	width: 1.5em;
	height: 1.5em;
	margin: 1em;
	padding: 0;
	background: none;
	background-image: none;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96"><path d="m84 0 12 12-48 48-36 36L0 84l36-36L0 12 12 0l36 36z"/><path d="M48 60h24l24 24-12 12z"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96"><path d="m84 0 12 12-48 48-36 36L0 84l36-36L0 12 12 0l36 36z"/><path d="M48 60h24l24 24-12 12z"/></svg>');
	background-color: var(--severitium-white-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	transition: background-color .2s ease;
}

/* Close (cross) icon of the modal container on hover */

.DialogContainerComponentStyle-imgClose:hover,
.ConverterDialogComponentStyle-closeIcon:hover {
	width: 1.5em;
	height: 1.5em;
	background-image: none;
	background-color: var(--severitium-red-color);
}

/* Convert dialog close icon */

.ConverterDialogComponentStyle-closeIcon {
	position: relative;
}

/* Links inside the modal window */

.ModalStyle-rootHover > div:not([class*='battlepick'i]) a u,
.DialogContainerComponentStyle-container a u {
	color: var(--severitium-main-color);
}

/* Premium modal */

/* Text under premium icon */

.ModalStyle-rootHover > div:not([class*='battlepick'i]) img[src*='iconpremium'i] + span {
	color: var(--severitium-gold-text-color);
}

/* Benefits percents inside the premium modal */

.ModalStyle-rootHover > div:not([class*='battlepick'i]) .UserInfoContainerStyle-premiumBenefitsContainer > span:last-child {
	color: var(--severitium-gold-text-color);
}

/* Premium button */

.DialogPremiumAccountStyle-content .SquarePriceButtonComponentStyle-commonBlockButton:not(:root) {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-gold-button-background);
	border: var(--severitium-gold-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.DialogPremiumAccountStyle-content .SquarePriceButtonComponentStyle-commonBlockButton:not(:root):hover {
	border: var(--severitium-gold-button-border-color-hover) solid .1em;
}

/* Button text */

.DialogPremiumAccountStyle-content .SquarePriceButtonComponentStyle-commonBlockButton:not(:root) span {
	color: var(--severitium-gold-button-color);
}

/* Button icon */

.DialogPremiumAccountStyle-content .SquarePriceButtonComponentStyle-commonBlockButton:not(:root) .Common-backgroundImage {
	width: 4em;
	aspect-ratio: 1 / 1;
	background: none;
	background-color: var(--severitium-gold-button-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill-rule="evenodd" d="M3.652 22.434A2 2 0 0 0 5.604 24h20.792a2 2 0 0 0 1.952-1.566L32 6l-8 6-8-12-8 12-8-6zM16 19a3 3 0 1 1 0-6 3 3 0 0 1 0 6" clip-rule="evenodd"/><path d="M4 26.667c0-.369.298-.667.667-.667h22.666c.369 0 .667.299.667.667v2.666a.667.667 0 0 1-.667.667H4.667A.667.667 0 0 1 4 29.333z"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill-rule="evenodd" d="M3.652 22.434A2 2 0 0 0 5.604 24h20.792a2 2 0 0 0 1.952-1.566L32 6l-8 6-8-12-8 12-8-6zM16 19a3 3 0 1 1 0-6 3 3 0 0 1 0 6" clip-rule="evenodd"/><path d="M4 26.667c0-.369.298-.667.667-.667h22.666c.369 0 .667.299.667.667v2.666a.667.667 0 0 1-.667.667H4.667A.667.667 0 0 1 4 29.333z"/></svg>');
}

/* Premium modal close button */

.DialogPremiumAccountStyle-mainScreen .DialogPremiumAccountStyle-closeButton {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1em 1em 0 0;
	width: auto;
	height: auto;
	aspect-ratio: 1 / 1;
	padding: 1em;
	background: none;
	background-color: var(--severitium-light-transparent-background2);
	border-radius: var(--severitium-border-radius);
	border: none;
}

/* Button original icon */

.DialogPremiumAccountStyle-mainScreen .DialogPremiumAccountStyle-closeButton img {
	display: none;
}

/* Button custom icon */

.DialogPremiumAccountStyle-mainScreen .DialogPremiumAccountStyle-closeButton::before {
	content: '';
	width: 1.5em;
	height: 1.5em;
	background: none;
	background-color: var(--severitium-white-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96"><path d="m84 0 12 12-48 48-36 36L0 84l36-36L0 12 12 0l36 36z"/><path d="M48 60h24l24 24-12 12z"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96"><path d="m84 0 12 12-48 48-36 36L0 84l36-36L0 12 12 0l36 36z"/><path d="M48 60h24l24 24-12 12z"/></svg>');
	transition: background-color .2s ease;
}

/* Button icon on button hover */

.DialogPremiumAccountStyle-mainScreen .DialogPremiumAccountStyle-closeButton:hover::before {
	background-color: var(--severitium-red-color);
}

/* Tooltips */

/* Modal window on hover on an icon, tooltip (see above) */

.TooltipStyle-tooltip {
	background: var(--severitium-dark-transparent-background1);
	-webkit-backdrop-filter: blur(.5em);
			backdrop-filter: blur(.5em);
	outline: var(--severitium-gray-color) solid .1em;
	box-shadow: none;
	border: none;
	border-radius: var(--severitium-border-radius);
	-webkit-animation: tooltipOpens .1s ease;
			animation: tooltipOpens .1s ease;
}

@-webkit-keyframes tooltipOpens {
	0% {
		-webkit-transform: scale(0);
				transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
				transform: scale(1);
	}
}

@keyframes tooltipOpens {
	0% {
		-webkit-transform: scale(0);
				transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
				transform: scale(1);
	}
}

/* Padding of the tooltip inner */

.TooltipStyle-tooltip > div {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: .5em;
}

/* Tooltip inner header */

.TooltipStyle-tooltip > div > h1 {
	font-size: 1.125em;
	color: var(--severitium-white-text-color);
	text-align: center;
}

/* Tooltip inner text */

.TooltipStyle-tooltip > div > span {
	font-size: 1em;
	color: var(--severitium-extra-light-gray-text-color);
	text-align: center;
}

/* Tooltip content (e.g. text) */

.TooltipStyle-tooltip p.TooltipStyle-content {
	font-size: 1em;
	color: var(--severitium-extra-light-gray-text-color);
	text-align: center;
}

/* Currency amounts inside modal */

/* Ruby currency amount inside modal */

.ModalStyle-rootHover > div > div:has(> [class*='head'i]) + div > div > div > img[src*='ruby'i] + span {
	color: var(--severitium-ruby-color);
}

/* Tancoin currency amount inside modal */

.ModalStyle-rootHover > div > div:has(> [class*='head'i]) + div > div > div > img[src*='coin'i] + span {
	color: var(--severitium-tancoin-color);
}

/* Crystal currency amount inside modal */

.ModalStyle-rootHover > div > div:has(> [class*='head'i]) + div > div > div > img[src*='crystal'i] + span {
	color: var(--severitium-crystal-color);
}

/* Convert dialog */

/* Conversion dialog right panel (balance amount ruby) */

.ConverterDialogComponentStyle-rightPanel .ConverterDialogComponentStyle-balanceContainer > img[src*='ruby'] + span {
	color: var(--severitium-ruby-color);
}

/* Conversion dialog right panel (balance amount tancoin) */

.ConverterDialogComponentStyle-rightPanel .ConverterDialogComponentStyle-balanceContainer > img[src*='coin'] + span {
	color: var(--severitium-tancoin-color);
}

/* Conversion dialog right panel (balance amount crystal) */

.ConverterDialogComponentStyle-rightPanel .ConverterDialogComponentStyle-balanceContainer > img[src*='crystal'] + span {
	color: var(--severitium-crystal-color);
}

/* Conversion dialog description container */

.ConverterDialogComponentStyle-mainContainer .ConverterDialogComponentStyle-descriptionContainer {
	border-bottom: .1em solid var(--severitium-dark-gray-color);
}

/* Ruby name text */

.ConverterDialogComponentStyle-rubiesText {
	color: var(--severitium-ruby-color);
}

/* Coins name text */

.ConverterDialogComponentStyle-coinsText {
	color: var(--severitium-tancoin-color);
}

/* Currency amount text */

.ConverterDialogComponentStyle-currencyValue {
	color: var(--severitium-white-color);
}

/* Conversion container */

.ConverterDialogComponentStyle-conversionContainer {
	background: none;
}

/* Minus slider button */

.ConverterDialogComponentStyle-sliderWithButtonsContainer .ConverterDialogComponentStyle-sliderButton:has(> img[src*='minus'i]) {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-red-button-background);
	border: var(--severitium-red-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.ConverterDialogComponentStyle-sliderWithButtonsContainer .ConverterDialogComponentStyle-sliderButton:has(> img[src*='minus'i]):hover {
	border: var(--severitium-red-button-border-color-hover) solid .1em;
}

/* Button original icon */

.ConverterDialogComponentStyle-sliderWithButtonsContainer .ConverterDialogComponentStyle-sliderButton > img[src*='minus'i] {
	display: none;
}

/* Button custom icon */

.ConverterDialogComponentStyle-sliderWithButtonsContainer .ConverterDialogComponentStyle-sliderButton:has(> img[src*='minus'i])::before {
	content: '';
	height: 1.5em;
	width: 1.5em;
	background-color: var(--severitium-red-button-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 9.75v4.5H0v-4.5z"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 9.75v4.5H0v-4.5z"/></svg>');
}

/* Plus slider button */

.ConverterDialogComponentStyle-sliderWithButtonsContainer .ConverterDialogComponentStyle-sliderButton:has(> img[src*='plus'i]) {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.ConverterDialogComponentStyle-sliderWithButtonsContainer .ConverterDialogComponentStyle-sliderButton:has(> img[src*='plus'i]):hover {
	border: var(--severitium-green-button-border-color-hover) solid .1em;
}

/* Button original icon */

.ConverterDialogComponentStyle-sliderWithButtonsContainer .ConverterDialogComponentStyle-sliderButton > img[src*='plus'i] {
	display: none;
}

/* Button custom icon */

.ConverterDialogComponentStyle-sliderWithButtonsContainer .ConverterDialogComponentStyle-sliderButton:has(> img[src*='plus'i])::before {
	content: '';
	height: 1.5em;
	width: 1.5em;
	background-color: var(--severitium-green-button-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M19.5 0h9v19.5H48v9H0v-9h19.5zm0 37.5 9-9V48h-9z"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M19.5 0h9v19.5H48v9H0v-9h19.5zm0 37.5 9-9V48h-9z"/></svg>');
}

/* Max slider button */

.ConverterDialogComponentStyle-sliderWithButtonsContainer .ConverterDialogComponentStyle-sliderButton:has(> img[src*='max'i]) {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-blue-button-background);
	border: var(--severitium-blue-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.ConverterDialogComponentStyle-sliderWithButtonsContainer .ConverterDialogComponentStyle-sliderButton:has(> img[src*='max'i]):hover {
	border: var(--severitium-blue-button-border-color-hover) solid .1em;
}

/* Button original icon */

.ConverterDialogComponentStyle-sliderWithButtonsContainer .ConverterDialogComponentStyle-sliderButton > img[src*='max'i] {
	display: none;
}

/* Button custom icon */

.ConverterDialogComponentStyle-sliderWithButtonsContainer .ConverterDialogComponentStyle-sliderButton:has(> img[src*='max'i])::before {
	content: '';
	height: 1.5em;
	width: 1.5em;
	background-color: var(--severitium-blue-button-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="m18 21-6-6-6 6H0L12 9l12 12zm6-9h-6l-6-6-6 6H0L12 0z" clip-rule="evenodd"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="m18 21-6-6-6 6H0L12 9l12 12zm6-9h-6l-6-6-6 6H0L12 0z" clip-rule="evenodd"/></svg>');
}

/* Minimal amount */

.ConverterDialogComponentStyle-minValue {
	width: auto;
	color: var(--severitium-white-color);
	margin: 0;
	padding: 0;
}

/* Maximal amount container */

.ConverterDialogComponentStyle-maxRangeValueContainer {
	width: auto;
	margin: 0;
	padding: 0;
}

/* Maximal amount */

.ConverterDialogComponentStyle-maxRangeValueContainer > span {
	color: var(--severitium-white-color);
}

/* Conversion dialog input text */

.ConverterDialogComponentStyle-inputContainer .ConverterDialogComponentStyle-amountText {
	font-size: 1.2em;
	color: var(--severitium-light-gray-text-color);
}

/* Conversion dialog input inner container */

.ConverterDialogComponentStyle-inputContainer .RegistrationComponentStyle-containerItem {
	pointer-events: none;
}

/* Conversion dialog input */

.ConverterDialogComponentStyle-input {
	position: relative;
	pointer-events: all;
	cursor: text;
	background: none;
	background-color: transparent;
	-webkit-backdrop-filter: blur(.5em);
	        backdrop-filter: blur(.5em);
	box-shadow: inset var(--severitium-gray-color) 0 0 0 .1em;
	border: 0;
	outline: 0;
	-webkit-appearance: none;
	        appearance: none;
	border-radius: var(--severitium-border-radius);
	padding: .5em .8em;
	line-height: 1.4;
	font-size: 1.2em;
	font-weight: 400;
	transition: box-shadow .2s ease, background-color .2s ease;
}

/* Input on hover */

.ConverterDialogComponentStyle-input:hover {
	box-shadow: 0 0 0 0 var(--severitium-white-color) inset, var(--severitium-main-color) 0 0 0 .1em;
	background: none;
	background-color: var(--severitium-light-transparent-background3);
}

/* Input on focus */

.ConverterDialogComponentStyle-input:focus {
	box-shadow: 0 0 0 0 var(--severitium-white-color) inset, var(--severitium-main-color) 0 0 0 .2em;
	background: none;
	background-color: var(--severitium-light-transparent-background3);
}

/* Not available amount */

.ConverterDialogComponentStyle-input.ConverterDialogComponentStyle-notAvailableValue {
	color: var(--severitium-light-gray-text-color);
}

/* Available amount */

.ConverterDialogComponentStyle-input:not(.ConverterDialogComponentStyle-notAvailableValue) {
	color: var(--severitium-white-text-color);
}

/* Conversion buttons container */

.ConverterDialogComponentStyle-buttonsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

/* Button on the bottom of conversion dialog */

.ConverterDialogComponentStyle-buttonsContainer > div {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	transition: border .2s ease;
}

/* Cancel button */

.ConverterDialogComponentStyle-buttonsContainer > div:first-of-type {
	background: var(--severitium-gray-button-background);
	border: var(--severitium-gray-button-border-color) solid .1em;
}

/* Button on hover */

.ConverterDialogComponentStyle-buttonsContainer > div:first-of-type:hover {
	outline: none;
	box-shadow: none;
	background-color: var(--severitium-gray-button-background);
	border: var(--severitium-gray-button-border-color-hover) solid .1em;
}

/* Button text */

.ConverterDialogComponentStyle-buttonsContainer > div:first-of-type > span {
	color: var(--severitium-gray-button-color);
}

/* Confirm button */

.ConverterDialogComponentStyle-buttonsContainer > div:last-of-type {
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color) solid .1em;
}

/* Button on hover */

.ConverterDialogComponentStyle-buttonsContainer > div:last-of-type:hover {
	outline: none;
	box-shadow: none;
	background-color: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color-hover) solid .1em;
}

/* Button text */

.ConverterDialogComponentStyle-buttonsContainer > div:last-of-type > span {
	color: var(--severitium-green-button-color);
}

/* Disabled button */

.ConverterDialogComponentStyle-buttonsContainer > div.ButtonComponentStyle-disabled {
	background: var(--severitium-gray-button-background);
	border: transparent solid .1em;
	pointer-events: none;
}

/* Button's text */

.ConverterDialogComponentStyle-buttonsContainer > div.ButtonComponentStyle-disabled > span {
	color: var(--severitium-gray-button-color);
	opacity: .5;
}

/* User progress modal (ranks window) */

/* User progress modal wrapper */

.ModalStyle-rootHover > div.UserProgressComponentStyle-modalWrapper {
	width: 100%;
	border-radius: 0;
	border-left: none;
	border-right: none;
	padding: 3em 0;
}

/* User progress modal title */

.UserProgressComponentStyle-modalWrapper .UserProgressComponentStyle-modalTitle {
	font-size: 2em;
	color: var(--severitium-white-text-color);
	text-transform: uppercase;
	letter-spacing: .1em;
}

/* User progress modal items container */

.UserProgressComponentStyle-modalWrapper .UserProgressComponentStyle-itemsContainer {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

/* User progress scrollbar items container */

.UserProgressComponentStyle-modalWrapper .ScrollBarStyle-itemsContainer {
	margin: 0;
}

/* User progress scrollbar single item container */

.UserProgressComponentStyle-modalWrapper .UserProgressComponentStyle-itemContainer {
	background: none;
	background-color: var(--severitium-dark-transparent-background1);
	box-shadow: none;
	-webkit-backdrop-filter: blur(.25em);
	        backdrop-filter: blur(.25em);
	border: .1em solid var(--severitium-gray-color);
	border-radius: var(--severitium-border-radius);
}

/* User progress modal items scrolling arrows */

.UserProgressComponentStyle-modalWrapper .ScrollBarStyle-arrowsWrapper > div {
	background: radial-gradient(100% 50% at 100% 50%, var(--severitium-light-transparent-background3) 0%, transparent 100%);
	height: 100%;
	width: auto;
	padding: 0 0 0 2em;
	transition: opacity .2s ease;
}

/* User progress modal single item title */

.UserProgressComponentStyle-modalWrapper .UserProgressComponentStyle-itemContainer .UserProgressComponentStyle-itemName {
	font-size: 1em;
	color: var(--severitium-white-text-color);
	margin: 0;
	padding: 0;
}

/* User progress modal items title */

.UserProgressComponentStyle-modalWrapper h1.UserProgressComponentStyle-itemsHeader:not(:root):not(:root) {
	font-size: 1.25em;
	color: var(--severitium-light-gray-text-color);
	text-transform: uppercase;
	margin: 0;
}

/* User progress modal OK button */

.UserProgressComponentStyle-modalWrapper .UserProgressComponentStyle-buttonOk {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.UserProgressComponentStyle-modalWrapper .UserProgressComponentStyle-buttonOk:hover {
	outline: none;
	box-shadow: none;
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color-hover) solid .1em;
}

/* Button text */

.UserProgressComponentStyle-modalWrapper .UserProgressComponentStyle-buttonOk h2,
.UserProgressComponentStyle-modalWrapper .UserProgressComponentStyle-buttonOk span {
	color: var(--severitium-green-button-color);
}