/* Main quests container */

.QuestsComponentStyle-content {
	position: relative;
	min-width: 100%;
	max-width: 100vw;
	top: 0;
	left: 0;

	--supermisson-width-var: 22.5em;
}

/* Main quests container and every element inside it */

.QuestsComponentStyle-content,
.QuestsComponentStyle-content * {
	box-sizing: border-box;
}

/* Inner quests container */

.QuestsComponentStyle-commonBlock {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Empty quest container header */

.QuestsComponentStyle-commonBlock > [class*="QuestsComponentStyle-emptyList" i] h2 {
	width: auto;
	height: auto;
	background-color: var(--severitium-main-color);
	color: var(--severitium-black-text-color);
	font-size: 1.25em;
	margin: 0;
	padding: .1em .25em;
	border-radius: var(--severitium-border-radius);
}

/* Empty quest container text */

.QuestsComponentStyle-commonBlock > [class*="QuestsComponentStyle-emptyList" i] p {
	color: var(--severitium-white-text-color);
	font-size: 1em;
}

/* Quest main container for items */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer,
.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock {
	position: relative;
	display: flex;
	gap: 1em;
	margin: 0;
	padding: 1em 2em;
	width: 100%;
	scrollbar-width: thin;
}

/* Quest main container for cards */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer {
	height: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

/* Quest main container for lines */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock {
	height: 100%;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}

/* Quest main container for items when there is a supermission */

.QuestsComponentStyle-commonBlock .SuperMissionComponentStyle-descriptionSuperMission + .MainQuestComponentStyle-scrollContainer,
.QuestsComponentStyle-commonBlock .SuperMissionComponentStyle-descriptionSuperMission + .QuestsComponentStyle-mainQuestBlock {
	padding-left: calc(var(--supermisson-width-var) + 2em);
}

/* Quest main container for items in quests are displayed as cards */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

/* Inner container for misson lines */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 1em;
	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin: 0;
}

/* Quest rows with quest cards */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1em;
	height: 100%;
}

/* Quest solo card */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: .5em;
	height: calc(50% - .5em);
	margin: 0;
	padding: 1em .5em 0 .5em;
	border-radius: var(--severitium-border-radius);
	background: none;
	background-color: var(--severitium-dark-transparent-background2);
	-webkit-backdrop-filter: blur(.25em);
			backdrop-filter: blur(.25em);
	outline: none;
	box-shadow: none;
	border: .1em solid var(--severitium-dark-gray-color);
	transition: background-color .2s ease, border-color .2s ease;
}

/* Quest solo card on hover */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div:hover {
	background-color: var(--severitium-dark-transparent-background3);
	border-color: var(--severitium-gray-color);
}

/* Quest completed solo card */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div.MainQuestComponentStyle-cardRewardCompleted {
	background-color: var(--severitium-green-button-background);
	border-color: var(--severitium-green-button-border-color);
}

/* Quest completed solo card on hover */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div.MainQuestComponentStyle-cardRewardCompleted:hover {
	border-color: var(--severitium-green-button-border-color-hover);
}

/* Quest locked solo card */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div.TableMainQuestComponentStyle-cardLockedTable {
	background-color: var(--severitium-gold-button-background);
	border-color: var(--severitium-gold-button-border-color);
}

/* Quest locked solo card on hover */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div.TableMainQuestComponentStyle-cardLockedTable:hover {
	border-color: var(--severitium-gold-button-border-color-hover);
}

/* All direct childs of the quest card on card's normal state and card's hover state */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > *,
.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div:hover > * {
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	margin: 0;
	padding: 0;
}

/* Quest solo line */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: .5em;
	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin: 0;
	padding: .5em 1em;
	border-radius: var(--severitium-border-radius);
	background: none;
	background-color: var(--severitium-dark-transparent-background2);
	-webkit-backdrop-filter: blur(.25em);
			backdrop-filter: blur(.25em);
	outline: none;
	box-shadow: none;
	border: .1em solid var(--severitium-dark-gray-color);
	transition: background-color .2s ease, border-color .2s ease;
}

/* Quest solo line on hover */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div:hover {
	background-color: var(--severitium-dark-transparent-background3);
	border-color: var(--severitium-gray-color);
}

/* Quest completed solo line */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div:has(.MainQuestComponentStyle-commonDescriptionProgress > progress[value="100"]) {
	background-color: var(--severitium-green-button-background);
	border-color: var(--severitium-green-button-border-color);
}

/* Quest completed solo line on hover */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div:has(.MainQuestComponentStyle-commonDescriptionProgress > progress[value="100"]):hover {
	border-color: var(--severitium-green-button-border-color-hover);
}

/* Quest locked solo line */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div.TableMainQuestComponentStyle-cardLockedTable {
	background-color: var(--severitium-gold-button-background);
	border-color: var(--severitium-gold-button-border-color);
}

/* Quest locked solo line on hover */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div.TableMainQuestComponentStyle-cardLockedTable:hover {
	border-color: var(--severitium-gold-button-border-color-hover);
}

/* All direct childs of the quest line on line's normal state and line's hover state */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div > *,
.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div:hover > * {
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	margin: 0;
	padding: 0;
}

/* Quest line's middle container (progress, name, description) */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div > .MainQuestComponentStyle-iconMission + div:not(.TableMainQuestComponentStyle-rewardsContainerTable):not(:has(> span + h3)) {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex-grow: 1;
	width: auto;
	height: auto;
}

/* Quest line's last container for completed taken quest */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div > .MainQuestComponentStyle-iconMission + div:not(.TableMainQuestComponentStyle-rewardsContainerTable):has(> span + h3) {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
	width: auto;
	height: auto;
	padding: 1.5em 1em;
}

/* Quest line's name for completed taken quest */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div > .MainQuestComponentStyle-iconMission + div:not(.TableMainQuestComponentStyle-rewardsContainerTable):has(> span + h3) > span {
	font-size: 1.2em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: var(--severitium-white-text-color);
}

/* Quest line's text "completed" for completed taken quest */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div > div:nth-child(2):not(.TableMainQuestComponentStyle-rewardsContainerTable):has(> span + h3) > h3 {
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: var(--severitium-green-text-color);
}

/* Quest card's progress */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > progress {
	position: relative;
	top: auto;
	width: 80%;
	height: .25em;
	margin: 0;
	padding: 0;
	border-radius: var(--severitium-border-radius);
	background: none;
	background-color: transparent;
}

/* Quest card's progress's unfilled value */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > progress::-webkit-progress-bar {
	border-radius: var(--severitium-border-radius);
	background: none;
	background-color: var(--severitium-gray-color);
}

/* Quest card's progress's filled value */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > progress::-webkit-progress-value {
	border-radius: var(--severitium-border-radius);
	background: none;
	background-color: var(--severitium-main-color);
}

/* Quest line's progress */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div .MainQuestComponentStyle-commonDescriptionProgress > progress {
	position: relative;
	top: auto;
	width: 100%;
	height: .25em;
	margin: 0;
	padding: 0;
	border-radius: var(--severitium-border-radius);
	background: none;
	background-color: transparent;
}

/* Quest line's progress's unfilled value */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div .MainQuestComponentStyle-commonDescriptionProgress > progress::-webkit-progress-bar {
	border-radius: var(--severitium-border-radius);
	background: none;
	background-color: var(--severitium-gray-color);
}

/* Quest line's progress's filled value */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div .MainQuestComponentStyle-commonDescriptionProgress > progress::-webkit-progress-value {
	border-radius: var(--severitium-border-radius);
	background: none;
	background-color: var(--severitium-main-color);
}

/* Quest card's progress numbers */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > div:nth-child(2) > h4 {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	color: var(--severitium-main-color);
}

/* Quest line's progress numbers */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div .MainQuestComponentStyle-commonDescriptionProgress h4 {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: var(--severitium-main-color);
}

/* Quest line's progress text of a completed quest */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div .MainQuestComponentStyle-commonDescriptionProgress:has(> progress[value="100"]) h4 {
	color: var(--severitium-green-text-color);
}

/* Quest card's name */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > div:nth-child(2) > span {
	font-size: 1.2em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	color: var(--severitium-white-text-color);
}

/* Quest line's name & description & progress container */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div div:has(.MainQuestComponentStyle-nameMission) {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: .5em;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

/* Quest line's name & description & progress container */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div div:has(.MainQuestComponentStyle-nameMission):not(:has(> .TableMainQuestComponentStyle-backgroundIconTable)) {
	flex-direction: column;
}

/* Quest line's name */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div .MainQuestComponentStyle-nameMission {
	font-size: 1.2em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	color: var(--severitium-white-text-color);
}

/* Quest card's image */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > img {
	height: auto;
	width: 5em;
}

/* All svg card images */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > img[src*=".svg" i] {
	-webkit-filter: saturate(0);
			filter: saturate(0);
}

/* Quest line's image container */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div .MainQuestComponentStyle-iconMission {
	width: auto;
	height: auto;
	padding: .5em;
}

/* Quest line's image */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div .MainQuestComponentStyle-iconMission > img {
	height: auto;
	width: -webkit-max-content;
	width: max-content;
	max-width: 2.5em;
	-webkit-filter: saturate(0);
			filter: saturate(0);
}

/* Shop original icon if user should buy something to open the misson */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div .MainQuestComponentStyle-backgroundIcon img[src*="shop"i],
.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div .MainQuestComponentStyle-iconMission + div .TableMainQuestComponentStyle-backgroundIconTable img[src*="shop"i] {
	display: none;
}

/* Shop custom icon if user should buy something to open the misson */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div .MainQuestComponentStyle-backgroundIcon:has(img[src*="shop"i]),
.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div .MainQuestComponentStyle-iconMission + div .TableMainQuestComponentStyle-backgroundIconTable:has(img[src*="shop"i]) {
	content: '';
	width: 1.5em;
	height: 1.5em;
	min-width: none;
	min-height: auto;
	background-color: var(--severitium-main-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="m26.862 6 1.982-6H32l-6.673 20.207A5.5 5.5 0 0 1 20.098 24H4v-3h16.098a2.5 2.5 0 0 0 2.377-1.724L22.896 18H4L0 6zM7 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6m16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/></svg>');
			mask-image: url('data:image/svg+xml,<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="m26.862 6 1.982-6H32l-6.673 20.207A5.5 5.5 0 0 1 20.098 24H4v-3h16.098a2.5 2.5 0 0 0 2.377-1.724L22.896 18H4L0 6zM7 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6m16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/></svg>');
	-webkit-transform: scale(1);
			transform: scale(1);
	transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease;
}

/* Shop custom icon if user should buy something to open the misson on card's hover */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div:hover .MainQuestComponentStyle-backgroundIcon:has(img[src*="shop"i]) {
	-webkit-transform: scale(0);
			transform: scale(0);
}

/* Shop custom icon if user should buy something to open the misson for quest line */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div .MainQuestComponentStyle-iconMission + div .TableMainQuestComponentStyle-backgroundIconTable:has(img[src*="shop"i]) {
	margin: 0;
	padding: 0;
}

/* Quest card's description */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > .MainQuestComponentStyle-questDescriptionText {
	width: 80%;
	height: auto;
	opacity: 0;
	flex-grow: 1;
	transition: opacity .2s ease;
}

/* Quest card's description on card hover */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div:hover > .MainQuestComponentStyle-questDescriptionText {
	opacity: 1;
}

/* Quest card's description text */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > .MainQuestComponentStyle-questDescriptionText > h3 {
	color: var(--severitium-light-gray-text-color);
}

/* Quest line's description and progress numers/text outer container */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div .MainQuestComponentStyle-commonDescriptionProgress {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

/* Quest line's description and progress numers/text inner container */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div .MainQuestComponentStyle-commonDescriptionProgress > div {
	width: 100%;
	height: auto;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: .5em;
	margin: 0;
	margin-bottom: .25em;
	padding: 0;
}

/* Quest line's description text */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div .MainQuestComponentStyle-commonDescriptionProgress span {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	color: var(--severitium-light-gray-text-color);
	opacity: 1;
}

/* Quest card's timer */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > .MainQuestComponentStyle-timerData,
.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > .MainQuestComponentStyle-commonBlockTimerButton {
	width: auto;
	height: auto;
	margin-top: auto;
	background-color: var(--severitium-main-color);
	margin: 0;
	padding: .1em .25em;
	border-radius: var(--severitium-border-radius);
	opacity: 1;
	-webkit-transform: scale(1);
			transform: scale(1);
	transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease;
}

/* Completed quest card's timer */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div.MainQuestComponentStyle-cardRewardCompleted > .MainQuestComponentStyle-timerData,
.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div.MainQuestComponentStyle-cardRewardCompleted > .MainQuestComponentStyle-commonBlockTimerButton {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	opacity: 1;
}

/* Quest card's timer on card hover */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div:not(.MainQuestComponentStyle-cardRewardCompleted):hover > .MainQuestComponentStyle-timerData,
.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div:not(.MainQuestComponentStyle-cardRewardCompleted):hover > .MainQuestComponentStyle-commonBlockTimerButton {
	width: auto;
	height: auto;
	-webkit-transform: scale(0);
			transform: scale(0);
}

/* Completed quest card's timer on card hover */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div.MainQuestComponentStyle-cardRewardCompleted:hover > .MainQuestComponentStyle-timerData,
.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div.MainQuestComponentStyle-cardRewardCompleted:hover > .MainQuestComponentStyle-commonBlockTimerButton {
	opacity: 0;
}

/* Quest line's timer container */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div div:has(> span[id*="timer"i]) {
	position: absolute;
	top: 0;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin-top: auto;
	background-color: var(--severitium-main-color);
	margin: 0;
	padding: .1em .25em;
	border-radius: var(--severitium-border-radius);
	opacity: 1;
}

/* Quest line's timer on card hover */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div:hover div:has(> span[id*="timer"i]) {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	opacity: 1;
}

/* Quest card's timer text */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > .MainQuestComponentStyle-timerData span[id*="timer"i],
.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div.MainQuestComponentStyle-cardRewardCompleted > .MainQuestComponentStyle-timerData span[id*="timer"i] {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	color: var(--severitium-black-text-color);
	font-size: 1.125em;
	font-weight: normal;
}

/* Quest line's timer text */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div span[id*="timer"i] {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	color: var(--severitium-black-text-color);
}

/* Quest card's rewards container */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > .MainQuestComponentStyle-rewardsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	background-color: var(--severitium-light-transparent-background3);
	padding: 1em .5em;
	width: inherit;
	height: auto;
	border-radius: 0;
}

/* Quest line's rewards container */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div > .TableMainQuestComponentStyle-rewardsContainerTable {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: .25em 1em;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: auto;
	background: none;
	background-color: var(--severitium-light-transparent-background3);
	border-radius: var(--severitium-border-radius);
}

/* Quest card's rewards item's container */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > .MainQuestComponentStyle-rewardsContainer > div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5em;
	background: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
}

/* Quest line's rewards item's container */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div > .TableMainQuestComponentStyle-rewardsContainerTable > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .5em;
	background: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
}

/* Quest card's rewards item's image */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > .MainQuestComponentStyle-rewardsContainer > div > div[class*="image"i] {
	min-width: 4em;
	width: -webkit-max-content;
	width: max-content;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Quest link's rewards item's image */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div > .TableMainQuestComponentStyle-rewardsContainerTable > div > div[class*="image"i] {
	min-width: 4em;
	width: -webkit-max-content;
	width: max-content;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Quest card's rewards item's count */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > .MainQuestComponentStyle-rewardsContainer > div > span {
	color: var(--severitium-white-text-color);
}

/* Quest line's rewards item's count */

.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div > .TableMainQuestComponentStyle-rewardsContainerTable > div > span {
	color: var(--severitium-white-text-color);
}

/* Quest card's incompleted quest bottom text */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div > span.MainQuestComponentStyle-messageReward {
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	color: var(--severitium-light-gray-text-color);
}

/* Quest card's completed quest bottom text */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div .MainQuestComponentStyle-rewardsContainer + .MainQuestComponentStyle-messageReward {
	width: inherit;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	background: none;
	background-color: var(--severitium-green-button-background);
	color: var(--severitium-green-button-color);
	box-shadow: none;
	outline: none;
	border: none;
	border-top: .1em solid var(--severitium-green-button-border-color);
	margin-top: -.5em;
	padding: 1em .5em;
	text-align: center;
	transition: border-color .2s ease;
}

/* Quest card's completed quest bottom text on button hover */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div:hover .MainQuestComponentStyle-rewardsContainer + .MainQuestComponentStyle-messageReward {
	border-color: var(--severitium-green-button-border-color-hover);
}

/* Quest card gradient */

.QuestsComponentStyle-commonBlock .MainQuestComponentStyle-scrollContainer > div > div .MainQuestComponentStyle-colorLockedGradient,
.QuestsComponentStyle-commonBlock .QuestsComponentStyle-mainQuestBlock > div > div .TableMainQuestComponentStyle-colorLockedGradientTable {
	display: none;
}

/* Supermisson container */

.SuperMissionComponentStyle-descriptionSuperMission {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	top: 0;
	left: 0;
	width: var(--supermisson-width-var);
	min-width: auto;
	max-width: none;
	z-index: 10;
	background-color: var(--severitium-dark-transparent-background1);
	border-right: .1em solid var(--severitium-gray-color);
	-webkit-backdrop-filter: blur(.5em);
			backdrop-filter: blur(.5em);
}

/* All elements that are childs of a supermisson container */

.SuperMissionComponentStyle-descriptionSuperMission > * {
	position: relative;
	background: none;
	min-width: auto;
	width: 100%;
	border-radius: 0;
}

/* Supermisson background light element and background element */

.SuperMissionComponentStyle-descriptionSuperMission > div:first-child,
.SuperMissionComponentStyle-descriptionSuperMission > div.SuperMissionComponentStyle-gradientBackground {
	width: 0;
	height: 0;
}

/* Supermisson name and timer outer container */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-commonBlockTitleDescription) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 2em;
	height: auto;
	flex-grow: 1;
	margin: 0;
	padding: 1em 2em;
}

/* Supermisson name and timer inner container */

.SuperMissionComponentStyle-descriptionSuperMission > div div:has(> .SuperMissionComponentStyle-commonBlockTitleDescription) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 1em;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

/* Supermisson name container */

.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-commonBlockTitleDescription {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
}

/* Supermisson name text */

.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-commonBlockTitleDescription > h2 {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-weight: normal;
	text-transform: uppercase;
	color: var(--severitium-white-text-color);
	text-align: center;
}

/* Supermisson counter container */

.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-commonBlockTimerCount {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: .25em;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
}

/* Supermisson counter timer container */

.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-commonBlockTimerCount > div:has(> span[id*="timer"i]) {
	padding: .1em .25em;
	background-color: var(--severitium-main-color);
	border-radius: var(--severitium-border-radius);
}

/* Supermisson counter timer text */

.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-commonBlockTimerCount > div span[id*="timer"i] {
	font-size: 1em;
	font-weight: normal;
	color: var(--severitium-black-text-color);
}

/* Supermisson counter text */

.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-commonBlockTimerCount > div {
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: var(--severitium-main-color);
}

/* Supermisson conditions outer container */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-commonBlockTitleDescription) div:has(.SuperMissionComponentStyle-conditionContextItems) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

/* Supermisson single condition container */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-commonBlockTitleDescription) div.SuperMissionComponentStyle-conditionContextItems {
	position: relative;
	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin: 0;
	padding: 1em 0;
	border: none;
}

/* Supermisson all condition containers except first */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-commonBlockTitleDescription) div.SuperMissionComponentStyle-conditionContextItems:not(:first-child) {
	border-top: .1em solid var(--severitium-gray-color);
}

/* Supermisson condition name container */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-commonBlockTitleDescription) div.SuperMissionComponentStyle-conditionContextItems > h4 {
	width: auto;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	color: var(--severitium-white-text-color);
}

/* Supermisson condition name container of a completed one */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-commonBlockTitleDescription) div.SuperMissionComponentStyle-conditionContextItems:has(img[src*="correct"i]) > h4,
.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-commonBlockTitleDescription) div.SuperMissionComponentStyle-conditionContextItems:has(img[src*="discount"i]) > h4 {
	width: auto;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	color: var(--severitium-white-text-color);
}

/* Supermisson condition name text of a completed one */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-commonBlockTitleDescription) div.SuperMissionComponentStyle-conditionContextItems:has(img[src*="correct"i]) > h4 span,
.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-commonBlockTitleDescription) div.SuperMissionComponentStyle-conditionContextItems:has(img[src*="discount"i]) > h4 span {
	color: var(--severitium-green-text-color);
}

/* Supermisson original icon of a completed one */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-commonBlockTitleDescription) div.SuperMissionComponentStyle-conditionContextItems img[src*="correct"i] {
	display: none;
}

/* Supermisson custom icon of a completed one */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-commonBlockTitleDescription) div.SuperMissionComponentStyle-conditionContextItems:has(img[src*="correct"i])::after {
	content: '';
	top: 50%;
	right: 0;
	width: 1em;
	height: 1em;
	background-color: var(--severitium-green-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path d="M16.29 2.59a.7.7 0 0 0-1 0L6.98 10.9 2.7 6.59a.7.7 0 0 0-1 0L.2 8.09c-.27.27-.27.72 0 1l6.27 6.32c.27.27.72.27 1 0L17.78 5.1a.7.7 0 0 0 0-1l-1.5-1.5Z"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path d="M16.29 2.59a.7.7 0 0 0-1 0L6.98 10.9 2.7 6.59a.7.7 0 0 0-1 0L.2 8.09c-.27.27-.27.72 0 1l6.27 6.32c.27.27.72.27 1 0L17.78 5.1a.7.7 0 0 0 0-1l-1.5-1.5Z"/></svg>');
}

/* Supermisson original icon of a completed one that has gift icon */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-commonBlockTitleDescription) div.SuperMissionComponentStyle-conditionContextItems img[src*="discount"i] {
	display: none;
}

/* Supermisson custom gift icon of a completed one */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-commonBlockTitleDescription) div.SuperMissionComponentStyle-conditionContextItems:has(img[src*="discount"i])::after {
	content: '';
	top: 50%;
	right: 0;
	width: 1em;
	height: 1em;
	background-color: var(--severitium-main-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 3.75H5.58a1.83 1.83 0 0 1-1.83-1.83C3.75.287 5.722-.529 6.875.624zm0 0L13.125.625C14.278-.528 16.25.288 16.25 1.919a1.83 1.83 0 0 1-1.83 1.83z"/><path clip-rule="evenodd" d="M0 6.25C0 5.56.56 5 1.25 5h17.5c.69 0 1.25.56 1.25 1.25v2.5c0 .69-.56 1.25-1.25 1.25H1.25C.56 10 0 9.44 0 8.75zm11.25 2.5V5h-2.5v3.75z"/><path d="M18.75 18.75v-7.5h-7.5v7.5h-2.5v-7.5h-7.5v7.5c0 .69.56 1.25 1.25 1.25h15c.69 0 1.25-.56 1.25-1.25"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 3.75H5.58a1.83 1.83 0 0 1-1.83-1.83C3.75.287 5.722-.529 6.875.624zm0 0L13.125.625C14.278-.528 16.25.288 16.25 1.919a1.83 1.83 0 0 1-1.83 1.83z"/><path clip-rule="evenodd" d="M0 6.25C0 5.56.56 5 1.25 5h17.5c.69 0 1.25.56 1.25 1.25v2.5c0 .69-.56 1.25-1.25 1.25H1.25C.56 10 0 9.44 0 8.75zm11.25 2.5V5h-2.5v3.75z"/><path d="M18.75 18.75v-7.5h-7.5v7.5h-2.5v-7.5h-7.5v7.5c0 .69.56 1.25 1.25 1.25h15c.69 0 1.25-.56 1.25-1.25"/></svg>');
}

/* Supermisson condition counter */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-commonBlockTitleDescription) div.SuperMissionComponentStyle-conditionContextItems > span {
	width: auto;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: normal;
	color: var(--severitium-main-color);
}

/* Supermisson reward and button outer container */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-rewardsContainer) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .5em;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

/* Supermisson reward and button all direct childs elements */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-rewardsContainer) > * {
	position: relative;
	width: 100%;
	height: auto;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	margin: 0;
	padding: 0;
	background: none;
	box-shadow: none;
	outline: none;
	border: none;
	border-radius: 0;
}

/* Supermisson rewards container for rewards and "rewards" text */

.SuperMissionComponentStyle-descriptionSuperMission div:has(> .SuperMissionComponentStyle-rewardsContainer) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .5em;
}

/* Text "rewards" */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(.SuperMissionComponentStyle-rewardsContainer) > div > span:has(+ .SuperMissionComponentStyle-rewardsContainer) {
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	color: var(--severitium-light-gray-text-color);
}

/* Rewards container */

.SuperMissionComponentStyle-descriptionSuperMission .SuperMissionComponentStyle-rewardsContainer {
	display: flex;
	gap: .5em;
	margin: 0;
}

/* Each reward block */

.SuperMissionComponentStyle-descriptionSuperMission .SuperMissionComponentStyle-rewardsContainer > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .25em;
	background: none;
	background-color: var(--severitium-light-transparent-background3);
	border-radius: var(--severitium-border-radius);
	margin: 0;
	padding: .25em;
	width: 40%;
}

/* Each reward block reward's image */

.SuperMissionComponentStyle-descriptionSuperMission .SuperMissionComponentStyle-rewardsContainer > div > div[class*="image"i] {
	width: 100%;
	height: 100%;
	margin: 0;
}

/* Supermission button container */

.SuperMissionComponentStyle-descriptionSuperMission > div:has(> div.SuperMissionComponentStyle-buttonCollect) {
	height: auto;
}

/* Supermission disabled and enabled button */

.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-buttonDisable,
.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-buttonCollect {
	position: relative;
	width: 100%;
	height: auto;
	outline: none;
	box-shadow: none;
	padding: 2em 1em;
}

/* Super mission enabled button */

.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-buttonCollect {
	background: var(--severitium-green-button-background);
	border-top: var(--severitium-green-button-border-color) solid .1em;
	overflow: hidden;
	transition: border-color .2s ease;
}

/* Super mission enabled button on hover */

.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-buttonCollect:hover {
	width: 100%;
	height: auto;
	outline: none;
	box-shadow: none;
	background: none;
	background: var(--severitium-green-button-background);
	border-color: var(--severitium-green-button-border-color);
}

/* Pseudo-element for custom hover animation */

.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-buttonCollect::before {
	content: '';
	position: absolute;
	top: var(--severitium-superquest-button-y);
	left: var(--severitium-superquest-button-x);
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: var(--severitium-green-button-background-hover);

	width: 0;
	height: 0;

	transition: width .5s ease, height .5s ease;
}

/* Pseudo-element for custom hover animation on button hover */

.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-buttonCollect:hover::before {
	width: max(50vw, 50vh);
	height: max(50vw, 50vh);
}

/* Super mission enabled button text */

.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-buttonCollect > span {
	color: var(--severitium-green-button-color);
}

/* Super mission enabled button text on hover */

.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-buttonCollect:hover > span {
	color: var(--severitium-green-button-color);
}

/* Super mission enabled button's hotkey */

.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-buttonCollect h3[class*="hotkey"i] {
	background: transparent;
	border: var(--severitium-gray-color) dashed .1em;
	border-radius: var(--severitium-border-radius);
	color: var(--severitium-dark-white-text-color);
}

/* Super mission disabled button */

.SuperMissionComponentStyle-descriptionSuperMission div.SuperMissionComponentStyle-buttonDisable {
	background: var(--severitium-gray-button-background);
	border-top: var(--severitium-gray-button-border-color) solid .1em;
	pointer-events: none;
}

/* Button's text */

.SuperMissionComponentStyle-descriptionSuperMission .SuperMissionComponentStyle-buttonDisable > span {
	font-size: 1em;
	color: var(--severitium-gray-button-color);
	opacity: .5;
}