/* Main container of a menu */

.ContainerInfoComponentStyle-rewardsMenu {
	width: 100%;
	-webkit-backdrop-filter: blur(.25em);
			backdrop-filter: blur(.25em);
	border: none;
	position: relative;
}

/* Single item of a menu */

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i]) {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5em;
	margin: 0 .25em;
	border: none;
	outline: none;
	box-shadow: none;
	cursor: pointer;
	border-radius: 50%;
	border-width: .1em;
	border-style: solid;
	border-color: transparent;
	transition: background-color .2s ease, border-color .2s ease;
}

/* Single item of a menu on hover */

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i]):hover {
	background: none;
	border-width: .1em;
	border-style: solid;
	outline: none;
	box-shadow: none;
	/* background-color: var(--severitium-light-transparent-background3); */
}

/* Active/selected menu item */

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active'] {
	background: none;
	background-color: transparent;
	pointer-events: none;
}

/* Inactive menu item */

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='inactive'] {
	background: none;
	background-color: transparent;
}

/* Active/selected menu item based on icon type */
/* Icon can be: all, common, uncommon, rare, epic, legendary, mystic */

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active']:has(img[src*='all'i]) {
	border-color: var(--severitium-white-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active']:has(img[src*='casual'i]) {
	border-color: var(--severitium-light-gray-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active']:has(img[src*='uncommon'i]) {
	border-color: var(--severitium-green-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active']:has(img[src*='rare'i]) {
	border-color: var(--severitium-blue-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active']:has(img[src*='epic'i]) {
	border-color: var(--severitium-purple-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active']:has(img[src*='legendary'i]) {
	border-color: var(--severitium-yellow-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active']:has(img[src*='red'i]) {
	border-color: var(--severitium-red-color);
}

/* Pseudo-element for hover animation */

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: transparent;
	opacity: 0;
	transition: opacity .2s ease;
}

/* Pseudo-element on item hover */

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i]):hover::after {
	opacity: .2;
}

/* Pseudo-element for active item */

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active']::after {
	opacity: .3;
}

/* Pseudo-element on item hover based on icon type */
/* Icon can be: all, common, uncommon, rare, epic, legendary, mystic */

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i]):has(img[src*='all'i]):hover::after {
	background-color: var(--severitium-white-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i]):has(img[src*='casual'i]):hover::after {
	background-color: var(--severitium-light-gray-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i]):has(img[src*='uncommon'i]):hover::after {
	background-color: var(--severitium-green-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i]):has(img[src*='rare'i]):hover::after {
	background-color: var(--severitium-blue-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i]):has(img[src*='epic'i]):hover::after {
	background-color: var(--severitium-purple-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i]):has(img[src*='legendary'i]):hover::after {
	background-color: var(--severitium-yellow-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i]):has(img[src*='red'i]):hover::after {
	background-color: var(--severitium-red-color);
}

/* Pseudo-element for active item based on icon type */
/* Icon can be: all, common, uncommon, rare, epic, legendary, mystic */

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active']:has(img[src*='all'i])::after {
	background-color: var(--severitium-white-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active']:has(img[src*='casual'i])::after {
	background-color: var(--severitium-light-gray-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active']:has(img[src*='uncommon'i])::after {
	background-color: var(--severitium-green-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active']:has(img[src*='rare'i])::after {
	background-color: var(--severitium-blue-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active']:has(img[src*='epic'i])::after {
	background-color: var(--severitium-purple-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active']:has(img[src*='legendary'i])::after {
	background-color: var(--severitium-yellow-color);
}

.ContainerInfoComponentStyle-rewardsMenu > div:not([class*='hotkey'i])[data-state='active']:has(img[src*='red'i])::after {
	background-color: var(--severitium-red-color);
}

/* Text of rarity */

.ContainersComponentStyle-navigationBlockForCategories .ContainerInfoComponentStyle-typeRewardsBlock .ContainerInfoComponentStyle-rewardText {
	font-size: 1em;
	font-weight: normal;
	color: var(--severitium-white-text-color);
}

/* Text of rarity based on selected rarity */
/* Icon can be: all, common, uncommon, rare, epic, legendary, mystic */

.ContainersComponentStyle-navigationBlockForCategories .ContainerInfoComponentStyle-typeRewardsBlock .ContainerInfoComponentStyle-rewardText[data-rarity='all'] {
	color: var(--severitium-white-text-color);
}

.ContainersComponentStyle-navigationBlockForCategories .ContainerInfoComponentStyle-typeRewardsBlock .ContainerInfoComponentStyle-rewardText[data-rarity='common'] {
	color: var(--severitium-light-gray-text-color);
}

.ContainersComponentStyle-navigationBlockForCategories .ContainerInfoComponentStyle-typeRewardsBlock .ContainerInfoComponentStyle-rewardText[data-rarity='uncommon'] {
	color: var(--severitium-green-text-color);
}

.ContainersComponentStyle-navigationBlockForCategories .ContainerInfoComponentStyle-typeRewardsBlock .ContainerInfoComponentStyle-rewardText[data-rarity='rare'] {
	color: var(--severitium-blue-text-color);
}

.ContainersComponentStyle-navigationBlockForCategories .ContainerInfoComponentStyle-typeRewardsBlock .ContainerInfoComponentStyle-rewardText[data-rarity='epic'] {
	color: var(--severitium-purple-text-color);
}

.ContainersComponentStyle-navigationBlockForCategories .ContainerInfoComponentStyle-typeRewardsBlock .ContainerInfoComponentStyle-rewardText[data-rarity='legendary'] {
	color: var(--severitium-yellow-text-color);
}

.ContainersComponentStyle-navigationBlockForCategories .ContainerInfoComponentStyle-typeRewardsBlock .ContainerInfoComponentStyle-rewardText[data-rarity='mystic'] {
	color: var(--severitium-red-text-color);
}

/* Rewards amount text */

.ContainersComponentStyle-navigationBlockForCategories .ContainerInfoComponentStyle-typeRewardsBlock .ContainerInfoComponentStyle-amountRewards {
	font-size: 1em;
	font-weight: normal;
	color: var(--severitium-white-text-color);
}