/* Body element */

body {
	margin: 0;
	background: #000 !important;
}

/* Preloader styles */

.preloader {
	background: none;
	background-color: rgb(0, 0, 0);
}

/* Wrapper for loading screen */

.wrapper {
	background: none;
	background-color: transparent;
}

/* Loading background on the entrance screen and also after login/register */

.ApplicationLoaderComponentStyle-container {
	background-image: none !important;
	background: none;
	z-index: -1;
}

/* Loading background after login/register overlaying container */

.Common-background + div > div[style*='background'i] {
	display: none;
}

/* Loading in lobby */

.LobbyLoaderComponentStyle-container {
	background: none !important;
}

/* Logo in lobby (tankionline icon) */

.LobbyLoaderComponentStyle-logo,
#preloader .logo {
	width: 8em;
	height: auto;
	-webkit-animation: logo-animation 1s ease-in-out infinite;
			animation: logo-animation 1s ease-in-out infinite;
}

/* Define keyframes for animation */
@-webkit-keyframes logo-animation {
	0% {
		width: 8em;
	}
	50% {
		width: 6em;
	}
	100% {
		width: 8em;
	}
}
@keyframes logo-animation {
	0% {
		width: 8em;
	}
	50% {
		width: 6em;
	}
	100% {
		width: 8em;
	}
}

/* Canvas for custom background with stars */

.severitium-star-canvas-container {
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
}

/* Custom progress element to replace the defauld gif */

.severitium-progress {
	position: absolute;
	bottom: 4em;
	left: 50%;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
	width: 15em;
	height: .2em;
	background: none;
	border-radius: .5em;
	overflow: hidden;
	-webkit-filter: drop-shadow(var(--severitium-main-color) 0 0 .5em);
			filter: drop-shadow(var(--severitium-main-color) 0 0 .5em);
}

/* Inner of the custom progress (running line) */

.severitium-progress > div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--severitium-main-color);
	-webkit-animation: progress-animation 1.5s cubic-bezier(0, 0, 0.03, 0.9) infinite;
			animation: progress-animation 1.5s cubic-bezier(0, 0, 0.03, 0.9) infinite;
}

/* Animation for custom progress */

@-webkit-keyframes progress-animation {
	0%, 44%, 88.1%, 100% {
		-webkit-transform-origin: left;
				transform-origin: left;
	}
	
	0%, 100%, 88% {
		-webkit-transform: scaleX(0);
				transform: scaleX(0);
	}
	
	44.1%, 88% {
		-webkit-transform-origin: right;
				transform-origin: right;
	}
	
	33%, 44% {
		-webkit-transform: scaleX(1);
				transform: scaleX(1);
	}
}

@keyframes progress-animation {
	0%, 44%, 88.1%, 100% {
		-webkit-transform-origin: left;
				transform-origin: left;
	}
	
	0%, 100%, 88% {
		-webkit-transform: scaleX(0);
				transform: scaleX(0);
	}
	
	44.1%, 88% {
		-webkit-transform-origin: right;
				transform-origin: right;
	}
	
	33%, 44% {
		-webkit-transform: scaleX(1);
				transform: scaleX(1);
	}
}

/* Help hotkey block */

.ApplicationLoaderComponentStyle-helpChangeKey {
	background: transparent;
	border: var(--severitium-gray-color) dashed .1em;
	border-radius: var(--severitium-border-radius);
}

/* Help hotkey text */

.ApplicationLoaderComponentStyle-helpChangeKey > span {
	color: var(--severitium-dark-white-text-color);
}