/* Battle results header container and all elements inside it */

.BattleResultHeaderComponentStyle-accountTeams,
.BattleResultHeaderComponentStyle-accountTeams * {
	box-sizing: border-box;
}

/* Battle results header container */

.BattleResultHeaderComponentStyle-accountTeams {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	background: none;
	padding: 0;
	margin: 0;
}

/* Battle results header description container */

.BattleResultHeaderComponentStyle-accountTeams .BattleResultHeaderComponentStyle-descriptionVictory {
	width: fit-content;
	height: fit-content;
	min-width: 25%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .5em;
	padding: 1em .5em;
}

/* Original header description background */

.BattleResultHeaderComponentStyle-accountTeams .BattleResultHeaderComponentStyle-descriptionVictory > img[src*='resultbg'i] {
	display: none;
}

/* Custom header description background */

.BattleResultHeaderComponentStyle-accountTeams .BattleResultHeaderComponentStyle-descriptionVictory:has(> img[src*='resultbg'i])::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: var(--severitium-dark-gray-color);
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 220"><path d="m-80 180 880 40 880-40v-80L800 60l-880 40z" opacity=".75"/><path d="m200 160 600 20 600-20-120-45-480-15-480 15z" opacity=".25"/><path d="m-80 100 880-40 880 40V0H-80z" opacity=".55"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 220"><path d="m-80 180 880 40 880-40v-80L800 60l-880 40z" opacity=".75"/><path d="m200 160 600 20 600-20-120-45-480-15-480 15z" opacity=".25"/><path d="m-80 100 880-40 880 40V0H-80z" opacity=".55"/></svg>');
	-webkit-mask-size: cover;
			mask-size: cover;
	-webkit-mask-position: center;
			mask-position: center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
}

/* Header description map name text */

.BattleResultHeaderComponentStyle-accountTeams .BattleResultHeaderComponentStyle-descriptionVictory .BattleResultHeaderComponentStyle-mapName {
	font-size: 1em;
	color: var(--severitium-light-gray-text-color);
	text-transform: uppercase;
}

/* Header description result text */

.BattleResultHeaderComponentStyle-accountTeams .BattleResultHeaderComponentStyle-descriptionVictory .BattleResultHeaderComponentStyle-resultText {
	font-family: BaseFontBold, FallbackFontBold;
	font-size: 2.5em;
	color: var(--severitium-white-text-color);
	text-transform: uppercase;
	letter-spacing: .05em;
}

/* Header description visual container */

.BattleResultHeaderComponentStyle-accountTeams .BattleResultHeaderComponentStyle-descriptionVictory .BattleResultHeaderComponentStyle-flashLight {
	display: none;
}

/* Header teams containers */

.BattleResultHeaderComponentStyle-accountTeams .BattleResultHeaderComponentStyle-firstTeamAccount,
.BattleResultHeaderComponentStyle-accountTeams .BattleResultHeaderComponentStyle-twoTeamAccount {
	position: relative;
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: .5em;
	padding: 1em;
	margin: 0;
}

/* Elements inside header teams containers */

.BattleResultHeaderComponentStyle-accountTeams .BattleResultHeaderComponentStyle-firstTeamAccount *,
.BattleResultHeaderComponentStyle-accountTeams .BattleResultHeaderComponentStyle-twoTeamAccount * {
	margin: 0;
}