/* Containers info panel container */

.ContainersComponentStyle-infoPanel {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 1em;
	height: auto;
	width: auto;
	max-width: 22em;
}

/* All elements inside info panel */

.ContainersComponentStyle-infoPanel * {
	box-sizing: border-box;
}

/* Description container */

.ContainersComponentStyle-infoPanel .ItemDescriptionComponentStyle-descriptionBlockDevice {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin: 0;
}

/* Description name container */

.ContainersComponentStyle-infoPanel .ItemDescriptionComponentStyle-descriptionBlockDevice .ItemDescriptionComponentStyle-nameItem {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

/* Description name text */

.ContainersComponentStyle-infoPanel .ItemDescriptionComponentStyle-descriptionBlockDevice .ItemDescriptionComponentStyle-nameItem > span {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	color: var(--severitium-white-text-color);
}

/* Description container */

.ContainersComponentStyle-infoPanel .ItemDescriptionComponentStyle-descriptionBlockDevice .ContainersComponentStyle-description {
	display: flex;
	flex-direction: column;
	gap: .5em;
	width: 100%;
	height: auto;
	background: none;
	box-shadow: none;
	background-color: var(--severitium-dark-transparent-background2);
	border: .1em solid var(--severitium-gray-color);
	border-radius: var(--severitium-border-radius);
	margin: 0;
	padding: .5em .75em;
	-webkit-backdrop-filter: blur(.25em);
			backdrop-filter: blur(.25em);
	transition: background-color .2s ease, border-color .2s ease;
}

/* Description container on hover */

.ContainersComponentStyle-infoPanel .ItemDescriptionComponentStyle-descriptionBlockDevice .ContainersComponentStyle-description:hover {
	background: none;
	box-shadow: none;
	background-color: var(--severitium-dark-transparent-background3);
	border-color: var(--severitium-main-color);
}

/* Description text */

.ContainersComponentStyle-infoPanel .ItemDescriptionComponentStyle-descriptionBlockDevice .ContainersComponentStyle-description .ItemDescriptionComponentStyle-textClipped {
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: var(--severitium-extra-light-gray-text-color);
}

/* Description hotkey + "read more" text container */

.ContainersComponentStyle-infoPanel .ItemDescriptionComponentStyle-descriptionBlockDevice .ContainersComponentStyle-description .ItemDescriptionComponentStyle-textClipped + div {
	display: flex;
	align-items: center;
	gap: .5em;
	margin: 0;
	padding: 0;
}

/* Description hotkey */

.ContainersComponentStyle-infoPanel .ItemDescriptionComponentStyle-descriptionBlockDevice .ContainersComponentStyle-description [class*="hotkey"i] {
	background: transparent;
	color: var(--severitium-dark-white-text-color);
	border: var(--severitium-gray-color) dashed .1em;
	border-radius: var(--severitium-border-radius);
	margin: 0;
	padding: 0;
}

/* Description "read more" text near hotkey */

.ContainersComponentStyle-infoPanel .ItemDescriptionComponentStyle-descriptionBlockDevice .ContainersComponentStyle-description .ItemDescriptionComponentStyle-linkToFullDescription {
	color: var(--severitium-extra-light-gray-text-color);
	margin: 0;
	padding: 0;
	pointer-events: none;
	transition: color .2s ease;
}

/* Description "read more" text near hotkey on description container hover */

.ContainersComponentStyle-infoPanel .ItemDescriptionComponentStyle-descriptionBlockDevice .ContainersComponentStyle-description:hover .ItemDescriptionComponentStyle-linkToFullDescription {
	color: var(--severitium-main-color);
}

/* Possible rewards container */

.ContainersComponentStyle-infoPanel .ContainersComponentStyle-possibleRewardsBlock {
	display: flex;
	flex-direction: column;
	gap: .5em;
	width: 100%;
	height: auto;
	margin: 0;
	padding: .5em .75em;
	background: none;
	box-shadow: none;
	background-color: var(--severitium-dark-transparent-background2);
	border: .1em solid var(--severitium-gray-color);
	border-radius: var(--severitium-border-radius);
	-webkit-backdrop-filter: blur(.25em);
			backdrop-filter: blur(.25em);
	transition: background-color .2s ease, border-color .2s ease;
}

/* Possible rewards container on hover */

.ContainersComponentStyle-infoPanel .ContainersComponentStyle-possibleRewardsBlock:hover {
	background: none;
	box-shadow: none;
	background-color: var(--severitium-dark-transparent-background3);
	border-color: var(--severitium-main-color);
}

/* Possible rewards random rewards icons container */

.ContainersComponentStyle-infoPanel .ContainersComponentStyle-possibleRewardsBlock .ContainersComponentStyle-rewards {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: .25em;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Possible rewards random rewards icon container (solo) */

.ContainersComponentStyle-infoPanel .ContainersComponentStyle-possibleRewardsBlock .ContainersComponentStyle-rewards > div {
	position: relative;
	width: auto;
	height: 6.5em;
	margin: 0;
	padding: .5em;
	border-radius: var(--severitium-border-radius);
	background: none;
	background-color: var(--severitium-light-transparent-background3);
}

/* Possible rewards random reward's rarity (on edge) */

.ContainersComponentStyle-infoPanel .ContainersComponentStyle-possibleRewardsBlock .ContainersComponentStyle-rewards > div > div:first-child {
	position: absolute;
	top: 0;
	left: 0;
	border-top-left-radius: var(--severitium-border-radius);
}

/* Possible rewards random rewards icon image */

.ContainersComponentStyle-infoPanel .ContainersComponentStyle-possibleRewardsBlock .ContainersComponentStyle-rewards > div .RewardCardComponentStyle-smallImagesLootBoxes {
	height: 5em;
	width: 5em;
}

/* Possible rewards hotkey + "view more" text container */

.ContainersComponentStyle-infoPanel .ContainersComponentStyle-possibleRewardsBlock .DeviceButtonComponentStyle-blockAlterations {
	display: flex;
	align-items: center;
	gap: .5em;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Possible rewards hotkey */

.ContainersComponentStyle-infoPanel .ContainersComponentStyle-possibleRewardsBlock .DeviceButtonComponentStyle-blockAlterations [class*="hotkey"i] {
	background: transparent;
	color: var(--severitium-dark-white-text-color);
	border: var(--severitium-gray-color) dashed .1em;
	border-radius: var(--severitium-border-radius);
	margin: 0;
	padding: 0;
}

/* Possible rewards "view more" text near hotkey */

.ContainersComponentStyle-infoPanel .ContainersComponentStyle-possibleRewardsBlock .DeviceButtonComponentStyle-blockAlterations .ItemDescriptionComponentStyle-linkToFullDescription {
	color: var(--severitium-extra-light-gray-text-color);
	margin: 0;
	padding: 0;
	pointer-events: none;
	transition: color .2s ease;
}

/* Possible rewards "view more" text near hotkey on possible rewards container hover */

.ContainersComponentStyle-infoPanel .ContainersComponentStyle-possibleRewardsBlock:hover .DeviceButtonComponentStyle-blockAlterations .ItemDescriptionComponentStyle-linkToFullDescription {
	color: var(--severitium-main-color);
}

/* Key count block */

.ContainersComponentStyle-containersBlock .ContainersComponentStyle-keyBlock .ContainersComponentStyle-countBlock {
	width: auto;
	height: auto;
}

/* Key count circle active */

.ContainersComponentStyle-containersBlock .ContainersComponentStyle-keyBlock:has(.ContainersComponentStyle-key > img[src*="active"i]:not([src*="inactive"i])) .ContainersComponentStyle-countBlock > div {
	background-color: var(--severitium-main-color);
	box-shadow: var(--severitium-main-color) 0 0 1em 0;
	border-radius: 50%;
}

/* Key count circle inactive */

.ContainersComponentStyle-containersBlock .ContainersComponentStyle-keyBlock:has(.ContainersComponentStyle-key > img[src*="inactive"i]) .ContainersComponentStyle-countBlock > div {
	background-color: var(--severitium-light-gray-color);
	box-shadow: var(--severitium-light-gray-color) 0 0 1em 0;
	border-radius: 50%;
}

/* Key count active text */

.ContainersComponentStyle-containersBlock .ContainersComponentStyle-keyBlock:has(.ContainersComponentStyle-key > img[src*="active"i]:not([src*="inactive"i])) .ContainersComponentStyle-countBlock > div > p {
	color: var(--severitium-black-text-color);
}

/* Key count inactive text */

.ContainersComponentStyle-containersBlock .ContainersComponentStyle-keyBlock:has(.ContainersComponentStyle-key > img[src*="inactive"i]) .ContainersComponentStyle-countBlock > div > p {
	color: var(--severitium-white-text-color);
}

/* Bottom text or button and all elements inside that container */

.ContainersComponentStyle-bottomBlock .DeviceButtonComponentStyle-blockAlterations,
.ContainersComponentStyle-bottomBlock .DeviceButtonComponentStyle-blockAlterations * {
	box-sizing: border-box;
}

/* Open containers button */

.ContainersComponentStyle-bottomBlock .DeviceButtonComponentStyle-blockAlterations > div {
	width: 16em;
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Open containers button on hover */

.ContainersComponentStyle-bottomBlock .DeviceButtonComponentStyle-blockAlterations > div:hover {
	outline: none;
	box-shadow: none;
	border: var(--severitium-green-button-border-color-hover) solid .1em;
}

/* Open containers button text */

.ContainersComponentStyle-bottomBlock .DeviceButtonComponentStyle-blockAlterations > div > span {
	margin: 0;
	margin-left: 4em;
	color: var(--severitium-green-button-color);
}

/* Open containers button hotkey */

.ContainersComponentStyle-bottomBlock .DeviceButtonComponentStyle-blockAlterations > div [class*="hotkey"i] {
	background: transparent;
	color: var(--severitium-dark-white-text-color);
	border: var(--severitium-gray-color) dashed .1em;
	border-radius: var(--severitium-border-radius);
}

/* "No keys" text when 0 keys */

.ContainersComponentStyle-bottomBlock .DeviceButtonComponentStyle-blockAlterations > h2 {
	font-size: 1.5em;
	color: var(--severitium-light-gray-text-color);
}

/* Buy containers button */

.ContainersComponentStyle-moreButton {
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-gold-button-background);
	border: var(--severitium-gold-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Buy containers button on hover */

.ContainersComponentStyle-moreButton:hover {
	outline: none;
	box-shadow: none;
	background: var(--severitium-gold-button-background);
	border: var(--severitium-gold-button-border-color-hover) solid .1em;
}

/* Buy containers button text */

.ContainersComponentStyle-moreButton > span {
	color: var(--severitium-gold-button-color);
}

/* Buy containers button hotkey */

.ContainersComponentStyle-moreButton [class*="hotkey"i] {
	background: transparent;
	color: var(--severitium-dark-white-text-color);
	border: var(--severitium-gray-color) dashed .1em;
	border-radius: var(--severitium-border-radius);
}