/* Container with cards inside */

.BattlePickComponentStyle-modeCards {
	width: auto;
	height: auto;
}

/* Single card */

.BattlePickComponentStyle-commonStyleBlock {
	position: relative;
	background: none;
	box-shadow: 0 0 0 .075em var(--severitium-main-color);
	transition: box-shadow .2s ease;
	border-radius: var(--severitium-border-radius);
}

/* Single card on hover */

.BattlePickComponentStyle-commonStyleBlock:hover {
	box-shadow: 0 0 0 .2em var(--severitium-main-color);
}

/* Unavailable card */

.BattlePickComponentStyle-commonStyleBlock:has(> .BattlePickComponentStyle-blockNotAvailable) {
	pointer-events: none;
}

/* Unavailable card pseudo-element to create shadow */

.BattlePickComponentStyle-commonStyleBlock:has(> .BattlePickComponentStyle-blockNotAvailable)::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--severitium-dark-transparent-background2);
	z-index: 1;
}

/* Single card image */

.BattlePickComponentStyle-commonStyleBlock > div:first-child {
	border-radius: 0;
	background-size: cover;
	transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease;
}

/* Single card image on card hover */

.BattlePickComponentStyle-commonStyleBlock:hover > div:first-child {
	-webkit-transform: scale(1.1, 1.1);
			transform: scale(1.1, 1.1);
}

/* Type's description container */

.BattlePickComponentStyle-commonStyleBlock .BattlePickComponentStyle-descriptionBattle {
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	background: linear-gradient(transparent 0%, var(--severitium-black-color) 100%);
}

/* Unavailable card description container */

.BattlePickComponentStyle-commonStyleBlock .BattlePickComponentStyle-disableDescriptionBattle {
	bottom: 0;
	left: 0;
	width: auto;
}

/* Type's description text */

.BattlePickComponentStyle-commonStyleBlock .BattlePickComponentStyle-descriptionBattle > h2 {
	color: var(--severitium-main-color);
	margin: .5em 1em;
	width: auto;
}

/* Unavailable card description text */

.BattlePickComponentStyle-commonStyleBlock .BattlePickComponentStyle-disableDescriptionBattle h3 {
	color: var(--severitium-extra-light-gray-text-color);
	margin: .5em 1em;
	font-size: 1.25em;
	width: auto;
}

/* Last (event) card gradient */

.BattlePickComponentStyle-commonStyleBlock:last-of-type > div:first-child + div[class*="ksc"i] {
	display: none;
}

/* Timers inside the cards */

.BattlePickComponentStyle-commonStyleBlock div[class*='timer'i] {
	position: absolute;
	width: auto;
	height: auto;
	bottom: 3.5em;
	left: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	margin: 0;
	padding: .25em .5em;
	background-color: var(--severitium-main-color);
}

/* Timer text */

.BattlePickComponentStyle-commonStyleBlock div[class*='timer'i] > span {
	margin: 0;
	padding: 0;
	font-size: 1.25em;
	color: var(--severitium-black-text-color);
}

/* Container for cristals and exp amount on pro-battles card */

.BattlePickComponentStyle-blockForCrystalXP {
	width: calc(100% - calc(2em * 1.5));
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-height: auto;
	height: auto;
	margin: 0 calc(1em * 1.5) 1em calc(1em * 1.5);
}

/* Crystal text amount on pro-battles card */

.BattlePickComponentStyle-descriptionBattle div:has(> img[src*="crystal"i]) > span {
	color: var(--severitium-blue-text-color);
}

/* Unavailable card lock */

.BattlePickComponentStyle-commonStyleBlock > .BattlePickComponentStyle-blockNotAvailable {
	display: none;
}

/* Unavailable card custom lock */

.BattlePickComponentStyle-commonStyleBlock:has(> .BattlePickComponentStyle-blockNotAvailable)::before {
	content: '';
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	z-index: 2;
	bottom: 0;
	right: 0;
	margin: .5em 1em;
	background-color: var(--severitium-red-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 45"><path fill-rule="evenodd" d="M33.25 15h4.92c.53 0 1.04.21 1.41.59l1.83 1.83c.38.38.59.88.59 1.41v22.34c0 .53-.21 1.04-.59 1.41l-1.83 1.83c-.38.38-.88.59-1.41.59H3.83c-.53 0-1.04-.21-1.41-.59L.59 42.58C.21 42.2 0 41.7 0 41.17V18.83c0-.53.21-1.04.59-1.41l1.83-1.83c.38-.38.88-.59 1.41-.59h4.92c.14 0 .25-.11.25-.25v-2.32C9 5.8 14.18.1 20.81 0S33 5.31 33 12v2.75c0 .14.11.25.25.25m-4.75-.25v-2.44c0-4.11-3.16-7.69-7.27-7.81S13.5 7.78 13.5 12v2.75c0 .14.11.25.25.25h14.5c.14 0 .25-.11.25-.25M17.12 27.88l1.76-1.76a3 3 0 0 1 4.24 0l1.76 1.76a3 3 0 0 1 0 4.24l-1.76 1.76a3 3 0 0 1-4.24 0l-1.76-1.76a3 3 0 0 1 0-4.24"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 45"><path fill-rule="evenodd" d="M33.25 15h4.92c.53 0 1.04.21 1.41.59l1.83 1.83c.38.38.59.88.59 1.41v22.34c0 .53-.21 1.04-.59 1.41l-1.83 1.83c-.38.38-.88.59-1.41.59H3.83c-.53 0-1.04-.21-1.41-.59L.59 42.58C.21 42.2 0 41.7 0 41.17V18.83c0-.53.21-1.04.59-1.41l1.83-1.83c.38-.38.88-.59 1.41-.59h4.92c.14 0 .25-.11.25-.25v-2.32C9 5.8 14.18.1 20.81 0S33 5.31 33 12v2.75c0 .14.11.25.25.25m-4.75-.25v-2.44c0-4.11-3.16-7.69-7.27-7.81S13.5 7.78 13.5 12v2.75c0 .14.11.25.25.25h14.5c.14 0 .25-.11.25-.25M17.12 27.88l1.76-1.76a3 3 0 0 1 4.24 0l1.76 1.76a3 3 0 0 1 0 4.24l-1.76 1.76a3 3 0 0 1-4.24 0l-1.76-1.76a3 3 0 0 1 0-4.24"/></svg>');
}