/* Possible rewards main container */

.ContainerInfoComponentStyle-lootBoxContainer {
	position: relative;
	width: 100%;
	height: 100%;
}

/* All items inside possible rewards main container */

.ContainerInfoComponentStyle-lootBoxContainer * {
	box-sizing: border-box;
}

/* Possible rewards description */

.ContainerInfoComponentStyle-lootBoxDescriptionContainer {
	width: 25em;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 1em;
	-webkit-backdrop-filter: blur(.5em);
			backdrop-filter: blur(.5em);
	background: none;
	background-color: var(--severitium-dark-transparent-background1);
	border-right: .1em solid var(--severitium-gray-color);
}

/* Possible rewards description image block */

.ContainerInfoComponentStyle-lootBoxDescriptionContainer .ContainerInfoComponentStyle-rewardPreview {
	width: auto;
	height: auto;
	margin: 0;
	margin-top: 2.5em;
}

/* Possible rewards description category block */

.ContainerInfoComponentStyle-lootBoxDescriptionContainer .ContainerInfoComponentStyle-rewardCategoryName {
	width: auto;
	height: auto;
	margin: 0;
}

/* Possible rewards description category text */

.ContainerInfoComponentStyle-lootBoxDescriptionContainer .ContainerInfoComponentStyle-rewardCategoryName > span {
	margin: 0;
	font-size: .85em;
	color: var(--severitium-main-color);
}

/* Possible rewards description name block */

.ContainerInfoComponentStyle-lootBoxDescriptionContainer .ContainerInfoComponentStyle-rewardNameContainer {
	width: auto;
	height: auto;
	margin: 0;
}

/* Possible rewards description name text */

.ContainerInfoComponentStyle-lootBoxDescriptionContainer .ContainerInfoComponentStyle-rewardNameContainer > span {
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--severitium-white-text-color);
}

/* Possible rewards description text outer block */

.ContainerInfoComponentStyle-lootBoxDescriptionContainer .ContainerInfoComponentStyle-rewardDescriptionBlock {
	width: auto;
	height: auto;
	margin: 0;
}

/* Possible rewards description text inner block */

.ContainerInfoComponentStyle-lootBoxDescriptionContainer .ContainerInfoComponentStyle-rewardDescriptionBlock .ContainerInfoComponentStyle-rewardDescription {
	display: flex;
	flex-direction: column;
	gap: .5em;
	width: auto;
	max-width: 80%;
	height: auto;
	margin: 0;
}

/* Possible rewards description text */

.ContainerInfoComponentStyle-lootBoxDescriptionContainer .ContainerInfoComponentStyle-rewardDescriptionBlock .ContainerInfoComponentStyle-rewardDescription > span {
	font-size: 1em;
	color: var(--severitium-light-gray-text-color);
}

/* Possible rewards hotkey + "read more" text */

.ContainerInfoComponentStyle-lootBoxDescriptionContainer .ContainerInfoComponentStyle-rewardDescriptionBlock .ContainerInfoComponentStyle-learnMoreBlock {
	width: auto;
	height: auto;
	margin: 0;
	cursor: pointer;
}

/* Possible rewards hotkey */

.ContainerInfoComponentStyle-lootBoxDescriptionContainer .ContainerInfoComponentStyle-rewardDescriptionBlock .ContainerInfoComponentStyle-learnMoreBlock [class*='hotkey'i] {
	background: transparent;
	color: var(--severitium-dark-white-text-color);
	border: var(--severitium-gray-color) dashed .1em;
	border-radius: var(--severitium-border-radius);
}

/* Possible rewards "read more" text */

.ContainerInfoComponentStyle-lootBoxDescriptionContainer .ContainerInfoComponentStyle-rewardDescriptionBlock .ContainerInfoComponentStyle-learnMoreBlock .ItemDescriptionComponentStyle-linkToFullDescription {
	color: var(--severitium-extra-light-gray-text-color);
	margin: 0;
	padding: 0;
	transition: color .2s ease;
}

/* Possible rewards "read more" text on block hover */

.ContainerInfoComponentStyle-lootBoxDescriptionContainer .ContainerInfoComponentStyle-rewardDescriptionBlock .ContainerInfoComponentStyle-learnMoreBlock .ItemDescriptionComponentStyle-linkToFullDescription:hover {
	color: var(--severitium-main-color);
}

/* Possible rewards rewards only container */

.ContainerInfoComponentStyle-possibleRewardsContainer {
	width: 100%;
}

/* Container with rows of possible rewards */

.ContainerInfoComponentStyle-possibleRewardsContainer .ScrollBarStyle-itemsWrapper .ContainerInfoComponentStyle-itemsContainer {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 1em;
	margin: 0;
}

/* Rows of possible rewards items */

.ContainerInfoComponentStyle-possibleRewardsContainer .ScrollBarStyle-itemsWrapper .ContainerInfoComponentStyle-itemsContainer > div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	gap: 1em;
	margin: 0;
}

/* First row of possible rewards items */

.ContainerInfoComponentStyle-possibleRewardsContainer .ScrollBarStyle-itemsWrapper .ContainerInfoComponentStyle-itemsContainer > div:first-child {
	margin-left: 26em;
}

/* Item of possible rewards */

.ContainerInfoComponentStyle-possibleRewardsContainer .ScrollBarStyle-itemsWrapper .ContainerInfoComponentStyle-itemsContainer > div > div {
	position: relative;
	width: 15em;
	height: calc(25% - 1em);
	margin: 0;
	outline: none;
	background: none;
	border-radius: var(--severitium-border-radius);
	border-width: .1em;
	border-style: solid;
	-webkit-backdrop-filter: blur(.25em);
			backdrop-filter: blur(.25em);
	transition: border-color .2s ease, background-color .2s ease;
}

/* Styles for the active item */

.ContainerInfoComponentStyle-possibleRewardsContainer .ScrollBarStyle-itemsWrapper .ContainerInfoComponentStyle-itemsContainer > div > div[data-state='active'] {
    box-shadow: none;
    background-color: var(--severitium-light-transparent-background3);
    border-color: var(--severitium-light-gray-color);
    pointer-events: none;
}

/* Styles for inactive item */

.ContainerInfoComponentStyle-possibleRewardsContainer .ScrollBarStyle-itemsWrapper .ContainerInfoComponentStyle-itemsContainer > div > div[data-state='inactive'] {
    box-shadow: none;
    background-color: var(--severitium-dark-transparent-background2);
    border-color: var(--severitium-gray-color);
}

/* Item of possible rewards on hover */

.ContainerInfoComponentStyle-possibleRewardsContainer .ScrollBarStyle-itemsWrapper .ContainerInfoComponentStyle-itemsContainer > div > div:hover {
	border-width: .1em;
	border-style: solid;
	border-color: var(--severitium-white-color);
}

/* Item probability block */

.ContainerInfoComponentStyle-possibleRewardsContainer .ScrollBarStyle-itemsWrapper .ContainerInfoComponentStyle-itemsContainer > div > div .RewardCardComponentStyle-probabilityBlock {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	padding: .5em;
}

/* Item probability text */

.ContainerInfoComponentStyle-possibleRewardsContainer .ScrollBarStyle-itemsWrapper .ContainerInfoComponentStyle-itemsContainer > div > div .RewardCardComponentStyle-probabilityBlock > span {
	font-size: 1em;
	color: var(--severitium-light-gray-text-color);
	margin: 0;
}

/* Item rarity color (on the corner) */

.ContainerInfoComponentStyle-possibleRewardsContainer .ScrollBarStyle-itemsWrapper .ContainerInfoComponentStyle-itemsContainer > div > div .RewardCardComponentStyle-probabilityBlock + div {
	position: absolute;
	top: 0;
	left: 0;
	border-top-left-radius: var(--severitium-border-radius);
}

/* No available reward items */

.ContainerInfoComponentStyle-lootBoxContainer .QuestsComponentStyle-emptyList > h2 {
	background: none;
	background-color: var(--severitium-light-transparent-background3);
	-webkit-backdrop-filter: blur(.25em);
			backdrop-filter: blur(.25em);
	color: var(--severitium-dark-white-text-color);
	border: var(--severitium-gray-color) dashed .15em;
	border-radius: var(--severitium-border-radius);
	font-size: 1.25em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding: .25em .5em;
}

/* Both arrow containers for scrolling arrows (left & right) */

.ContainerInfoComponentStyle-possibleRewardsContainer .ScrollBarStyle-arrowsWrapper > div {
	transition: opacity .2s ease;
	background: radial-gradient(100% 50% at 100% 50%, var(--severitium-light-transparent-background3) 0%, transparent 100%);
	height: 100%;
	width: auto;
	padding: 0 0 0 2em;
}

/* Left arrow container */

.ContainerInfoComponentStyle-possibleRewardsContainer .ScrollBarStyle-arrowsWrapper .ScrollBarStyle-leftScrollArrow {
	margin-left: 25em;
}