/* Starting entrance background and all changing backgrounds */
.-changingBackground,
.-container.-entranceBackground,
.-background.-container.SystemMessageStyle-container,
.-container:has(.-entranceGradient) {
	background: none;
	background-color: rgb(0, 0, 0);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Container for gradient (vignette effect) */

.-entranceGradient {
	background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

/* Hide original changing backgrounds */

.-container:has(.-entranceGradient) > .-changingBackground {
	display: none;
}