/* Successful purchase container */

.SuccessfulPurchaseComponentStyle-container {
	position: relative;
	background: var(--severitium-dark-transparent-background1);
	-webkit-backdrop-filter: blur(.5em);
			backdrop-filter: blur(.5em);
	outline: var(--severitium-gray-color) solid .1em;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
}

/* Successful purchase image container */

.SuccessfulPurchaseComponentStyle-blockImage {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20em;
	height: inherit;
	position: relative;
}

/* Successfull purchase original image */

.SuccessfulPurchaseComponentStyle-blockImage img {
	display: none;
}

/* Successful purchase pseudo-element for custom image */

.SuccessfulPurchaseComponentStyle-blockImage::after {
	content: '';
	aspect-ratio: 1/1;
	width: 50%;
	background-color: var(--severitium-green-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="m26.862 6 1.982-6H32l-6.673 20.207A5.5 5.5 0 0 1 20.098 24H4v-3h16.098a2.5 2.5 0 0 0 2.377-1.724L22.896 18H4L0 6zM7 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6m16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/></svg>');
			mask-image: url('data:image/svg+xml,<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="m26.862 6 1.982-6H32l-6.673 20.207A5.5 5.5 0 0 1 20.098 24H4v-3h16.098a2.5 2.5 0 0 0 2.377-1.724L22.896 18H4L0 6zM7 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6m16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/></svg>');
}

/* Successful purchase details container */

.SuccessfulPurchaseComponentStyle-containerHeadline {
	position: relative;
	margin: 0;
	padding: 0;
	border-left: .1em solid var(--severitium-gray-color);
}

/* Successful purchase header container */

.SuccessfulPurchaseComponentStyle-containerHeadline .HeadlineComponentStyle-popupHeadlineContent {
	padding: 1em;
}

/* Successful purchase "you have purchased" text */

.SuccessfulPurchaseComponentStyle-containerHeadline > h4 {
	width: 100%;
	height: auto;
	color: var(--severitium-dark-white-text-color);
	margin: 0;
	margin-top: 2.5em;
	padding: .5em 1em;
	border-bottom: .1rem solid var(--severitium-gray-color);
	overflow: hidden auto;
}

/* Successful "you have purchased" bottom line */

.SuccessfulPurchaseComponentStyle-containerHeadline > .SuccessfulPurchaseComponentStyle-borderLineItem {
	display: none;
}

/* Successful purchase reward outer container */

.SuccessfulPurchaseComponentStyle-containerHeadline div:has(> .SuccessfulPurchaseComponentStyle-rewardContainer) {
	width: 100%;
}

/* Successful purchase reward text container */

/* TODO: scrollbar */

.SuccessfulPurchaseComponentStyle-containerHeadline .SuccessfulPurchaseComponentStyle-rewardContainer {
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Successful purchase reward item */

.SuccessfulPurchaseComponentStyle-containerHeadline .SuccessfulPurchaseComponentStyle-rewardContainer .SuccessfulPurchaseComponentStyle-rewardColor {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: .5em;
	padding: .5em 1em;
}

/* Successful purchase reward items except the last one */

.SuccessfulPurchaseComponentStyle-containerHeadline .SuccessfulPurchaseComponentStyle-rewardContainer .SuccessfulPurchaseComponentStyle-rewardColor:not(:last-child) {
	border-bottom: .1rem solid var(--severitium-gray-color);
}

/* Successful purchase item bottom line */

.SuccessfulPurchaseComponentStyle-containerHeadline .SuccessfulPurchaseComponentStyle-rewardContainer .SuccessfulPurchaseComponentStyle-borderLineItemSuccessfulPurchase {
	display: none;
}

/* Successful purchase reward text */

.SuccessfulPurchaseComponentStyle-containerHeadline .SuccessfulPurchaseComponentStyle-rewardContainer .SuccessfulPurchaseComponentStyle-rewardColor span {
	color: var(--severitium-green-text-color);
}

/* Successful purchase button */

.SuccessfulPurchaseComponentStyle-containerHeadline .SuccessfulPurchaseComponentStyle-rewardContainer + div {
	margin: 1em;
	margin-top: 2.5em;
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Successful purchase button on hover */

.SuccessfulPurchaseComponentStyle-containerHeadline .SuccessfulPurchaseComponentStyle-rewardContainer + div:hover {
	outline: none;
	box-shadow: none;
	border: var(--severitium-green-button-border-color-hover) solid .1em;
}

/* Button text */

.SuccessfulPurchaseComponentStyle-containerHeadline .SuccessfulPurchaseComponentStyle-rewardContainer + div > span {
	color: var(--severitium-green-button-color);
}

/* Button hotkey */

.SuccessfulPurchaseComponentStyle-containerHeadline .SuccessfulPurchaseComponentStyle-rewardContainer + div [class*='hotkey'i] {
	background: transparent;
	color: var(--severitium-dark-white-text-color);
	border: var(--severitium-gray-color) dashed .1em;
	border-radius: var(--severitium-border-radius);
}