/* The container of the panel */

.MainScreenComponentStyle-containerPanel,
.BreadcrumbsComponentStyle-headerContainer {
	background: var(--severitium-dark-transparent-background1);
	-webkit-backdrop-filter: blur(.5em);
			backdrop-filter: blur(.5em);
	border-bottom: var(--severitium-gray-color) solid .1em;
}

/* All elements inside the panel, except the all elements inside user info container */

.MainScreenComponentStyle-containerPanel *:not(.UserInfoContainerStyle-containerProgressMainScreen *),
.BreadcrumbsComponentStyle-headerContainer *:not(.UserInfoContainerStyle-containerProgressMainScreen *) {
	transition: background-color .2s ease;
}

/* Hotkey block */

.MainScreenComponentStyle-containerPanel [class*='hotkey'i],
.BreadcrumbsComponentStyle-headerContainer [class*='hotkey'i],
.BreadcrumbsComponentStyle-backButton h3 {
	background: transparent;
	color: var(--severitium-dark-white-text-color);
	border: var(--severitium-gray-color) dashed .1em;
	border-radius: var(--severitium-border-radius);
}

/* Premium button */

.UserInfoContainerStyle-userTitleContainer > div:nth-child(1) {
	background: none;
}

/* Premium button image */

.UserInfoContainerStyle-userTitleContainer > div:nth-child(1) > [class*='image'i] {
	background: none;
	background-image: none;
	background-color: var(--severitium-yellow-color);
	width: 2em;
	height: 2em;
	-webkit-mask-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.65197 22.4339C3.85532 23.3489 4.66695 24 5.60434 24H26.3957C27.3331 24 28.1447 23.3489 28.348 22.4339L32 6L24 12L16 0L8 12L0 6L3.65197 22.4339ZM16 19C14.3431 19 13 17.6569 13 16C13 14.3431 14.3431 13 16 13C17.6569 13 19 14.3431 19 16C19 17.6569 17.6569 19 16 19Z" fill="white"/><path d="M4 26.6667C4 26.2985 4.29848 26 4.66667 26H27.3333C27.7015 26 28 26.2985 28 26.6667V29.3333C28 29.7015 27.7015 30 27.3333 30H4.66667C4.29848 30 4 29.7015 4 29.3333V26.6667Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.65197 22.4339C3.85532 23.3489 4.66695 24 5.60434 24H26.3957C27.3331 24 28.1447 23.3489 28.348 22.4339L32 6L24 12L16 0L8 12L0 6L3.65197 22.4339ZM16 19C14.3431 19 13 17.6569 13 16C13 14.3431 14.3431 13 16 13C17.6569 13 19 14.3431 19 16C19 17.6569 17.6569 19 16 19Z" fill="white"/><path d="M4 26.6667C4 26.2985 4.29848 26 4.66667 26H27.3333C27.7015 26 28 26.2985 28 26.6667V29.3333C28 29.7015 27.7015 30 27.3333 30H4.66667C4.29848 30 4 29.7015 4 29.3333V26.6667Z" fill="white"/></svg>');
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-position: center;
			mask-position: center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
}

/* Premium button timer */

.UserInfoContainerStyle-userTitleContainer > div:nth-child(1) > span[id*='timer'i] {
	font-size: 1.2em;
	text-transform: uppercase;
	color: var(--severitium-gold-text-color);
}

/* Nickname */

.UserInfoContainerStyle-containerProgressMainScreen > div:nth-child(1) span {
	color: var(--severitium-main-color);
}

/* EXP bar (inactive) */

.UserInfoContainerStyle-containerProgressMainScreen > div:nth-child(2) {
	background-color: var(--severitium-gray-color);
}

/* EXP bar (active) */

.UserInfoContainerStyle-containerProgressMainScreen > div:nth-child(2)::after {
	background-color: var(--severitium-main-color);
}

/* EXP icon */

.UserInfoContainerStyle-containerProgressMainScreen > div:nth-child(3) .UserInfoContainerStyle-xpIcon {
	display: none;
}

/* EXP current number */

.UserInfoContainerStyle-containerProgressMainScreen > div:nth-child(3) .UserInfoContainerStyle-progressValue {
	margin-left: 0;
	color: var(--severitium-main-color);
}

/* EXP general number */

.UserInfoContainerStyle-containerProgressMainScreen > div:nth-child(3) .UserInfoContainerStyle-progressValue > span {
	color: var(--severitium-light-gray-color);
}

/* Premium button / Back button */

.UserInfoContainerStyle-userTitleContainer > div:first-child,
.BreadcrumbsComponentStyle-headerContainer > div:first-child > div:first-child {
	background-color: transparent;
	transition: background-color .2s ease;
}

/* Premium button / Back button on hover */

.UserInfoContainerStyle-userTitleContainer > div:first-child:hover,
.BreadcrumbsComponentStyle-headerContainer > div:first-child > div:first-child:hover {
	background-color: var(--severitium-light-transparent-background3);
}

/* Icon of back button */

.BreadcrumbsComponentStyle-headerContainer > div:first-child > div:first-child .IconStyle-iconBackArrow {
	-webkit-mask-image: url('data:image/svg+xml,<svg width="30" height="24" viewBox="0 0 30 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 0H16.5L4.5 12L6 13.5L16.5 24H12L0 12L12 0ZM6 13.5L9 10.5H30L27 13.5H6Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="30" height="24" viewBox="0 0 30 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 0H16.5L4.5 12L6 13.5L16.5 24H12L0 12L12 0ZM6 13.5L9 10.5H30L27 13.5H6Z" fill="white"/></svg>');
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-position: center;
			mask-position: center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	background-image: none;
	background-color: var(--severitium-light-gray-color);
	transition: background-color .2s ease;
}

/* Icon of back button on button's hover */

.BreadcrumbsComponentStyle-headerContainer > div:first-child > div:first-child:hover .IconStyle-iconBackArrow {
	background-color: var(--severitium-white-color);
}

/* Group button */

.UserInfoContainerStyle-userTitleContainer > div:has(> [class*='user'i][class*='group'i]),
.BreadcrumbsComponentStyle-headerContainer > div > div:has(> [class*='user'i][class*='group'i]) {
	background-color: transparent;
	transition: background-color .2s ease;
}

/* Group button on hover */

.UserInfoContainerStyle-userTitleContainer > div:has(> [class*='user'i][class*='group'i]):hover,
.BreadcrumbsComponentStyle-headerContainer > div > div:has(> [class*='user'i][class*='group'i]):hover {
	background-color: var(--severitium-light-transparent-background3);
}

/* Group button old icon */

.UserInfoContainerStyle-userTitleContainer > div > [class*='user'i][class*='group'i] > div,
.BreadcrumbsComponentStyle-headerContainer > div > div > [class*='user'i][class*='group'i] > div {
	/* display: none; */
	width: 1.5em;
	height: 1.5em;
}

/* Group button new icon */

/* .UserInfoContainerStyle-userTitleContainer > div > [class*='user'i][class*='group'i],
.BreadcrumbsComponentStyle-headerContainer > div > div > [class*='user'i][class*='group'i] {
	width: 1.5em;
	height: 1.5em;
	position: relative;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 12c6.627 0 12 5.373 12 12H0c0-6.627 5.373-12 12-12m0-12a5.25 5.25 0 1 1 0 10.5A5.25 5.25 0 0 1 12 0"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 12c6.627 0 12 5.373 12 12H0c0-6.627 5.373-12 12-12m0-12a5.25 5.25 0 1 1 0 10.5A5.25 5.25 0 0 1 12 0"/></svg>');
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-position: center;
			mask-position: center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	background-image: none;
	background-color: var(--severitium-light-gray-color);
} */

/* Rank button */

.UserInfoContainerStyle-rankIconContainerClickable {
	background-color: transparent;
	transition: background-color .2s ease;
}

/* Rank button on hover */

.UserInfoContainerStyle-rankIconContainerClickable:hover {
	background-color: var(--severitium-light-transparent-background3);
}

/* Currency buttons */

.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='coin'i]),
.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='crystal'i]),
.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='ruby'i]),
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='coin'i]),
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='crystal'i]),
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='ruby'i]) {
	box-sizing: border-box;
	position: relative;
	background-color: transparent;
}

/* Currency buttons on hover */

.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='coin'i]):hover,
.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='crystal'i]):hover,
.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='ruby'i]):hover,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='coin'i]):hover,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='crystal'i]):hover,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='ruby'i]):hover {
	background: none;
}

/* Pseudo element for hover highlight */

.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='coin'i])::before,
.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='crystal'i])::before,
.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='ruby'i])::before,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='coin'i])::before,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='crystal'i])::before,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='ruby'i])::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: .15;
	background: transparent;
	transition: background .2s ease;
}

/* Pseudo element for ruby currency on hover */

.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='ruby'i]):hover::before,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='ruby'i]):hover::before {
	background: linear-gradient(270deg, var(--severitium-ruby-color) 0%, rgba(255, 255, 255, 0) 100%);
}

/* Pseudo element for tancoin currency on hover */

.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='coin'i]):hover::before,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(div > img[src*='coin'i]):hover::before {
	background: linear-gradient(270deg, var(--severitium-tancoin-color) 0%, rgba(255, 255, 255, 0) 100%);
}

/* Pseudo element for crystal currency on hover */

.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='crystal'i]):hover::before,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='crystal'i]):hover::before {
	background: linear-gradient(270deg, var(--severitium-crystal-color) 0%, rgba(255, 255, 255, 0) 100%);
}

/* Text on ruby button */

.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='ruby'i]) > span,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='ruby'i]) > span {
	margin: 0 1.5em 0 .5em;
	color: var(--severitium-ruby-color);
}

/* Text on tancoin button */

.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='coin'i]) > span,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(div > img[src*='coin'i]) > span {
	margin: 0 1.5em 0 .5em;
	color: var(--severitium-tancoin-color);
}

/* Text on crystal button */

.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='crystal'i]) > span,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='crystal'i]) > span {
	margin: 0 1.5em 0 .5em;
	color: var(--severitium-crystal-color);
}

/* Original plus sign icons on currency buttons */

.UserScoreComponentStyle-blockRightPanel div> img[src*='coin'i][src*='add'i],
.UserScoreComponentStyle-blockRightPanel div> img[src*='crystal'i][src*='add'i],
.UserScoreComponentStyle-blockRightPanel div> img[src*='ruby'i][src*='add'i],
.BreadcrumbsComponentStyle-rightButtonsContainer div> img[src*='coin'i][src*='add'i],
.BreadcrumbsComponentStyle-rightButtonsContainer div> img[src*='crystal'i][src*='add'i],
.BreadcrumbsComponentStyle-rightButtonsContainer div> img[src*='ruby'i][src*='add'i] {
	display: none;
}

/* Custom plus sign icons on currency buttons */

.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='coin'i][src*='add'i])::after,
.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='crystal'i][src*='add'i])::after,
.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='ruby'i][src*='add'i])::after,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='coin'i][src*='add'i])::after,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='crystal'i][src*='add'i])::after,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='ruby'i][src*='add'i])::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 1em;
	height: 1em;
	background-color: var(--severitium-light-gray-color);
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M19.5 0h9v19.5H48v9H0v-9h19.5zm0 37.5 9-9V48h-9z"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M19.5 0h9v19.5H48v9H0v-9h19.5zm0 37.5 9-9V48h-9z"/></svg>');
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-position: center;
			mask-position: center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	background-image: none;
	transition: background-color .2s ease;
}

/* Custom plus sign icon on coin button hover */

.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='coin'i][src*='add'i]):hover::after,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='coin'i][src*='add'i]):hover::after {
	background-color: var(--severitium-tancoin-color);
}

/* Custom plus sign icon on crystal button hover */

.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='crystal'i][src*='add'i]):hover::after,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='crystal'i][src*='add'i]):hover::after {
	background-color: var(--severitium-crystal-color);
}

/* Custom plus sign icon on ruby button hover */

.UserScoreComponentStyle-blockRightPanel div:has(> img[src*='ruby'i][src*='add'i]):hover::after,
.BreadcrumbsComponentStyle-rightButtonsContainer div:has(> img[src*='ruby'i][src*='add'i]):hover::after {
	background-color: var(--severitium-ruby-color);
}

/* Full screen button */

.UserScoreComponentStyle-blockRightPanel > div:nth-last-child(2),
.BreadcrumbsComponentStyle-rightButtonsContainer > div:nth-last-child(2) {
	background-color: transparent;
	transition: background-color .2s ease;
}

/* Full screen button on hover */

.UserScoreComponentStyle-blockRightPanel > div:nth-last-child(2):hover,
.BreadcrumbsComponentStyle-rightButtonsContainer > div:nth-last-child(2):hover {
	background-color: var(--severitium-light-transparent-background3);
}

/* Icon of the full screen button */

.UserScoreComponentStyle-blockRightPanel > div:nth-last-child(2) > div,
.BreadcrumbsComponentStyle-rightButtonsContainer > div:nth-last-child(2) > div {
	width: 1.5em;
	height: 1.5em;
	-webkit-mask-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 2C0 0.895431 0.89543 0 2 0H7.5L0 7.5V2Z" fill="white"/><path d="M0 22C0 23.1046 0.89543 24 2 24H7.5L0 16.5V22Z" fill="white"/><path d="M22 24C23.1046 24 24 23.1046 24 22V16.5L16.5 24H22Z" fill="white"/><path d="M24 2C24 0.895431 23.1046 0 22 0H16.5L24 7.5V2Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 2C0 0.895431 0.89543 0 2 0H7.5L0 7.5V2Z" fill="white"/><path d="M0 22C0 23.1046 0.89543 24 2 24H7.5L0 16.5V22Z" fill="white"/><path d="M22 24C23.1046 24 24 23.1046 24 22V16.5L16.5 24H22Z" fill="white"/><path d="M24 2C24 0.895431 23.1046 0 22 0H16.5L24 7.5V2Z" fill="white"/></svg>');
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-position: center;
			mask-position: center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	background-image: none;
	background-color: var(--severitium-light-gray-color);
	transition: background-color .2s ease;
}

/* Icon of the full screen button on button's hover */

.UserScoreComponentStyle-blockRightPanel > div:nth-last-child(2):hover > div,
.BreadcrumbsComponentStyle-rightButtonsContainer > div:nth-last-child(2):hover > div {
	background-color: var(--severitium-white-color);
}

/* Logout button */

.UserScoreComponentStyle-blockRightPanel .BreadcrumbsComponentStyle-logout {
	background-color: transparent;
	transition: background-color .2s ease;
}

/* Logout button on hover */

.UserScoreComponentStyle-blockRightPanel .BreadcrumbsComponentStyle-logout:hover {
	background-color: var(--severitium-light-transparent-background3);
}

/* Icon of the logout button */

.UserScoreComponentStyle-blockRightPanel .BreadcrumbsComponentStyle-iconLogout {
	width: 1.5em;
	height: 1.5em;
	-webkit-mask-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 0C0.895431 0 0 0.89543 0 2V10.5H15L7.5 3H12L21 12L12 21H7.5L15 13.5H0V22C0 23.1046 0.89543 24 2 24H22C23.1046 24 24 23.1046 24 22V2C24 0.895431 23.1046 0 22 0H2Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 0C0.895431 0 0 0.89543 0 2V10.5H15L7.5 3H12L21 12L12 21H7.5L15 13.5H0V22C0 23.1046 0.89543 24 2 24H22C23.1046 24 24 23.1046 24 22V2C24 0.895431 23.1046 0 22 0H2Z" fill="white"/></svg>');
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-position: center;
			mask-position: center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	background-image: none;
	background-color: var(--severitium-light-gray-color);
	transition: background-color .2s ease;
}

/* Icon of the logout button on button's hover */

.UserScoreComponentStyle-blockRightPanel .BreadcrumbsComponentStyle-logout:hover .BreadcrumbsComponentStyle-iconLogout {
	background-image: none;
	background-color: var(--severitium-white-color);
}

/* Home button */

.BreadcrumbsComponentStyle-rightButtonsContainer .BreadcrumbsComponentStyle-exitGameButton {
	background-color: transparent;
	transition: background-color .2s ease;
}

/* Home button on hover */

.BreadcrumbsComponentStyle-rightButtonsContainer .BreadcrumbsComponentStyle-exitGameButton:hover {
	background-color: var(--severitium-light-transparent-background3);
}

/* Icon of the home button */

.BreadcrumbsComponentStyle-rightButtonsContainer .BreadcrumbsComponentStyle-exitGameButton .IconStyle-iconLogOff {
	width: 1.5em;
	height: 1.5em;
	-webkit-mask-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M1 24H5C5.55225 24 6 23.5522 6 23V15H18V23C18 23.5522 18.4478 24 19 24H23C23.5522 24 24 23.5522 24 23V12.8284C24 12.298 23.7891 11.7893 23.4141 11.4142L13.4141 1.41418C12.6333 0.633179 11.3667 0.633179 10.5859 1.41418L0.585938 11.4142C0.210938 11.7893 0 12.298 0 12.8284V23C0 23.5522 0.447754 24 1 24Z" fill="white"/></svg>');
			mask-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M1 24H5C5.55225 24 6 23.5522 6 23V15H18V23C18 23.5522 18.4478 24 19 24H23C23.5522 24 24 23.5522 24 23V12.8284C24 12.298 23.7891 11.7893 23.4141 11.4142L13.4141 1.41418C12.6333 0.633179 11.3667 0.633179 10.5859 1.41418L0.585938 11.4142C0.210938 11.7893 0 12.298 0 12.8284V23C0 23.5522 0.447754 24 1 24Z" fill="white"/></svg>');
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-position: center;
			mask-position: center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	background-image: none;
	background-color: var(--severitium-light-gray-color);
	transition: background-color .2s ease;
}

/* Icon of the home button on button's hover */

.BreadcrumbsComponentStyle-rightButtonsContainer .BreadcrumbsComponentStyle-exitGameButton:hover .IconStyle-iconLogOff {
	background-image: none;
	background-color: var(--severitium-white-color);
}

/* Tanki Online icon container */

.UserInfoContainerStyle-blockForIconTankiOnline {
	display: flex;
	align-items: center;
	justify-content: center;
	-ms-grid-row-align: center;
	    align-self: center;
	position: absolute;
	margin: auto;
	inset: 0;
}

/* Tanki Online original icon */

.UserInfoContainerStyle-blockForIconTankiOnline > img {
	display: none;
}

/* Top title */

.BreadcrumbsComponentStyle-breadcrumbs .BreadcrumbsComponentStyle-rootTitle {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

/* Top title text */

.BreadcrumbsComponentStyle-breadcrumbs .BreadcrumbsComponentStyle-rootTitle > span {
	margin: 0;
	padding: 0;
	font-size: 2em;
	font-family: BaseFontBold, FallbackFontBold;
	font-weight: normal;
	color: var(--severitium-white-text-color);
	text-transform: uppercase;
	letter-spacing: .05em;
}

/* Top title info icon */

.BreadcrumbsComponentStyle-breadcrumbs .BreadcrumbsComponentStyle-rootTitle > div {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	aspect-ratio: 1 / 1;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	padding: .25em;
	margin: 0;
	background: none;
	border-radius: 50%;
	border: .2em solid var(--severitium-light-gray-color);
	transition: border-color .2s ease;
}

/* Top title info icon on hover */

.BreadcrumbsComponentStyle-breadcrumbs .BreadcrumbsComponentStyle-rootTitle > div:hover {
	background: none;
	border-color: var(--severitium-blue-color);
}

/* Custom info icon */

.BreadcrumbsComponentStyle-breadcrumbs .BreadcrumbsComponentStyle-rootTitle > div::before {
	position: relative;
	display: block;
	content: '';
	width: 1em;
	height: 1em;
	aspect-ratio: 1 / 1;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14"><path d="M2 0h4v2H2zM0 6h2v6a2 2 0 0 0 2 2h4v-2H6V4H0z"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14"><path d="M2 0h4v2H2zM0 6h2v6a2 2 0 0 0 2 2h4v-2H6V4H0z"/></svg>');
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-position: center;
			mask-position: center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	background-color: var(--severitium-light-gray-color);
	transition: background-color .2s ease;
}

/* Custom icon on hover */

.BreadcrumbsComponentStyle-breadcrumbs .BreadcrumbsComponentStyle-rootTitle > div:hover::before {
	background-color: var(--severitium-blue-color);
}