/* Header block and all elements inside it */

.HeaderComponentStyle-linkBar,
.HeaderComponentStyle-linkBar * {
	box-sizing: border-box;
}

/* Header outer container */

.HeaderComponentStyle-linkBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: fit-content;
}

/* Header inner container */

.HeaderComponentStyle-linkBar .HeaderComponentStyle-commonBlockContentPanel {
	position: relative;
	width: auto;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1em;
	padding: .5em 2.5em;
}

/* Links and copyright block on page's bottom */

.HeaderComponentStyle-headerLinkBar .HeaderComponentStyle-commonBlockContentPanel
> div:not(.SocialNetworksComponentStyle-container):not(.HeaderComponentStyle-supportBlock):not(.HeaderComponentStyle-messageContainer) {
	display: none;
}

/* Header tanki online icon */

.HeaderComponentStyle-iconTankOnline {
	position: relative;
	top: unset;
	left: unset;
	display: none;
}

/* Original tanki online logo */

.HeaderComponentStyle-logoTankOnline {
    display: none;
}

/* Language select */

.HeaderComponentStyle-commonBlockContentPanel div:has(+ .HeaderComponentStyle-blockForIconToggleSound) {
	width: auto;
	height: auto;
	align-self: stretch;
}

/* Language select dropdown container */

.HeaderComponentStyle-commonBlockContentPanel div:has(+ .HeaderComponentStyle-blockForIconToggleSound) .DropDownStyle-dropdownRoot {
	height: 100%;
}

/* Language select inner dropdown container */

.HeaderComponentStyle-commonBlockContentPanel div:has(+ .HeaderComponentStyle-blockForIconToggleSound) .DropDownStyle-dropdownRoot .DropDownStyle-dropdownControl {
	height: 100%;
	padding: .25em .5em;
}

/* Language select options container */

.HeaderComponentStyle-commonBlockContentPanel div:has(+ .HeaderComponentStyle-blockForIconToggleSound) .DropDownStyle-dropdownRoot .VerticalScrollStyle-outerContainerStyle {
	min-width: 100%;
}

/* Sound button (top-right corner) */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-blockForIconToggleSound {
	width: auto;
	height: auto;
	min-width: auto;
	min-height: auto;
	align-self: stretch;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0;
	padding: 0 .5em;
	background-color: transparent;
	border-radius: var(--severitium-border-radius);
	border: .1em solid var(--severitium-gray-color);
	-webkit-filter: none;
	        filter: none;
	transition: background-color .2s ease;
}

/* Sound button (top-right corner) on hover */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-blockForIconToggleSound:hover {
	background-color: var(--severitium-light-transparent-background3);
}

/* Sound button image (both states) */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-blockForIconToggleSound > [class*='enable'i] {
	width: 1.5em;
	height: 1.5em;
	background-image: none;
	background-color: var(--severitium-light-gray-color);
	-webkit-mask-size: contain;
		mask-size: contain;
	-webkit-mask-position: center;
		mask-position: center;
	-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
	-webkit-filter: none;
	        filter: none;
	transition: background-color .2s ease;
}

/* Sound button image (both states) on button hover */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-blockForIconToggleSound:hover > [class*='enable'i] {
	background-color: var(--severitium-white-color);
	-webkit-filter: none;
	        filter: none;
}

/* Sound button image (enabled) */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-blockForIconToggleSound > [class*='enable'i] {
	-webkit-mask-image: var(--severitium-general-media-volume-enabled-icon);
			mask-image: var(--severitium-general-media-volume-enabled-icon);
}

/* Sound button image (muted) */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-blockForIconToggleSound > [class*='disable'i] {
	-webkit-mask-image: var(--severitium-general-media-volume-disabled-icon);
			mask-image: var(--severitium-general-media-volume-disabled-icon);
}

/* Button 'back' with arrow (top-left corner) the container */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-backArrowBlock {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2em;
	flex-grow: 1;
	top: unset;
	left: unset;
	right: unset;
	bottom: unset;
	margin: 0;
	padding: 0;
	transition: gap .2s ease;
}

/* Button 'back' with arrow (top-left corner) the container on hover */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-backArrowBlock:hover {
	gap: 1.5em;
}

/* Button 'back' with arrow (top-left corner) the arrow element */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-backArrowBlock > div {
	width: 1.5em;
	height: 1.5em;
	-webkit-mask-size: contain;
		mask-size: contain;
	-webkit-mask-position: center;
		mask-position: center;
	-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
	-webkit-mask-image: var(--severitium-general-nav-back-icon);
			mask-image: var(--severitium-general-nav-back-icon);
	-webkit-filter: none;
		filter: none;
	background-image: none;
	background-color: var(--severitium-extra-light-gray-color);
	transition: background-color .2s ease;
}

/* Button 'back' with arrow (top-left corner) the text */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-backArrowBlock > span {
	margin: 0;
	color: var(--severitium-extra-light-gray-color) !important;
	transition: color .2s ease;
}

/* Button 'back' with arrow (top-left corner) the arrow element on hover */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-backArrowBlock:hover > div {
	background-color: var(--severitium-white-color);
}

/* Button 'back' with arrow (top-left corner) the text on hover */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-backArrowBlock:hover > span {
	color: var(--severitium-white-color) !important;
}

/* General container of buttons or login/register */

.EntranceComponentStyle-ContainerForm {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Container form and all elements inside it */

.EntranceComponentStyle-ContainerForm,
.EntranceComponentStyle-ContainerForm * {
	box-sizing: border-box;
}

/* Form inside the container */

.EntranceComponentStyle-ContainerForm form:not(:has([class*='round'i][class*='button'i])) {
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .5em;
	padding: 1.5em;
	/* border-radius: .5em; */
	/* background-color: var(--severitium-dark-transparent-background1); */
	/* border: .1em solid var(--severitium-light-gray-color); */
	/* box-shadow: 0 0 1em 0 var(--severitium-white-color); */
	/* backdrop-filter: blur(.2em); */
}

/* Header + buttons containers + login/register elements */

.EntranceComponentStyle-ContainerForm form:not(:has([class*='round'i][class*='button'i])) > div {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .5em;
	margin: 0;
}

/* Title text of the container */

.MainEntranceComponentStyle-title,
.EntranceComponentStyle-title {
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	font-size: 1.5em;
}

/* Registration container with passwords and button */

.EntranceComponentStyle-ContainerForm form > .RegistrationComponentStyle-containerItem + div {
	display: flex;
	flex-direction: column;
	gap: .5em;
	margin: 0;
	margin-top: .5em;
}

/* Creepy thing for input background */

.InputComponentStyle-blurBackground {
	display: none;
}

/* Entrance error icon */

.EntranceComponentStyle-commonBlockMessageError {
	right: 3em;
}

/* Inputs for text, password and email */

.EntranceComponentStyle-ContainerForm form input[type='text']:not(.ConverterDialogComponentStyle-input),
.EntranceComponentStyle-ContainerForm form input[type='password']:not(.ConverterDialogComponentStyle-input),
.EntranceComponentStyle-ContainerForm form input[type='email']:not(.ConverterDialogComponentStyle-input) {
	background-color: var(--severitium-dark-transparent-background2);
	color: var(--severitium-extra-light-gray-text-color);
	border: .1em solid var(--severitium-light-gray-color);
	border-radius: var(--severitium-border-radius);
	font-size: 1.25em;
	padding: 0 2em 0 .5em;
	box-sizing: border-box;
	-webkit-backdrop-filter: blur(.25em);
	backdrop-filter: blur(.25em);
	transition: background-color .2s ease, border-color .2s ease, color .2s ease;
}

/* Inputs for text, password and email on hover and focus */

.EntranceComponentStyle-ContainerForm .RegistrationComponentStyle-containerItem:hover input[type='text']:not(.ConverterDialogComponentStyle-input),
.EntranceComponentStyle-ContainerForm .RegistrationComponentStyle-containerItem:hover input[type='password']:not(.ConverterDialogComponentStyle-input),
.EntranceComponentStyle-ContainerForm form input[type='text']:not(.ConverterDialogComponentStyle-input):hover,
.EntranceComponentStyle-ContainerForm form input[type='password']:not(.ConverterDialogComponentStyle-input):hover,
.EntranceComponentStyle-ContainerForm form input[type='email']:not(.ConverterDialogComponentStyle-input):hover,
.EntranceComponentStyle-ContainerForm form input[type='text']:not(.ConverterDialogComponentStyle-input):focus,
.EntranceComponentStyle-ContainerForm form input[type='password']:not(.ConverterDialogComponentStyle-input):focus,
.EntranceComponentStyle-ContainerForm form input[type='email']:not(.ConverterDialogComponentStyle-input):focus {
	background: none;
	background-color: var(--severitium-light-transparent-background3);
	color: var(--severitium-white-text-color);
}

/* Autofilled input */

.EntranceComponentStyle-ContainerForm form input[type=email]:not(.ConverterDialogComponentStyle-input):-webkit-autofill,
.EntranceComponentStyle-ContainerForm form input[type=password]:not(.ConverterDialogComponentStyle-input):-webkit-autofill,
.EntranceComponentStyle-ContainerForm form input[type=text]:not(.ConverterDialogComponentStyle-input):-webkit-autofill {
	-webkit-background-clip: text !important;
    -webkit-text-fill-color: var(--severitium-extra-light-gray-text-color) !important;
    box-shadow: inset 0 0 20px 20px var(--severitium-dark-transparent-background2) !important;
	border-radius: var(--severitium-border-radius) !important;
	border: .1em solid var(--severitium-light-gray-color) !important;
	background-color: var(--severitium-light-transparent-background1) !important;
    transition: background-color 5000s ease-in-out 0s, box-shadow .2s ease, border-color .2s ease, color .2s ease, -webkit-text-fill-color .2s ease;
}

.EntranceComponentStyle-ContainerForm form input[type=email]:not(.ConverterDialogComponentStyle-input):-moz-autofill,
.EntranceComponentStyle-ContainerForm form input[type=password]:not(.ConverterDialogComponentStyle-input):-moz-autofill,
.EntranceComponentStyle-ContainerForm form input[type=text]:not(.ConverterDialogComponentStyle-input):-moz-autofill {
	-webkit-background-clip: text !important;
    -webkit-text-fill-color: var(--severitium-extra-light-gray-text-color) !important;
    box-shadow: inset 0 0 20px 20px var(--severitium-dark-transparent-background2) !important;
	border-radius: var(--severitium-border-radius) !important;
	border: .1em solid var(--severitium-light-gray-color) !important;
	background-color: var(--severitium-light-transparent-background1) !important;
    transition: background-color 5000s ease-in-out 0s, box-shadow .2s ease, border-color .2s ease, color .2s ease, -webkit-text-fill-color .2s ease;
}

/* Autofilled input on hover and focus */

.EntranceComponentStyle-ContainerForm form input[type=email]:not(.ConverterDialogComponentStyle-input):-webkit-autofill:hover,
.EntranceComponentStyle-ContainerForm form input[type=password]:not(.ConverterDialogComponentStyle-input):-webkit-autofill:hover,
.EntranceComponentStyle-ContainerForm form input[type=text]:not(.ConverterDialogComponentStyle-input):-webkit-autofill:hover,
.EntranceComponentStyle-ContainerForm form input[type=email]:not(.ConverterDialogComponentStyle-input):-webkit-autofill:focus,
.EntranceComponentStyle-ContainerForm form input[type=password]:not(.ConverterDialogComponentStyle-input):-webkit-autofill:focus,
.EntranceComponentStyle-ContainerForm form input[type=text]:not(.ConverterDialogComponentStyle-input):-webkit-autofill:focus {
	-webkit-background-clip: text !important;
    -webkit-text-fill-color: var(--severitium-white-text-color) !important;
    box-shadow: inset 0 0 20px 20px var(--severitium-dark-transparent-background2) !important;
	border-radius: var(--severitium-border-radius) !important;
	border: .1em solid var(--severitium-light-gray-color) !important;
    box-shadow: inset 0 0 20px 20px var(--severitium-dark-transparent-background3) !important;
}

.EntranceComponentStyle-ContainerForm form input[type=email]:not(.ConverterDialogComponentStyle-input):-moz-autofill:hover,
.EntranceComponentStyle-ContainerForm form input[type=password]:not(.ConverterDialogComponentStyle-input):-moz-autofill:hover,
.EntranceComponentStyle-ContainerForm form input[type=text]:not(.ConverterDialogComponentStyle-input):-moz-autofill:hover,
.EntranceComponentStyle-ContainerForm form input[type=email]:not(.ConverterDialogComponentStyle-input):-moz-autofill:focus,
.EntranceComponentStyle-ContainerForm form input[type=password]:not(.ConverterDialogComponentStyle-input):-moz-autofill:focus,
.EntranceComponentStyle-ContainerForm form input[type=text]:not(.ConverterDialogComponentStyle-input):-moz-autofill:focus {
	-webkit-background-clip: text !important;
    -webkit-text-fill-color: var(--severitium-white-text-color) !important;
    box-shadow: inset 0 0 20px 20px var(--severitium-dark-transparent-background2) !important;
	border-radius: var(--severitium-border-radius) !important;
	border: .1em solid var(--severitium-light-gray-color) !important;
    box-shadow: inset 0 0 20px 20px var(--severitium-dark-transparent-background3) !important;
}

/* Invalid inputs for text, password and email */

.EntranceComponentStyle-ContainerForm form input[type='text'][class*='invalid'],
.EntranceComponentStyle-ContainerForm form input[type='password'][class*='invalid'],
.EntranceComponentStyle-ContainerForm form input[type='email'][class*='invalid'] {
	background-color: var(--severitium-red-transparent-background1);
	color: var(--severitium-red-text-color);
	border-color: var(--severitium-red-color);
}

/* Inputs that have "eye" button or a checkmark, but without error icon */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem:not(:has(img[src*='incorrect'i])) input:has(+ .EntranceComponentStyle-commonBlockMessageError > img[src*='eye'i]),
.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem:not(:has(img[src*='incorrect'i])) input:has(+ .EntranceComponentStyle-commonBlockMessageError > img[src*='checkmark'i]) {
	padding: 0 2.5em 0 .5em;
}

/* Inputs that have "eye" button or a checkmark with error icon too */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem:has(img[src*='incorrect'i]) input:has(+ .EntranceComponentStyle-commonBlockMessageError > img[src*='eye'i]),
.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem:has(img[src*='incorrect'i]) input:has(+ .EntranceComponentStyle-commonBlockMessageError > img[src*='checkmark'i]) {
	padding: 0 4em 0 .5em;
}

/* Inputs that have error icon */

.EntranceComponentStyle-ContainerForm form input:has(+ .EntranceComponentStyle-commonBlockMessageError > img[src*='incorrect'i]) {
	padding: 0 2em 0 .5em;
}

/* Icon containers inside inputs */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem .EntranceComponentStyle-commonBlockMessageError {
	width: 1.5em;
	height: 1.5em;
	position: absolute;
	top: 50%;
	right: 3em;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
}

/* Eye button, checkbox icon container when input is without error icon */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem:not(:has(img[src*='incorrect'i])) .EntranceComponentStyle-commonBlockMessageError:has(> img[src*='eye'i]),
.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem:not(:has(img[src*='incorrect'i])) .EntranceComponentStyle-commonBlockMessageError:has(> img[src*='checkmark'i]) {
	right: 1em;
}

/* Eye button, checkbox icon container when input field has also error icon */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem:has(img[src*='incorrect'i]) .EntranceComponentStyle-commonBlockMessageError:has(> img[src*='eye'i]),
.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem:has(img[src*='incorrect'i]) .EntranceComponentStyle-commonBlockMessageError:has(> img[src*='checkmark'i]) {
	right: 3em;
}

/* Error icon container */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem .EntranceComponentStyle-commonBlockMessageError:has(> img[src*='incorrect'i]) {
	right: 1em;
}

/* Original icons as masks */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem .EntranceComponentStyle-commonBlockMessageError {
	background: none;
	background-color: transparent;
	-webkit-mask-image: none;
			mask-image: none;
}

/* Original icons as images */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem .EntranceComponentStyle-commonBlockMessageError > img {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

/* New icons */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem .EntranceComponentStyle-commonBlockMessageError::before {
	content: '';
	width: 1.5em;
	height: 1.5em;
	background-image: none;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-position: center;
			mask-position: center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	transition: background-color .2s ease;
}

/* Eye icons */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem .EntranceComponentStyle-commonBlockMessageError:has(> img[src*='eye'i])::before {
	background-color: var(--severitium-light-gray-color);
}

/* Eye icons on hover */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem .EntranceComponentStyle-commonBlockMessageError:has(> img[src*='eye'i]):hover::before {
	background-color: var(--severitium-white-color);
}

/* New opened eye icon */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem .EntranceComponentStyle-commonBlockMessageError:has(> img[src*='open'i][src*='eye'i])::before {
	-webkit-mask-image: var(--severitium-general-media-eye-opened-outline-icon);
			mask-image: var(--severitium-general-media-eye-opened-outline-icon);
}

/* New closed eye icon */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem .EntranceComponentStyle-commonBlockMessageError:has(> img[src*='close'i][src*='eye'i])::before {
	-webkit-mask-image: var(--severitium-general-media-eye-closed-outline-icon);
			mask-image: var(--severitium-general-media-eye-closed-outline-icon);
}

/* New alert icon */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem .EntranceComponentStyle-commonBlockMessageError:has(> img[src*='incorrect'i])::before {
	pointer-events: none;
	background-color: var(--severitium-red-color);
	transition: all 0ms;
	-webkit-mask-image: var(--severitium-general-status-alert-circle-outline-icon);
			mask-image: var(--severitium-general-status-alert-circle-outline-icon);
}

/* New checkmark icon */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem .EntranceComponentStyle-commonBlockMessageError:has(> img[src*='checkmark'i])::before {
	pointer-events: none;
	background-color: var(--severitium-green-color);
	transition: all 0ms;
	-webkit-mask-image: var(--severitium-general-action-double-checkmark-outline-icon);
			mask-image: var(--severitium-general-action-double-checkmark-outline-icon);
}

/* Alert text block (arrives on alert icon hover) */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem .EntranceComponentStyle-commonBlockMessageError .EntranceComponentStyle-informationWriting {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--severitium-border-radius);
	padding: 0 .5em;
	background: none;
	background-color: var(--severitium-dark-transparent-background3);
	-webkit-backdrop-filter: blur(.25em);
			backdrop-filter: blur(.25em);
	border: .1em solid var(--severitium-red-color);
}

/* Alert text block's arrow image */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem .EntranceComponentStyle-commonBlockMessageError .EntranceComponentStyle-informationWriting > img {
	display: none;
}

/* Alert text block's text */

.EntranceComponentStyle-ContainerForm form .RegistrationComponentStyle-containerItem .EntranceComponentStyle-commonBlockMessageError .EntranceComponentStyle-informationWriting > span {
	width: fit-content;
	height: fit-content;
	color: var(--severitium-white-text-color);
}

/* Button of login/registration */

.EntranceComponentStyle-ContainerForm form div[class*='EntranceComponentStyle-button'i] {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin: 0;
	margin-top: 1em;
	padding: 1em 1em;
	-ms-grid-row-align: center;
			align-self: center;
}

/* Disabled button (in forms or 'header' of the entrance page) */

.EntranceComponentStyle-ContainerForm form div[class*='EntranceComponentStyle-button'i][class*='buttonnoactive'i],
.HeaderComponentStyle-supportBlock div[class*='EntranceComponentStyle-button'i][class*='buttonnoactive'i] {
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	border-radius: var(--severitium-border-radius);
	background-color: var(--severitium-light-transparent-background1);
}

/* Active button (in forms or 'header' of the entrance page) */

.EntranceComponentStyle-ContainerForm form div[class*='EntranceComponentStyle-button'i][class*='buttonactive'i],
.HeaderComponentStyle-supportBlock div[class*='EntranceComponentStyle-button'i][class*='buttonactive'i] {
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	background-color: var(--severitium-gray-button-background);
	border: .1em solid var(--severitium-gray-button-border-color);
	border-radius: var(--severitium-border-radius);
	transition: background-color .2s ease, border-color .2s ease;
}

/* Active button on hover (in forms or 'header' of the entrance page) */

.EntranceComponentStyle-ContainerForm form div[class*='EntranceComponentStyle-button'i][class*='buttonactive'i]:hover,
.HeaderComponentStyle-supportBlock div[class*='EntranceComponentStyle-button'i][class*='buttonactive'i]:hover {
	background-color: var(--severitium-green-button-background);
	border-color: var(--severitium-green-button-border-color-hover);
	border-radius: var(--severitium-border-radius);
}

/* Disabled button text (in forms or 'header' of the entrance page) */

.EntranceComponentStyle-ContainerForm form div[class*='EntranceComponentStyle-button'i][class*='buttonnoactive'i] span,
.HeaderComponentStyle-supportBlock div[class*='EntranceComponentStyle-button'i][class*='buttonnoactive'i] span {
	color: var(--severitium-black-text-color);
}


/* Active button text (in forms or 'header' of the entrance page) */

.EntranceComponentStyle-ContainerForm form div[class*='EntranceComponentStyle-button'i][class*='buttonactive'i] span,
.HeaderComponentStyle-supportBlock div[class*='EntranceComponentStyle-button'i][class*='buttonactive'i] span {
	color: var(--severitium-white-text-color);
}

/* Original checkbox container */

.EntranceComponentStyle-checkbox {
	display: flex;
	-ms-grid-row-align: center;
		align-self: center;
	-ms-grid-column-align: start;
		justify-self: start;
	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin: 0;
}

/* Checkbox inner container */

.EntranceComponentStyle-checkbox .CheckBoxStyle-checkbox {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin: 0;
}

/* Custom checkbox visuals */

/* Label */

.EntranceComponentStyle-checkbox > .CheckBoxStyle-checkbox > label {
	width: auto;
	height: auto;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 1em;
}

/* Input (hidden) */

.EntranceComponentStyle-checkbox > .CheckBoxStyle-checkbox > label > input {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.EntranceComponentStyle-checkbox > .CheckBoxStyle-checkbox > label > .severitium-checkbox-text {
	font-size: 1.125em;
	white-space: nowrap;
}

/* Container of the checkbox */

.EntranceComponentStyle-checkbox > .CheckBoxStyle-checkbox > label > input + .severitium-checkbox-icon {
	width: 2.5em;
	height: 2.5em;
	flex-shrink: 0;
	overflow: visible;
}

/* Borders */

.EntranceComponentStyle-checkbox > .CheckBoxStyle-checkbox > label > input + .severitium-checkbox-icon rect {
	fill: transparent;
	stroke-width: .05em;
	stroke: var(--severitium-light-gray-color);
	transition: stroke .2 ease;
}

/* Checkbox checkmark */

.EntranceComponentStyle-checkbox > .CheckBoxStyle-checkbox > label > input + .severitium-checkbox-icon .tick {
	stroke: var(--severitium-green-color);
	stroke-dasharray: 100%;
	stroke-dashoffset: 100%;
	transition: stroke-dashoffset 0.2s ease-out;
	stroke-width: .15em;
}

/* Checkbox checkmark when input is checked */

.EntranceComponentStyle-checkbox > .CheckBoxStyle-checkbox > label > input:checked + .severitium-checkbox-icon .tick {
	stroke-dashoffset: 0%;
}

/* Help link on login step */

.EntranceComponentStyle-ContainerForm a:has(.EntranceComponentStyle-helpLink) {
	text-decoration: none;
	position: relative;
	padding: .25em 0;
}

/* Help link on hover */

.EntranceComponentStyle-ContainerForm a:has(.EntranceComponentStyle-helpLink):hover {
	text-decoration: none;
}

/* Help link text */

.EntranceComponentStyle-ContainerForm a .EntranceComponentStyle-helpLink {
	color: var(--severitium-white-text-color);
}

/* Help link custom visuals */

.EntranceComponentStyle-ContainerForm a > .EntranceComponentStyle-helpLink::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: .2em;
	background-color: var(--severitium-white-color);
	transition: width .2s ease;
}

/* Help link custom visuals on link hover */

.EntranceComponentStyle-ContainerForm a:hover > .EntranceComponentStyle-helpLink::after {
	width: 100%;
	border-radius: var(--severitium-border-radius);
}

/* Start screen container with logo, tankionline icon and text */

.EntranceComponentStyle-ContainerForm form > div.StartScreenComponentStyle-mainContainer {
	-webkit-transform: scale(.8);
			transform: scale(.8);
	transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease;
	-webkit-animation: startcontainer-animation 5s linear infinite;
			animation: startcontainer-animation 5s linear infinite;
}

/* Animation for start screen container with logo, tankionline icon and text */

@-webkit-keyframes startcontainer-animation {
	0%, 100% {
		-webkit-transform: scale(.8);
				transform: scale(.8);
	}
	50% {
		-webkit-transform: scale(1);
				transform: scale(1);
	}
}

@keyframes startcontainer-animation {
	0%, 100% {
		-webkit-transform: scale(.8);
				transform: scale(.8);
	}
	50% {
		-webkit-transform: scale(1);
				transform: scale(1);
	}
}

/* Buttons container in license agreement */

.LicenseComponentStyle-buttonsBlock {
	width: auto;
	display: flex;
	gap: 1em;
}

/* Error message container */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-messageContainer,
div:has(> .HeaderComponentStyle-messageTitle) {
	position: absolute;
	top: auto;
	left: auto;
	bottom: 2em;
	right: 2em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: .5em;
	width: auto;
	height: auto;
	border-radius: var(--severitium-border-radius);
	padding: .5em 1em;
	border: .1em solid var(--severitium-red-color);
	-webkit-backdrop-filter: blur(.25em);
			backdrop-filter: blur(.25em);
	background: none;
	background-color: var(--severitium-dark-transparent-background1);
}

/* Error message header */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-messageContainer .HeaderComponentStyle-messageTitle,
div > .HeaderComponentStyle-messageTitle {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	font-size: 1.25em;
	font-weight: bold;
	color: var(--severitium-white-text-color);
}

/* Error message text */

.HeaderComponentStyle-commonBlockContentPanel .HeaderComponentStyle-messageContainer .HeaderComponentStyle-messageBody,
div > .HeaderComponentStyle-messageBody {
	width: auto;
	min-width: 15em;
	max-width: 25em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: var(--severitium-white-text-color);
}

/* Entrance loader rotating circle */

.StartScreenComponentStyle-circleLoader {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-width: .4em;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0) var(--severitium-main-color) var(--severitium-main-color);
	border-radius: 50%;
	-webkit-animation: 1s linear infinite forwards severitium-rotate;
			animation: 1s linear infinite forwards severitium-rotate;
}

@-webkit-keyframes severitium-rotate {
	0% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}

@keyframes severitium-rotate {
	0% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}

/* Entrance bottom social network button container */

.SocialNetworksComponentStyle-container > div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5em;
	margin: 0;
	padding: .25em .5em;
}

/* Pseudo element for button hover animation */

.SocialNetworksComponentStyle-container > div::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--severitium-white-color);
	border-radius: var(--severitium-border-radius);
	opacity: .1;
	-webkit-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transform-origin: center;
	        transform-origin: center;
	transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease;
	z-index: 0;
}

/* Pseudo element on button hover */

.SocialNetworksComponentStyle-container > div:hover::before {
	-webkit-transform: scaleX(1);
	        transform: scaleX(1);
}

/* Entrance bottom social network button original icon */

.SocialNetworksComponentStyle-container > div > .SocialNetworkButtonComponentStyle-iconContainer > img {
	display: none;
}

/* Entrance bottom social network button custom icon */

.SocialNetworksComponentStyle-container > div > .SocialNetworkButtonComponentStyle-iconContainer {
	height: 2em;
	width: 2em;
	background-image: none;
	background-color: var(--severitium-white-color);
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-position: center;
			mask-position: center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-image: var(--severitium-general-status-question-mark-icon);
			mask-image: var(--severitium-general-status-question-mark-icon);
	transition: background-color .2s ease;
}

/* Entrance bottom social network button custom icon on button hover */

.SocialNetworksComponentStyle-container > div:hover > .SocialNetworkButtonComponentStyle-iconContainer {
	background-color: var(--severitium-main-color);
}

/* Facebook custom icon */

.SocialNetworksComponentStyle-container > div > .SocialNetworkButtonComponentStyle-iconContainer:has(> img[src*='facebook'i]) {
	-webkit-mask-image: var(--severitium-general-social-facebook-icon);
			mask-image: var(--severitium-general-social-facebook-icon);
}

/* Entrance bottom social network button text */

.SocialNetworksComponentStyle-container > div > .SocialNetworkButtonComponentStyle-textContainer > span {
	font-size: 1em;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: auto;
	color: var(--severitium-white-text-color) !important;
	transition: color .2s ease;
}

/* Entrance bottom social network button text on button hover */

.SocialNetworksComponentStyle-container > div:hover > .SocialNetworkButtonComponentStyle-textContainer > span {
	font-size: 1em;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: auto;
	color: var(--severitium-main-color) !important;
}

/* License container (after registration) */

.EntranceComponentStyle-ContainerForm .LicenseComponentStyle-container:not(:root):not(:root) {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5em;
}

/* License text block */

.EntranceComponentStyle-ContainerForm .LicenseComponentStyle-container .LicenseComponentStyle-textBlock {
	width: auto;
	margin: 0;
}

/* License text */

.EntranceComponentStyle-ContainerForm .LicenseComponentStyle-textBlock > span {
	font-size: 1em;
	color: var(--severitium-extra-light-gray-text-color);
}

/* License links */

.EntranceComponentStyle-ContainerForm .LicenseComponentStyle-textBlock a {
	position: relative;
	font-size: 1em;
	color: var(--severitium-main-color);
	text-decoration: none;
	transition: color .2s ease;
}

/* License links on hover */

.EntranceComponentStyle-ContainerForm .LicenseComponentStyle-textBlock a:hover {
	color: var(--severitium-white-text-color);
	text-decoration: none;
}