/* Shop main container */

.NewShopCommonComponentStyle-commonContainer {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	background: none;
	/* background: linear-gradient(to right, var(--severitium-black-color) 0%, transparent 25%, transparent 75%, var(--severitium-black-color) 100%); */
}

/* Gradient container of left shop side (image) */

.NewShopCommonComponentStyle-commonContainer > div:has(> .NewShopCommonComponentStyle-gradient) {
	width: 100%;
	z-index: 0;
	-webkit-mask-image: none;
	        mask-image: none;
	/* mask-image: linear-gradient(to right, var(--severitium-black-color) 0%, var(--severitium-black-color) 50%, transparent 100%); */
}

/* Gradient container of left shop side (image) pseudo-element */

.NewShopCommonComponentStyle-commonContainer > div:has(> .NewShopCommonComponentStyle-gradient)::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--severitium-dark-transparent-background2);
}

/* Gradient mask of left shop side */

.NewShopCommonComponentStyle-commonContainer .NewShopCommonComponentStyle-gradient {
	background-image: none;
	background: radial-gradient(circle, transparent 50%, var(--severitium-black-color) 100%);
	/* background: linear-gradient(var(--severitium-black-color) 0%, transparent 25%); */
}

/* Large card */

.LargeSingleCardComponentStyle-commonBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
	padding: 3em 0;
	box-sizing: border-box;
}

/* Large card background */

.LargeSingleCardComponentStyle-commonBlock > .Common-backgroundImageCover {
	box-sizing: border-box;
	background-size: cover;
	box-shadow: none;
	box-shadow: 0 0 .5em var(--severitium-black-color);
	/* border: .1em solid var(--severitium-light-gray-color); */
	border-radius: var(--severitium-border-radius);
}

/* Large card timer */

.LargeSingleCardComponentStyle-commonBlock > .Common-backgroundImageCover > div[class*="time"i] {
	background-color: var(--severitium-main-color);
	color: var(--severitium-black-text-color);
	border-radius: var(--severitium-border-radius);
}

/* Purchase button */

.LargeSingleCardComponentStyle-commonBlock > .Common-backgroundImageCover + div[class*="center"i] {
	position: relative;
	box-sizing: border-box;
	outline: none;
	box-shadow: none;
	-webkit-backdrop-filter: blur(.25em);
	        backdrop-filter: blur(.25em);
	border-radius: var(--severitium-border-radius);
	background: var(--severitium-gold-button-background);
	border: var(--severitium-gold-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.LargeSingleCardComponentStyle-commonBlock > .Common-backgroundImageCover + div[class*="center"i]:hover {
	background-color: var(--severitium-gold-button-background);
	outline: none;
	box-shadow: none;
	border: var(--severitium-gold-button-border-color-hover) solid .1em;
}

/* Button text */

.LargeSingleCardComponentStyle-commonBlock > .Common-backgroundImageCover + div[class*="center"i] > span {
	color: var(--severitium-gold-button-color);
}

/* Button hotkey container */

.LargeSingleCardComponentStyle-commonBlock > .Common-backgroundImageCover + div[class*="center"i] h3[class*="hotkey"i] {
	background: transparent;
	color: var(--severitium-dark-white-text-color);
	border: var(--severitium-light-gray-color) dashed .1em;
	border-radius: var(--severitium-border-radius);
}

/* Price text */

.LargeSingleCardComponentStyle-commonBlock > .Common-backgroundImageCover + div[class*="center"i] span[class*="price"i] {
	color: var(--severitium-extra-light-gray-text-color);
}

/* Discount container */

.LargeSingleCardComponentStyle-commonBlock > .Common-backgroundImageCover + div[class*="center"i] .ShopItemComponentStyle-discountContainer {
	background-color: var(--severitium-red-color);
	border-radius: var(--severitium-border-radius);
}

/* Discount text */

.LargeSingleCardComponentStyle-commonBlock > .Common-backgroundImageCover + div[class*="center"i] .ShopItemComponentStyle-discountContainer > h3 {
	color: var(--severitium-white-text-color);
}

/* Description text */

.LargeSingleCardComponentStyle-commonBlock > h4 {
	color: var(--severitium-extra-light-gray-text-color);
}

/* Limited offers container */

.ShopCategoryOfferSectionStyle-containerLimitOffers {
	scrollbar-color: var(--severitium-light-transparent-background2) transparent;
	scrollbar-width: thin;
}

/* Single limited offer container */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div {
	background: none;
	background-color: var(--severitium-dark-transparent-background1);
	box-shadow: none;
	-webkit-backdrop-filter: blur(.25em);
	        backdrop-filter: blur(.25em);
	border: .1em solid var(--severitium-gray-color);
	border-radius: var(--severitium-border-radius);
	transition: border-color .2s ease, background-color .2s ease;
}

/* Single limited offer container on hover */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div:hover {
	background: none;
	background-color: var(--severitium-dark-transparent-background2);
	box-shadow: none;
	border-color: var(--severitium-white-color);
}

/* Single limited offer text */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div > div:first-of-type > span > span {
	color: var(--severitium-white-text-color);
}

/* Single limited offer timer */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div > div[class*="time"i] {
	background-color: var(--severitium-main-color);
	color: var(--severitium-black-text-color);
	border-radius: var(--severitium-border-radius);
}

/* Single limited offer items container */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div > .SpecialItemComponentStyle-specialItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .25em;
}

/* Single limited offer item */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div > .SpecialItemComponentStyle-specialItem > div {
	background: none;
	background-color: var(--severitium-light-transparent-background3);
	border-radius: var(--severitium-border-radius);
}

/* First item */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div > .SpecialItemComponentStyle-specialItem > div:first-of-type {
	width: 100%;
	height: 100%;
}

/* First item when card has 3 items inside */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div > .SpecialItemComponentStyle-specialItem:has(> :nth-of-type(3)) > div:first-of-type {
	width: calc(50% - .25em / 2);
	height: 100%;
}

/* First item when card has 5 items inside */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div > .SpecialItemComponentStyle-specialItem:has(> :nth-of-type(5)) > div:first-of-type {
	width: calc(50% - .25em / 1.33);
	height: 100%;
}

/* First & second items when card has 2 items inside */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div > .SpecialItemComponentStyle-specialItem:has(> :nth-of-type(2)) > div:first-of-type,
.ShopCategoryOfferSectionStyle-containerLimitOffers > div > .SpecialItemComponentStyle-specialItem:has(> :nth-of-type(2)) > div:last-of-type {
	width: calc(50% - .25em / 2);
	height: 100%;
}

/* 3 items */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div > .SpecialItemComponentStyle-specialItem:has(> :nth-of-type(3)) > div:nth-of-type(2),
.ShopCategoryOfferSectionStyle-containerLimitOffers > div > .SpecialItemComponentStyle-specialItem:has(> :nth-of-type(3)) > div:nth-of-type(3) {
	width: calc(50% - .25em / 2);
	height: calc(50% - .25em / 2);
}

/* 5 items */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div > .SpecialItemComponentStyle-specialItem:has(> :nth-of-type(5)) > div:nth-of-type(2),
.ShopCategoryOfferSectionStyle-containerLimitOffers > div > .SpecialItemComponentStyle-specialItem:has(> :nth-of-type(5)) > div:nth-of-type(3),
.ShopCategoryOfferSectionStyle-containerLimitOffers > div > .SpecialItemComponentStyle-specialItem:has(> :nth-of-type(5)) > div:nth-of-type(4),
.ShopCategoryOfferSectionStyle-containerLimitOffers > div > .SpecialItemComponentStyle-specialItem:has(> :nth-of-type(5)) > div:nth-of-type(5) {
	width: calc(25% - .25em / 1.33);
	height: calc(50% - .25em / 2);
}

/* Disabled single limited offer item */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div:has(> .ShowcaseItemComponentStyle-disabledBackground) {
	opacity: .5;
	pointer-events: none;
	transition: none;
}

/* Single limited offer item text */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div > .SpecialItemComponentStyle-specialItem > div > span {
	color: var(--severitium-light-gray-text-color);
}

/* Price text for ruby currency */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div img[src*="ruby"i] + .ShowcaseItemComponentStyle-priceText {
	color: var(--severitium-ruby-color);
}

/* Price text for coin currency */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div img[src*="coin"i] + .ShowcaseItemComponentStyle-priceText {
	color: var(--severitium-tancoin-color);
}

/* Price text for crystal currency */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div img[src*="crystal"i] + .ShowcaseItemComponentStyle-priceText {
	color: var(--severitium-crystal-color);
}

/* Discount block */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div .ShowcaseItemComponentStyle-discountContainer > p {
	background-color: var(--severitium-red-color);
	border-radius: var(--severitium-border-radius);
	color: var(--severitium-white-text-color);
}

/* Disabled text "sold" block */

.ShopCategoryOfferSectionStyle-containerLimitOffers > div .ShowcaseItemComponentStyle-disabledReason {
	background: none;
	background-color: var(--severitium-red-color);
	color: var(--severitium-white-color);
}

/* Shop default small card */

.ShopCategoryOfferSectionStyle-containerItem > div > div[class*="item"i],
.ShopCategoryOfferSectionStyle-containerCoin > div > div[class*="item"i],
.ShopCategoryOfferSectionStyle-containerKitOffers > div > div[class*="item"i] {
	background: none;
	background-color: var(--severitium-dark-transparent-background1);
	box-shadow: none;
	-webkit-backdrop-filter: blur(.25em);
	        backdrop-filter: blur(.25em);
	border: .1em solid var(--severitium-gray-color);
	border-radius: var(--severitium-border-radius);
	transition: background-color .2s ease, border-color .2s ease;
}

/* Shop default small card on hover */

.ShopCategoryOfferSectionStyle-containerItem > div > div[class*="item"i]:hover,
.ShopCategoryOfferSectionStyle-containerCoin > div > div[class*="item"i]:hover,
.ShopCategoryOfferSectionStyle-containerKitOffers > div > div[class*="item"i]:hover {
	background: none;
	background-color: var(--severitium-dark-transparent-background2);
	box-shadow: none;
	border-color: var(--severitium-white-color);
}

/* Shop default small card on click */

.ShopCategoryOfferSectionStyle-containerItem > div > div[class*="item"i]:active,
.ShopCategoryOfferSectionStyle-containerCoin > div > div[class*="item"i]:active,
.ShopCategoryOfferSectionStyle-containerKitOffers > div > div[class*="item"i]:active {
	background: none;
	background-color: var(--severitium-light-transparent-background2);
	box-shadow: none;
	border-color: var(--severitium-white-color);
	-webkit-animation: none;
	        animation: none;
}

/* Disabled small card */

.ShopCategoryOfferSectionStyle-containerItem > div > div[class*="item"i]:has(> .ShowcaseItemComponentStyle-disabledBackground) {
	opacity: .5;
	pointer-events: none;
	transition: none;
}

/* Shop default small card amount text */

.ShopCategoryOfferSectionStyle-containerItem > div > div[class*="item"i] span.ShopItemComponentStyle-amount,
.ShopCategoryOfferSectionStyle-containerCoin > div > div[class*="item"i] span.ShopItemComponentStyle-amount,
.ShopCategoryOfferSectionStyle-containerKitOffers > div > div[class*="item"i] span.ShopItemComponentStyle-amount {
	color: var(--severitium-light-gray-text-color);
}

/* Shop default small card bonus amount */

.ShopCategoryOfferSectionStyle-containerCoin > div > div[class*="item"i] .ShopItemComponentStyle-bonus {
	background: none;
	background-color: var(--severitium-main-color);
	color: var(--severitium-black-text-color);
	border: none;
	outline: none;
	box-shadow: none;
	font-size: 1.5em;
	border-radius: calc(var(--severitium-border-radius) / 1.5);
}

/* Shop default small item card name text */

.ShopCategoryOfferSectionStyle-containerItem > div > div[class*="item"i] .ShopItemComponentStyle-containerName > span,
.ShopCategoryOfferSectionStyle-containerCoin > div > div[class*="item"i] .ShopItemComponentStyle-containerName > span,
.ShopCategoryOfferSectionStyle-containerKitOffers > div > div[class*="item"i] .ShopItemComponentStyle-containerName > span {
	color: var(--severitium-extra-light-gray-text-color);
}

/* Price text for real currency */

.ShopCategoryOfferSectionStyle-containerItem > div > div[class*="item"i] .ShopItemComponentStyle-footerContent {
	color: var(--severitium-light-gray-color);
}

/* Price text for ruby currency */

.ShopCategoryOfferSectionStyle-containerItem > div > div[class*="item"i] img[src*="ruby"i] + .ShowcaseItemComponentStyle-priceText,
.ShopCategoryOfferSectionStyle-containerItem > div > div[class*="item"i] img[src*="ruby"i] + .ShopItemComponentStyle-footerContent,
.ShopCategoryOfferSectionStyle-containerKitOffers > div > div[class*="item"i] img[src*="ruby"i] + .ShowcaseItemComponentStyle-priceText,
.ShopCategoryOfferSectionStyle-containerKitOffers > div > div[class*="item"i] img[src*="ruby"i] + .ShopItemComponentStyle-footerContent,
	.ShopCategoryOfferSectionStyle-containerCoin > div > div[class*="item"i] img[src*="ruby"i] + .ShowcaseItemComponentStyle-priceText {
	color: var(--severitium-ruby-color);
}

/* Price text for coin currency */

.ShopCategoryOfferSectionStyle-containerItem > div > div[class*="item"i] img[src*="coin"i] + .ShowcaseItemComponentStyle-priceText,
.ShopCategoryOfferSectionStyle-containerItem > div > div[class*="item"i] img[src*="coin"i] + .ShopItemComponentStyle-footerContent,
.ShopCategoryOfferSectionStyle-containerKitOffers > div > div[class*="item"i] img[src*="coin"i] + .ShowcaseItemComponentStyle-priceText,
.ShopCategoryOfferSectionStyle-containerKitOffers > div > div[class*="item"i] img[src*="coin"i] + .ShopItemComponentStyle-footerContent,
.ShopCategoryOfferSectionStyle-containerCoin > div > div[class*="item"i] img[src*="coin"i] + .ShowcaseItemComponentStyle-priceText {
	color: var(--severitium-tancoin-color);
}

/* Price text for crystal currency */

.ShopCategoryOfferSectionStyle-containerItem > div > div[class*="item"i] img[src*="crystal"i] + .ShowcaseItemComponentStyle-priceText,
.ShopCategoryOfferSectionStyle-containerItem > div > div[class*="item"i] img[src*="crystal"i] + .ShopItemComponentStyle-footerContent,
.ShopCategoryOfferSectionStyle-containerKitOffers > div > div[class*="item"i] img[src*="crystal"i] + .ShowcaseItemComponentStyle-priceText,
.ShopCategoryOfferSectionStyle-containerKitOffers > div > div[class*="item"i] img[src*="crystal"i] + .ShopItemComponentStyle-footerContent,
	.ShopCategoryOfferSectionStyle-containerCoin > div > div[class*="item"i] img[src*="crystal"i] + .ShowcaseItemComponentStyle-priceText {
	color: var(--severitium-crystal-color);
}

/* Discount block */

.ShopCategoryOfferSectionStyle-containerItem > div > div[class*="item"i] .ShowcaseItemComponentStyle-discountContainer > p,
.ShopCategoryOfferSectionStyle-containerCoin > div > div[class*="item"i] .ShowcaseItemComponentStyle-discountContainer > p,
.ShopCategoryOfferSectionStyle-containerKitOffers > div > div[class*="item"i] .ShowcaseItemComponentStyle-discountContainer > p {
	background-color: var(--severitium-red-color);
	border-radius: var(--severitium-border-radius);
	color: var(--severitium-white-text-color);
}

/* Disabled text "sold" block */

.ShopCategoryOfferSectionStyle-containerItem > div > div[class*="item"i] .ShowcaseItemComponentStyle-disabledReason {
	background: none;
	background-color: var(--severitium-red-color);
	color: var(--severitium-white-color);
}

/* Promocode container */

.PromoCodesComponentStyle-controlsWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 2em;
	background: none;
	background-color: var(--severitium-dark-transparent-background1);
	box-shadow: none;
	-webkit-backdrop-filter: blur(.25em);
	        backdrop-filter: blur(.25em);
	border: .1em solid var(--severitium-gray-color);
	border-radius: var(--severitium-border-radius);
}

/* Promocode input */

/* Input container */

.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput.SearchInputComponentStyle-searchInput {
	position: relative;
	height: 3em;
	border-radius: 0;
}

/* Input */

.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput input {
	box-shadow: none;
	border-radius: 0;
	border-bottom: .1em solid var(--severitium-light-gray-color);
	color: var(--severitium-white-text-color);
}

/* Input on hover */

.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput input:hover {
	box-shadow: none;
}

/* Input on focus */

.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput input:focus {
	border-color: var(--severitium-white-color);
}

/* Input's placeholder */

.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput input::-webkit-input-placeholder {
	color: var(--severitium-light-gray-text-color);
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
}

.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput input:-ms-input-placeholder {
	color: var(--severitium-light-gray-text-color);
	-ms-transition: color .2s ease;
	transition: color .2s ease;
}

.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput input::placeholder {
	color: var(--severitium-light-gray-text-color);
	transition: color .2s ease;
}

/* Placeholder of the input on input container hover & input on focus */

.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput:hover input::-webkit-input-placeholder,
.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput input:focus::-webkit-input-placeholder {
	color: var(--severitium-white-text-color);
}

.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput:hover input:-ms-input-placeholder,
.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput input:focus:-ms-input-placeholder {
	color: var(--severitium-white-text-color);
}

.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput:hover input::-webkit-input-placeholder, .PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput input:focus::-webkit-input-placeholder {
	color: var(--severitium-white-text-color);
}

.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput:hover input:-ms-input-placeholder, .PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput input:focus:-ms-input-placeholder {
	color: var(--severitium-white-text-color);
}

.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput:hover input::placeholder,
.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput input:focus::placeholder {
	color: var(--severitium-white-text-color);
}

/* Input error icon */

.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput input + div {
	position: absolute;
	width: 2em;
	height: 2em;
	top: 50%;
	right: .5em;
	background: none;
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path d="M250.26 166.05L256 288l5.73-121.95a5.74 5.74 0 00-5.79-6h0a5.74 5.74 0 00-5.68 6z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M256 367.91a20 20 0 1120-20 20 20 0 01-20 20z" fill="currentColor"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path d="M250.26 166.05L256 288l5.73-121.95a5.74 5.74 0 00-5.79-6h0a5.74 5.74 0 00-5.68 6z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M256 367.91a20 20 0 1120-20 20 20 0 01-20 20z" fill="currentColor"/></svg>');
	background-color: var(--severitium-red-color);
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

/* Input error message */

.PromoCodesComponentStyle-controlsWrapper .SearchInputComponentStyle-searchInput + span {
	font-size: .9em;
	color: var(--severitium-red-color);
}

/* Promocode button */

.PromoCodesComponentStyle-sendButton {
	margin: 0;
	background: none;
	outline: none;
	box-shadow: none;
	border-radius: var(--severitium-border-radius);
}

/* Promocode enabled button */

.PromoCodesComponentStyle-sendButton:not([class*="disabled"i]) {
	border-radius: var(--severitium-border-radius);
	background-color: var(--severitium-green-button-background);
	border: var(--severitium-green-button-border-color) solid .1em;
	transition: border .2s ease;
}

/* Button on hover */

.PromoCodesComponentStyle-sendButton:not([class*='disabled'i]):hover {
	background-color: var(--severitium-green-button-background);
	outline: none;
	box-shadow: none;
	border: var(--severitium-green-button-border-color-hover) solid .1em;
}

/* Button text */

.PromoCodesComponentStyle-sendButton:not([class*='disabled'i]) > span {
	color: var(--severitium-green-button-color);
}

/* Promocode disabled button */

.PromoCodesComponentStyle-sendButton[class*="disabled"i] {
	outline: none;
	box-shadow: none;
	border: transparent solid .1em;
	border-radius: var(--severitium-border-radius);
	background-color: var(--severitium-gray-button-background);
	pointer-events: none;
}

/* Button text */

.PromoCodesComponentStyle-sendButton[class*="disabled"i] > span {
	color: var(--severitium-gray-button-color);
	opacity: .5;
}

/* Shop bottom announcement/bonus container */

.NewShopCommonComponentStyle-containerAnnouncement,
.ShopCategoryComponentStyle-bonusContainer {
	background: none;
	background-color: var(--severitium-dark-transparent-background2);
	outline: none;
	box-shadow: none;
	border: .1em solid var(--severitium-gray-color);
	border-radius: var(--severitium-border-radius);
	-webkit-backdrop-filter: blur(.25em);
	        backdrop-filter: blur(.25em);
}

/* Shop bottom announcement/bonus icon */

.NewShopCommonComponentStyle-containerAnnouncement > div,
.ShopCategoryComponentStyle-bonusContainer > div {
	width: 1.5em;
	height: 1.5em;
	min-width: none;
	min-height: auto;
	background-color: var(--severitium-main-color);
	-webkit-mask-position: center center;
			mask-position: center center;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-size: contain;
			mask-size: contain;
}

/* Shop bottom announcement icon */

.NewShopCommonComponentStyle-containerAnnouncement > div {
	-webkit-mask-image: url('data:image/svg+xml,<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="m26.862 6 1.982-6H32l-6.673 20.207A5.5 5.5 0 0 1 20.098 24H4v-3h16.098a2.5 2.5 0 0 0 2.377-1.724L22.896 18H4L0 6zM7 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6m16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/></svg>');
			mask-image: url('data:image/svg+xml,<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="m26.862 6 1.982-6H32l-6.673 20.207A5.5 5.5 0 0 1 20.098 24H4v-3h16.098a2.5 2.5 0 0 0 2.377-1.724L22.896 18H4L0 6zM7 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6m16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/></svg>');
}

/* Shop bottom bonus icon */

.ShopCategoryComponentStyle-bonusContainer > div {
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 3.75H5.58a1.83 1.83 0 0 1-1.83-1.83C3.75.287 5.722-.529 6.875.624zm0 0L13.125.625C14.278-.528 16.25.288 16.25 1.919a1.83 1.83 0 0 1-1.83 1.83z"/><path clip-rule="evenodd" d="M0 6.25C0 5.56.56 5 1.25 5h17.5c.69 0 1.25.56 1.25 1.25v2.5c0 .69-.56 1.25-1.25 1.25H1.25C.56 10 0 9.44 0 8.75zm11.25 2.5V5h-2.5v3.75z"/><path d="M18.75 18.75v-7.5h-7.5v7.5h-2.5v-7.5h-7.5v7.5c0 .69.56 1.25 1.25 1.25h15c.69 0 1.25-.56 1.25-1.25"/></svg>');
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 3.75H5.58a1.83 1.83 0 0 1-1.83-1.83C3.75.287 5.722-.529 6.875.624zm0 0L13.125.625C14.278-.528 16.25.288 16.25 1.919a1.83 1.83 0 0 1-1.83 1.83z"/><path clip-rule="evenodd" d="M0 6.25C0 5.56.56 5 1.25 5h17.5c.69 0 1.25.56 1.25 1.25v2.5c0 .69-.56 1.25-1.25 1.25H1.25C.56 10 0 9.44 0 8.75zm11.25 2.5V5h-2.5v3.75z"/><path d="M18.75 18.75v-7.5h-7.5v7.5h-2.5v-7.5h-7.5v7.5c0 .69.56 1.25 1.25 1.25h15c.69 0 1.25-.56 1.25-1.25"/></svg>');
}

/* Shop bottom announcement/bonus text */

.NewShopCommonComponentStyle-containerAnnouncement > span,
.ShopCategoryComponentStyle-bonusContainer > span {
	color: var(--severitium-extra-light-gray-text-color);
}