/* Original star icon (as background-image) */

.BackgroundImageComponentStyle-starIcon {
    background: none;
    position: relative;
}

/* Custom star icon for background images */

.BackgroundImageComponentStyle-starIcon::before {
    content: '';
    display: block;
    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#f3d32d" d="m16 1.455 5.219 8.816 9.998 2.239-6.772 7.688.96 10.2L16 26.333l-9.405 4.065.96-10.2L.783 12.51l9.998-2.239z"/></svg>');
}